<include file="Public:head"/>

<link rel="stylesheet" href="__JqColor__/css/colpick.css" type="text/css"/>
<!-- 颜色选择器插件 -->
<style>
    .btn-success {
        margin-top: 12px;
    }
    .formitems #addimage1{
        width: 80px;
        height: 56px;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        cursor: pointer;
        opacity: 0;
    }
    .formitems #addimage2{
        width: 80px;
        height: 56px;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        cursor: pointer;
        opacity: 0;
    }

    .formitems #editimage1{
        width: 80px;
        height: 56px;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        cursor: pointer;
        opacity: 0;
    }

    .formitems #editimage2{
        width: 80px;
        height: 56px;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        cursor: pointer;
        opacity: 0;
    }
</style>
<div class="container">
    <div class="inner clearfix"> <include file="Public:left"/>
        <!-- end content-left -->

        <div class="content-right fl">
            <h1 class="content-right-title">信用卡类型列表</h1>
            <div class="alert alert-info disable-del">
              <h4>提示</h4>
              删除分类会删除分类下面所有的产品 <a href="javascript:;" class="alert-delete" title="隐藏"> <i class="gicon-remove"></i></a></div>
            <form action="" method="post">
                <div class="clearfix"> <a href="javascript:;" class="btn btn-success fl BtnAddClass">添加类型</a>

                    <!--<div class="tables-searchbox fr">
                                    <input type="text" placeholder="分类名称" class="input" name="class_name" value="">
                                    <button class="btn"><i class="gicon-search"></i>查询</button>
                                </div>-->
                </div>
            </form>
            <table class="wxtables mgt15">
                <colgroup>
                    <col width="2%">
                    <col width="5%">
                    <col width="20%">
                    <col width="20%">
                    <col width="15%">
                    <col width="20%">
                    <col width="38%">
                </colgroup>
                <thead>
                <tr>
                    <td><i class="icon_check"></i></td>
                    <td>id</td>
                    <td>属性名称</td>
                    <td>logo</td>
                    <td>排序</td>
                    <td >创建时间</td>
                    <td class="center">操作</td>
                </tr>
                </thead>
                <tbody>
                <foreach name="attr_A" item="vo" >
                    <tr>
                        <td class="center"><input type="checkbox" class="checkbox table-ckbs" data-id="9788"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.classname}</td>
                        <empty name="vo['logo_pic']">
                            <td></td>
                            <else />
                            <td><img src="{$vo.logo_pic}" width="20%;" alt="" ></td>
                        </empty>
                        <td>{$vo.sort}</td>
                        <td>{$vo.create_at|date="Y-m-d H:i:s",###}</td>
                        <td class="center"><a href="javascript:void(0);" class="btn btn-primary j-editClass" data-classname="{$vo.classname}" data-logo-pic="{$vo.logo_pic}" data-pid="{$vo.pid}" data-sort="{$vo.sort}" data-id="{$vo.id}">编辑</a>
                            <a href="javascript:void(0);" class="btn btn-warning j-delClass" onclick="return confirm('确定要删除吗？')" data-id="{$vo.id}">删除</a>
                            <!-- <a href="javascript:;" class="btn btn-warning j-able" data-able="enable" title="禁用" data-id="9788">禁用</a>
                                        --></td>
                    </tr>

                    <foreach name="attr_B" item="v" >
                        <if condition="$v['pid'] eq $vo['id']">
                            <tr>
                                <td class="center"><input type="checkbox" class="checkbox table-ckbs" data-id="9788"></td>
                                <td>{$v.id}</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;|-{$v.classname}</td>
                                <empty name="v['logo_pic']">
                                    <td></td>
                                    <else />
                                    <td><img src="{$v.logo_pic}" width="20%" alt=""></td>
                                </empty>
                                <td>{$v.sort}</td>
                                <td>{$v.create_at|date='Y-m-d H:i:s',###}</td>
                                <td class="center">
                                    <a href="javascript:void(0);" class="btn btn-primary j-editClass" title="1"  data-pic="{$v.pic}" data-id="{$v.id}" data-logo-pic="{$v.logo_pic}" data-classname="{$v.classname}" data-sort="{$v.sort}" data-apply="{$v.apply}" data-shortname="{$v.shortname}" data-pid="{$v.pid}">编辑</a>

                                    <a href="javascript:void(0);" class="btn btn-warning j-delClass" title="删除" data-id="{$v.id}" onclick="return confirm('确定要删除吗？')" >删除</a>
                                </td>
                            </tr>
                        </if>
                    </foreach>
                </foreach>
                </tbody>
            </table>
            <!-- end wxtables -->
            <div class="tables-btmctrl clearfix">
                <div class="fl"> <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a> <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>
                    <!--<a href="javascript;" class="btn btn-primary btn_table_delAll">批量删除</a></div>-->
                    <div class="fr">
                        <!--<div class="paginate">-->

                        <div class="pages">
                            <!--</div>-->
                            {$page}
                        </div>
                        <!-- end paginate -->
                    </div>
                </div>
                <!-- end tables-btmctrl -->
            </div>
            <!-- end content-right -->
        </div>
    </div>
    <!-- end container -->
    <include file="Public:foot"/>
    <div id="albums-overlay" class="disshow"></div>
    <div class="jbox addfenlei disshow">
        <div class="jbox-title">
            <div class="jbox-title-txt" id="catdiv">添加/编辑类型</div>
            <a href="javascript:;" class="jbox-close cancle"></a></div>
        <div class="jbox-container" style="height: 263px;">

            <div class="formitems">
                <label class="fi-name"><span class="colorRed">*</span>类型名称：</label>
                <div class="form-controls">
                    <input type="text" class="input classname" name="classname" id="attrname">
                    <span class="fi-help-text"></span> </div>
            </div>
            <div class="formitems">
                <label class="fi-name"><span class="colorRed"></span>上级类型：</label>
                <div class="form-controls">
                    <select name='fid' style='padding:5px;border: 1px solid #ccc;width:182px' id='fid'>
                        <option value="0">--顶级类型--</option>
                        <volist name="attr_A" id="v">
                            <option value="{$v['id']}">{$v['classname']}</option>
                        </volist>
                    </select>
                    <span class="fi-help-text"></span> </div>
            </div>
            <div class="formitems">
                <label class="fi-name"><span class="colorRed">*</span>申请链接：</label>
                <div class="form-controls">
                    <input type="text" class="input applyUrl" name="applyUrl" id="applyUrl">
                    <span class="fi-help-text"></span> </div>
            </div>
            <div class="formitems">
                <label class="fi-name"><span class="colorRed">*</span>银行缩写：</label>
                <div class="form-controls">
                    <input type="text" class="input shortname" name="shortname" id="shortname">
                    <span class="fi-help-text"></span> </div>
            </div>
            <div class="formitems" style=" height:60px;">
                <label class="fi-name"><span class="colorRed"></span>银行logo：</label>
                <div class="form-controls images">
                    <div class="showimg"></div>
                    <div class="imagesadd">+</div>
                    <input type="file" accept="image/jpg,image/jpeg,image/png,image/svg" class="input sort" name="serial" id="addimage" >
                    <div class="progress">
                        <div class="bar"></div>
                        <!--&lt;!&ndash;<div class="percent"></div>&ndash;&gt;-->
                    </div>
                    <span class="fi-help-text" style="left:85px; position:absolute; top:40px; width:150px; height:20px;">建议大小(宽40高40)</span>
                </div>
                <div style="clear"></div>
            </div>
            
            <div class="formitems" style=" height:60px;">
                <label class="fi-name"><span class="colorRed"></span>银行图片：</label>
                <div class="form-controls images">
                    <div class="showimg1" style="position: relative;z-index: 9;"></div>
                    <div class="imagesadd">+</div>
                    <input type="file" accept="image/jpg,image/jpeg,image/png,image/svg" class="input pic1" name="serial" id="addimage1" >
                    <div class="progress">
                        <div class="bar"></div>
                        <div class="percent"></div>
                    </div>
                    <span class="fi-help-text" style="left:85px; position:absolute; top:40px; width:150px; height:20px;">建议大小（宽120高50）</span>
                </div>
            </div>
            <div class="formitems">
                <label class="fi-name"><span class="colorRed"></span>类型排序：</label>
                <div class="form-controls">
                    <input type="text" class="input" id="addsort" name="serial" >
                    <span class="fi-help-text"></span> </div>
            </div>
        </div>
        <div class="jbox-buttons"><a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="addattr">确定</a><a
                href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
    </div>


    <script>
        //编辑显示
        $('.j-editClass').click(function(){
            var classname = $(this).attr('data-classname');
            var sort = $(this).attr('data-sort');
            var pid = $(this).attr('data-pid');
            var id = $(this).attr('data-id');
            var logo_pic = $(this).attr('data-logo-pic');
            var pic = $(this).attr('data-pic');
            var apply = $(this).attr('data-apply');
            var shortname = $(this).attr('data-shortname');
            $("#applyUrl").val(apply);
            $('#addattr').attr('data-id',id);
            $('#attrname').val(classname);
            $('#addsort').val(sort);
            $('#shortname').val(shortname);
            $('#fid').val(pid).attr('selected','selected');
            //放图片
            $('.showimg').empty();
            if(logo_pic){
                var img = '<img src="'+logo_pic+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="pic" id="addpic" value="'+logo_pic+'">';
                $('.showimg').html(img);
            }
           $('.showimg1').empty();
            if(pic){
                var img = '<img src="'+pic+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="pic" id="addpic1" value="'+pic+'">';
                $('.showimg1').html(img);
            }
            $('.addfenlei').show();
            $('#albums-overlay').show();
        })
        //添加分类
        $('#addattr').click(function(){
            var classname = $('#attrname').val();
            var pid = $('#fid').val();
            var sort = $('#addsort').val();
            var id = $(this).attr('data-id');
            var logo_pic = $('#addpic').val();
            var pic      = $('#addpic1').val();
            var applyUrl = $('#applyUrl').val();
            var shortname = $('#shortname').val();
            if(!classname){
                alert('请填写分类名称！');
            }
            $.ajax({
                url:"{:U('Admin/Creditcard/card_add_edit')}",
                data:{
                    classname:classname,
                    pid:pid,
                    sort:sort,
                    id:id,
                    logo_pic:logo_pic,
                    pic:pic,
                    applyUrl:applyUrl,
                    shortname:shortname
                },
                dataType:'json',
                type:'post',
                success:function(data){
                    if(data.status == 0){
                        alert(data.info);
                    }else{
                        dialog.showTips(data.info,'firm',function(){
                            window.location.reload();
                        });
                    }
                }
            })
        })
    </script>


    <script type="text/javascript" src="__JS__/jquery-form.js"></script>
    <script src="__JqColor__/js/colpick.js" type="text/javascript"></script>
    <!--银行logo-->
    <script type="text/javascript">
        $(".cancle").click(function(){
            $(this).parent().parent('.jbox').hide();
            $('#albums-overlay').hide();
        })
        $(function () {
            var progress = $(".img");
            var bar = $('.bar') ;
            var percent = $('.percent');
            var progress = $('.progress');
            $("#addimage").wrap("<form id='myupload' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
            $("#addimage").change(function(){ //选择文件
                $("#myupload").ajaxSubmit({
                    dataType:  'json', //数据格式为json
                    beforeSend: function() { //开始上传
                        progress.show(); //显示进度条
                        var percentVal = '0%';
                        bar.width(percentVal);
                        percent.html(percentVal);
                    },
                    uploadProgress: function(event, position, total, percentComplete) {
                        var percentVal = percentComplete + '%'; //获得进度
                        bar.width(percentVal); //上传进度条宽度变宽
                        percent.html(percentVal); //显示上传进度百分比
                    },
                    success: function(data) { //成功
                        var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="logo_pic" id="addpic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
                        $('.showimg').empty();
                        $('.showimg').html(img);
                        $("#addimage").val('');
                        progress.hide();
                    },
                    error:function(xhr){ //上传失败
                        //console.log(xhr.status)
                    }
                });
            });
            
           var progress = $(".img");
            var bar = $('.bar') ;
            var percent = $('.percent');
            var progress = $('.progress');
            $("#addimage1").wrap("<form id='myupload2' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
            $("#addimage1").change(function(){ //选择文件
                $("#myupload2").ajaxSubmit({
                    dataType:  'json', //数据格式为json
                    beforeSend: function() { //开始上传
                        progress.show(); //显示进度条
                        var percentVal = '0%';
                        bar.width(percentVal);
                        percent.html(percentVal);
                    },
                    uploadProgress: function(event, position, total, percentComplete) {
                        var percentVal = percentComplete + '%'; //获得进度
                        bar.width(percentVal); //上传进度条宽度变宽
                        percent.html(percentVal); //显示上传进度百分比
                    },
                    success: function(data) { //成功
                        var img = '<img src="__ROOT__'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="pic" id="addpic1" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
                        $('.showimg1').html(img);
                        $("#addimage1").val('');
                        progress.hide();
                    },
                    error:function(xhr){ //上传失败
                        //console.log(xhr.status)
                    }
                });
            });
        });

    </script>
    <script>

    </script>

    <!--添加分类-->

    <script type="text/javascript">
        $(".BtnAddClass").click(function(){
            $('#attrname').val('');
            $('option').removeAttr('selected');
            $('.showimg').empty();
            $('.addfenlei').show();
            $('#albums-overlay').show();
            $("#color").focus(function(){
                $("#picker").attr("style","display:block,position:absolute !important;");
            })
            $('#picker').colpick({
                flat:true,
                layout:'hex',
                submit:0
            });
        })
    </script>
    <!--删除分类-->
    <script type="text/javascript">
        $('.j-delClass').click(function(){
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:U('/Admin/Creditcard/card_del')}",
                type: "post",
                dataType: "json",
                data: {
                    id:id
                }
            }).done(function (g) {
                if (g.status == 1) {
                    dialog.showTips(g.info,'firm',function(){
                        window.location.reload();
                    });
                } else {
                    alert(g.info);
                }
            })
        });
    </script>
