<include file="Public:head"/>
<link rel="stylesheet" href="__CSS__//lists.css">

<div class="container">
    <div class="inner clearfix"> <include file="Public:left"/>
        <!-- end content-left -->

        <div class="content-right fl">
            <h1 class="content-right-title">信用卡列表</h1>
            <a href="{:U('/Admin/Creditcard/creditcard_add')}" class="btn btn-success">发布产品</a>
            <form action="{:U('Admin/creditcard/index')}" method="get">
                <div class="tables-searchbox newcearchbox">


                    <!--<select name="cate_id" class="select small newselect">
                        <option value="" selected="">所有分类</option>
                        <foreach name="categorylist" item="vo">
                            <option value="{$vo.id}">{$vo.classname}</option>
                            <foreach name="vo.cate" item="vo1">
                                <option value="{$vo1.id}">&nbsp;&nbsp;&nbsp;|-{$vo1.classname}</option>
                            </foreach>
                        </foreach>
                    </select>-->


                    <input type="text" placeholder="信用卡名称" class="input" name="title" value="{$title}" >
                    <select name="is_recommend" class="select">
                        <option value="0" <eq name="is_recommend" value="0">selected="selected"</eq>>推荐</option>
                        <option value="1" <eq name="is_recommend" value="1">selected="selected"</eq>>不推荐</option>
                    </select>
                    <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
                </div>
                <div class="tabs clearfix mgt10">
                    <!--<a href="{:U('/Admin/Goods/goodsList')}" class="<eq name="_GET['is_sale']" value="">active</eq> tabs_a fl">全部({$counts})</a>-->
                    <!--<a href="{:U('/Admin/Goods/goodsList/is_sale/2')}" class="<eq name="_GET['is_sale']" value="2">active</eq> tabs_a fl">出售中({$count1})</a>-->
                    <!--<a href="{:U('/Admin/Goods/goodsList/is_sale/1')}" class="<eq name="_GET['is_sale']" value="1">active</eq> tabs_a fl">仓库中({$count2})</a>-->

                </div>
            </form>
            <!-- end tabs -->

            <table class="wxtables mgt10" style="text-align:center;">
                <colgroup>
                    <col width="2%">
                    <col width="2%">
                    <col width="10%">
                    <col width="6%">
                    <col width="10%">
                    <col width="2%">
                    <col width="5%">
                    <col width="15%">

                </colgroup>
                <thead>
                <tr class="po_list">
                    <td><i class="icon_check"></i></td>
                    <td>ID</td>
                    <td>名称</td>
                    <td>产品LOGO</td>
                    <td>产品副图</td>
                    <td>排序</td>
                    <td>状态</td>
                    <td>操作<span></span></td>
                </tr>
                </thead>
                <tbody>
                <foreach name="cc_res" item="vo">
                    <tr>
                        <td><input type="checkbox" class="checkbox table-ckbs" data-id="{$vo['id']}"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.creditname}</td>

                        <td>
                            <empty name="vo['logo_img']">
                                无
                                <else/>
                                <img src="{$vo['logo_img']}" width="100%" alt="">
                            </empty>
                        </td>
                        <td>
                            <empty name="vo.small_imgs">
                                无
                            <else/>
                                <volist name="vo.small_imgs" id="voo">
                                    <img src="{$voo}" width="70px;" alt="" />
                                </volist>
                            </empty>
                        </td>
                        <td>{$vo.sort}</td>
                        <td align="center">
                            <switch name="vo.is_recommend">
                                <case value="0">推荐</case>
                                <case value="1"><i style="color:red">不推荐</i></case>
                            </switch>
                        </td>
                        <td>
                            <switch name="vo.is_recommend">
                                <case value="0">
                                    <a href="javascript:void(0);" class="btn btn-warning updstatus" title="禁用" data-id="{$vo.id}">不推荐</a>
                                </case>
                                <case value="1">
                                    <a href="javascript:void(0);" class="btn btn-success updstatus" style="margin-top: 0px;" title="启用" data-id="{$vo.id}">推荐</a>
                                </case>
                            </switch>
                            <a href="{:U('/Admin/Creditcard/creditcard_add/id')}/{$vo.id}" class="btn btn-primary j-editClass" title="修改">详情|编辑</a>
                            <!--<a href="##" class="btn change-is_sale <eq name="vo['is_sale']" value="0">btn-success<else />btn-danger</eq>" data-id="{$vo.id}"  title="上架"><eq name="vo['is_sale']" value="0">上架<else />下架</eq></a>-->
                            <a href="{:U('/Admin/Creditcard/creditcard_del/id')}/{$vo.id}" onclick="{if(!confirm('确定删除产品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除" data-id="2151938">删除</a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <!-- end wxtables -->
            <div class="tables-btmctrl clearfix">
                <div class="fl">
                    <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
                    <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>

                    <div class="fr">
                        <div class="pages"> {$page} </div>
                        <!-- end paginate -->
                    </div>
                </div>
                <!-- end tables-btmctrl -->

            </div>
            <!-- end content-right -->
        </div>
    </div>
    <!-- end container -->
    <include file="Public:foot"/>
    <script>
        $(".change-status").click(function (){
            var _this= $(this)
            var id   = $(this).attr("data-id");
            var item = $(this).attr("data-item");
            $.post("{:U('Admin/Goods/changeStatus')}", {id:id,item:item}, function(data){
                if(data.status == 1){
                    _this.css({color:"#0C0"}).html("√");
                }else if(data.status == 2){
                    _this.css({color:"#c00"}).html("×");
                }else{
                    alert(data.info);
                }
            }, "json")
        })
        $(".change-all-status").click(function (){
            if(!confirm("确定改变所有选中产品的状态？")){
                return false;
            }
            var ids = "";
            var item = $(this).attr("data-item");
            $(".table-ckbs:checked").each(function(i){
                ids += $(this).attr("data-id")+"-"
            })
            if(!ids){
                alert("请选择产品！");return false;
            }
            $.post("{:U('Admin/Goods/changeAllStatus')}" ,{ids:ids,item:item}, function (data){
                if(data.status){
                    window.location.reload();
                }else{
                    alert(data.info);
                }
            })
        })
        $(".change-is_sale").click(function (){
            var id   = $(this).attr("data-id");
            var item = "is_sale";
            $.post("{:U('Admin/Goods/changeStatus')}", {id:id,item:item}, function(data){
                if(data.status){
                    window.location.reload()
                }else{
                    alert(data.info);
                }
            }, "json")
        })
        $(".btn_table_delAll").click(function(){
            if(!confirm("确定删除所有选中的产品？")){
                return false;
            }
            var ids = "";
            $(".table-ckbs:checked").each(function(i){
                ids += $(this).attr("data-id")+"-"
            })
            if(!ids){
                alert("请选择产品！");return false;
            }
            $.post("{:U('Admin/Goods/delGoods')}" ,{ids:ids}, function (data){
                alert(data.info);
                if(data.status){
                    window.location.reload();
                }
            })
        })

        $(".updstatus").click(function(){
          var id=$(this).attr("data-id");
            $.post("{:U('Admin/Creditcard/updstatus')}" ,{id:id}, function (data){
                if(data.status==1){
                    window.location.reload();
                }
            })
        })

    </script>