<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">
    <div class="index_container">
        <div class="detail_card">
            <!--sec1-->
            <div class="carddot1">
                <div class="carddot1_l">
                    <div class="carddot1_l_l">
                        <img src="__IMAGES__/dc1.png" width="100%" alt=""/>
                        <h3>交通银行Y-POWER卡[系列]</h3>
                        <h4>消费1元积2积分 可兑换航空里程</h4>
                        <h4>最高1000元航班延误险</h4>
                        <h4>24小时免费意外入院医疗保险</h4>
                        <a href="#"><img src="__IMAGES__/dc_fx.png" alt=""/>分享</a>
                    </div>
                    <div class="carddot1_l_r">
                        <h3>中信银联标准IC信用卡</h3>
                        <div class="card_qy">小编点评：<span>积分可兑3000多种礼品 还可兑航空里程</span></div>
                        <div class="card_xzkl">选择卡类：
                            <span class="kalei_active"><img src="__IMAGES__/dc1.png"/>银联金卡</span>
                            <span><img src="__IMAGES__/dc1.png"/>权益自由选择</span>
                            <span><img src="__IMAGES__/dc1.png"/>终身免年费</span>
                            <div class="clear"></div>
                        </div>
                        <div class="card_kzz">
                            <span>卡组织：</span>
                            <img src="__IMAGES__/dc_yl.png" alt=""/>
                        </div>
                        <div class="card_ljsq">
                            <h5>已选择“银联金卡”</h5>
                            <a href="#"><img src="__IMAGES__/dc_card.png" />立即申请</a>已有143848人申请
                            <h6><span>等级：</span>金卡</h6>
                            <h6><span>币种：</span>人民币</h6>
                            <h6><span>年费：</span>开卡当月刷卡消费或取现一次（不限金额）免首年免费，首年再刷卡消费或取现五次（不限金额）免次年年费，以此类推</h6>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="carddot1_r">
                    <div class="carddot1_r_top">
                        <img src="__IMAGES__/dc_zx.jpg" width="100%" alt=""/>
                        <h2>信用卡客服： <span> 400-88-95558</span></h2>
                        <div class="dc_lvdu">
                            <span>批卡率</span>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                        </div>
                        <div class="dc_lvdu">
                            <span>优惠力度</span>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                        </div>
                        <div class="dc_lvdu">
                            <span>发卡速度</span>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                            <img src="__IMAGES__/dc_star2.png" alt=""/>
                        </div>
                    </div>

                    <ul>
                        <li class="cdot1"><a href="#">办卡进度查询</a></li>
                        <li class="cdot2"><a href="#">激活方式查询</a></li>
                        <li class="cdot3"><a href="#">银行网点查询</a></li>
                        <li class="cdot4"><a href="#">还款方式查询</a></li>
                        <li class="cdot5"><a href="#">分期付款计算器</a></li>
                        <li class="cdot6" style="border: none"><a href="#">银行贷款查询</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!--sec1-->


            <!--sec2-->
            <div class="carddot2">
                <div class="carddot2_l">
                    <ul class="carddot2_l_list">
                        <li class="active" ><a href="javascript:void(0);" class="tiaojian">基本信息</a></li>
                        <li><a href="javascript:void(0);" class="cailiao">专项特权</a></li>
                        <li><a href="javascript:void(0);" class="wenti">相关费用</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="carddot2_l_cot">
                        <div class="carddot2_l_cot1" id="tiaojian">
                            <div class="carddot2_l_tit">
                                <h4>基本信息</h4>
                            </div>
                            <div class="carddot2_l_tj">
                                <ul>
                                    <li><span>年费政策：</span><h5>开卡当月刷卡消费或取现一次（不限金额）免首年免费，首年再刷卡消费或取现五次（不限金额）免次年年费，以此类推</h5><div class="clear"></div></li>
                                    <li><span>积分规则：</span><h5>金卡消费或提现人民币1元或港币1元可积2分</h5><div class="clear"></div></li>
                                    <li><span>积分有效期：</span><h5>有效期1-2年，账单年最后一天的积分有效期为1年，第一天积分有效期2年。</h5><div class="clear"></div></li>
                                    <li><span>取现：</span><h5>最高取现比例30%，取现手续费为取现金额的2%，最低境内收费20元</h5><div class="clear"></div></li>
                                    <li><span>最低还款比例：</span><h5>10%</h5><div class="clear"></div></li>
                                    <li><span>免息期：</span><h5>最短20天，最长50天</h5><div class="clear"></div></li>
                                    <li><span>短信通知：</span><h5>中信银行信用卡交易短信通知</h5><div class="clear"></div></li>
                                    <li><span>失卡保障：</span><h5>中信银行信用卡可享受48小时挂失前失卡保障服务，每月收取4元</h5><div class="clear"></div></li>
                                    <li><span>申请条件：</span><h5>凡具有完全民事行为能力的自然人，均可凭本人有效身份证件及发卡机构要求的其他文件向发卡机构申请中信信用卡个人卡主卡。凡在中国境内金融机构开立基本账户，具有独立法人资格的企业、行政事业单位、部队、社会团体、法人授权的其他经济组织等，可凭中国人民银行核发的开户许可证等资料向发卡机构申领中信公务卡。公务卡持卡人的资格由单位法定代表人或其委托的代理人书面指定和撤销。每个单位可申请多张公务卡 。</h5><div class="clear"></div></li>
                                    <li><span>申请材料：</span><h5>申请人（主、附属卡）身份证明文件复印件；工作证明文件，如：加盖单位公章的工作证复印件或单位开具的工作证明原件；财力证明文件，如：单位开具的收入证明原件，或银行存款证明原件，或显示申请人姓名的银行代发工资记录复印件，或所得税扣缴凭证复印件，或自有房产证复印件等。</h5><div class="clear"></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="carddot2_l_cot1" id="cailiao">
                            <div class="carddot2_l_tit">
                                <h4>专享特权</h4>
                            </div>
                            <div class="carddot2_l_tj tq_carddot2_l_tj">
                                <ul>
                                    <li>
                                        <span>年费政策：</span><h5>消费1元积2积分 可兑换航空里程</h5><div class="clear"></div>
                                        <h6>消费或提现人民币1元或港币1元可积2分，3000多种礼品可兑换，还可兑换南航、国航、东航航空里程。</h6><div class="clear"></div>
                                    </li>
                                    <li>
                                        <span>年费政策：</span><h5>最高1000元航班延误险</h5><div class="clear"></div>
                                        <h6>通过指定订票渠道为本人及同行配偶、父母、子女订购机票并全额支付机票款，可获赠高额航班延误保险。普卡、金卡持卡人航班延误4小时，最高可获赔人民币1,000元；白金卡持卡人航班延误4小时，最高可获赔人民币1,000元。</h6><div class="clear"></div>
                                    </li>
                                    <li>
                                        <span>年费政策：</span><h5>24小时免费意外入院医疗保险</h5><div class="clear"></div>
                                        <h6>中信信用卡为您提供独有的尊贵服务，若不慎发生意外，您可获得紧急援助，入住就近网络医院，并获得无限卡、世界卡、钻石卡、御尊卡、白金卡、家乐福乐享卡、钛金卡高达人民币10000元，金卡、普卡高达人民币5000元的意外入院医疗保险金。（详情以保险条款及细则为准）</h6><div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carddot2_l_cot1" id="wenti">
                            <div class="carddot2_l_tit">
                                <h4>相关费用</h4>
                            </div>
                            <div class="carddot2_l_tj">
                                <ul>
                                    <li><span>取现：</span><h5>开卡当月刷卡消费或取现一次（不限金额）免首年免费，首年再刷卡消费或取现五次（不限金额）免次年年费，以此类推</h5><div class="clear"></div></li>
                                    <li><span>还款：</span><h5>金卡消费或提现人民币1元或港币1元可积2分</h5><div class="clear"></div></li>
                                    <li><span>违约金：</span><h5>有效期1-2年，账单年最后一天的积分有效期为1年，第一天积分有效期2年。</h5><div class="clear"></div></li>
                                    <li><span>超限费：</span><h5>最高取现比例30%，取现手续费为取现金额的2%，最低境内收费20元</h5><div class="clear"></div></li>
                                    <li><span>溢缴费：</span><h5>10%</h5><div class="clear"></div></li>
                                    <li><span>挂失费：</span><h5>最短20天，最长50天</h5><div class="clear"></div></li>
                                    <li><span>补卡费：</span><h5>中信银行信用卡交易短信通知</h5><div class="clear"></div></li>
                                    <li><span>分期费率：</span><h5>中信银行信用卡可享受48小时挂失前失卡保障服务，每月收取4元</h5><div class="clear"></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carddot2_r">
                    <div class="carddot2_r_top">
                        <div class="carddot2_r_tit">你可能喜欢</div>
                        <ul>
                            <a href="javascript:void(0);"><li>
                                <img src="__IMAGES__/dc3.jpg" alt=""/>
                                <div class="carddot2_r_info">
                                    <h3>上海银行标准卡</h3>
                                    <h4>刷卡消费可永久享受红利积分</h4>
                                    <h5>共申请</h5>
                                    <h6>600430张</h6>
                                </div>
                                <div class="clear"></div>
                            </li></a>
                            <a href="javascript:void(0);"><li>
                                <img src="__IMAGES__/dc4.jpg" alt=""/>
                                <div class="carddot2_r_info">
                                    <h3>光大“福”IC信用卡</h3>
                                    <h4>赠送100万元人民币出行意外...</h4>
                                    <h5>共申请</h5>
                                    <h6>600430张</h6>
                                </div>
                                <div class="clear"></div>
                            </li></a>
                            <a href="javascript:void(0);"><li>
                                <img src="__IMAGES__/dc5.jpg" alt=""/>
                                <div class="carddot2_r_info">
                                    <h3>交通银行标准信用卡金卡</h3>
                                    <h4>境内外消费后均可人民币还款</h4>
                                    <h5>共申请</h5>
                                    <h6>600430张</h6>
                                </div>
                                <div class="clear"></div>
                            </li></a>
                            <a href="javascript:void(0);"><li style="border: none">
                                <img src="__IMAGES__/dc6.jpg" alt=""/>
                                <div class="carddot2_r_info">
                                    <h3>招商标准金卡</h3>
                                    <h4>积分永久有效</h4>
                                    <h5>共申请</h5>
                                    <h6>600430张</h6>
                                </div>
                                <div class="clear"></div>
                            </li></a>
                        </ul>
                    </div>
                    <div class="dc2img_box">
                        <div class="dc2img_box_tit">最新资讯</div>
                        <ul>
                            <a href="newsdot.html"><li><span>• </span>光大银行信用卡问答</li></a>
                            <a href="newsdot.html"><li><span>• </span>光大银行信用卡资讯</li></a>
                            <a href="newsdot.html"><li><span>• </span>光大最值得办的信用卡，看你有哪张？</li></a>
                            <a href="newsdot.html"><li><span>• </span>光大银行有ETC信用卡吗</li></a>
                            <a href="newsdot.html"><li><span>• </span>京东光大小白卡额度有多高？怎么提升额度？</li></a>
                            <a href="newsdot.html"><li><span>• </span>2017光大银行屈臣氏满120立减50</li></a>
                            <a href="newsdot.html"><li><span>• </span>2017光大银行信用卡味千拉面满88立减35</li></a>
                        </ul>
                    </div>
                    <div class="dc2img_box">
                        <div class="dc2img_box_tit">常见问题</div>
                        <ul>
                            <a href="newsdot.html"><li><span>• </span>光大银行信用卡问答</li></a>
                            <a href="newsdot.html"><li><span>• </span>光大银行信用卡资讯</li></a>
                            <a href="newsdot.html"><li><span>• </span>光大最值得办的信用卡，看你有哪张？</li></a>
                            <a href="newsdot.html"><li><span>• </span>光大银行有ETC信用卡吗</li></a>
                            <a href="newsdot.html"><li><span>• </span>京东光大小白卡额度有多高？怎么提升额度？</li></a>
                            <a href="newsdot.html"><li><span>• </span>2017光大银行屈臣氏满120立减50</li></a>
                            <a href="newsdot.html"><li><span>• </span>2017光大银行信用卡味千拉面满88立减35</li></a>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <!--sec2-->


            <!--sec3-->
            <div class="yh3_box">
                <div class="yh3_box_tit">银行信用卡中心</div>
                <div class="swiper-container swiper1" >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank1.png" width="100%" alt=""/>中信银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank2.png" width="100%" alt=""/>交通银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank3.png" width="100%" alt=""/>兴业银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank4.png" width="100%" alt=""/>光大银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank5.png" width="100%" alt=""/>招商银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank6.png" width="100%" alt=""/>平安银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank7.png" width="100%" alt=""/>浦发银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank8.png" width="100%" alt=""/>民生银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank9.png" width="100%" alt=""/>广发银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank10.png" width="100%" alt=""/>花旗银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank11.png" width="100%" alt=""/>华夏银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank12.png" width="100%" alt=""/>农业银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank13.png" width="100%" alt=""/>中国银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank14.png" width="100%" alt=""/>工商银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank15.png" width="100%" alt=""/>建设银行信用卡中心
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination pagination1"></div>
                </div>
            </div>
            <!--sec3-->

        </div>
    </div>
</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>
    var mySwiper1 = new Swiper('.swiper1',{
        loop:true,
        grabCursor: true,
        autoplay:5000,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 6,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    })
</script>
<script>
    $(document).ready(function(){
        $(window).load(function(){
            $(".carddot1_l_l").height($(".carddot1_l_r").height()+2);
            $(".swiper1").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-wrapper").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-slide").height($(".thcard_img").height()*2+5);
        });
        $(window).resize(function(){
            $(".carddot1_l_l").height($(".carddot1_l_r").height()+2);
            $(".swiper1").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-wrapper").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-slide").height($(".thcard_img").height()*2+5);
        });
    })

    $(window).scroll(function(){
        var scrollT=$(window).scrollTop();
        if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
            $('.right_nav').css('display','block');
        }else{
            $('.right_nav').css('display','none');
        }
        if(scrollT>$('.carddot2').offset().top){
            $('.carddot2_l_list').addClass('fixed');
        }else{
            $('.carddot2_l_list').removeClass('fixed');
        }

    })
    var class_name;
    $('.carddot2_l_list li').click(function(){
        $(this).parent().addClass('fixed');
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        class_name=$(this).find("a").attr("class");
        $('body,html').animate({'scrollTop':$('#'+class_name).offset().top-20})
    })
    $(".creditlist_more a").click(function(e){
        var ticon = $(this).find("i");
        tspan = $(this).find("span");
        if($(this).hasClass("zk")){
            $(this).parent().siblings("dd").css("height","30");
            ticon.removeClass("fa-angle-up");
            ticon.addClass("fa-angle-down");
            tspan.html("更多");
            $(this).removeClass("zk")
        }else{
            $(this).parent().siblings("dd").css("height","auto");
            ticon.removeClass("fa-angle-down");
            ticon.addClass("fa-angle-up");
            tspan.html("收起");
            $(this).addClass("zk")
        }
    });
</script>

<script>
    $(document).ready(function(){
        $(".card_xzkl span").click(function () {
            $(".card_xzkl span").removeClass("kalei_active");
            $(this).addClass("kalei_active");
        })
    })

</script>

</html>
