<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">

	<div class="chaxun_box chaxun_box1">
    	<div class="index_container">
            <div class="creditlist1_top">
                <div class="creditlist1_top_cot">
                当前位置：
                <a href="index.html">洛凡</a> &gt;
                <a href="creditlist.html">申请进度查询</a> 
                </div>
            </div>
        	<div class="credit_sx">
                <dl class="credit_list">
                    <dt>银行：</dt>
                    <dd>
                        <a href="javascript:void(0);" class="active" data-filter="all">不限</a>
                        <a href="javascript:void(0);" data-filter="1">中信银行</a>
                        <a href="javascript:void(0);" data-filter="2">交通银行</a>
                        <a href="javascript:void(0);" data-filter="3">兴业银行</a>
                        <a href="javascript:void(0);" data-filter="4">光大银行</a>
                        <a href="javascript:void(0);" data-filter="5">招商银行</a>
                        <a href="javascript:void(0);" data-filter="6">平安银行</a>
                        <a href="javascript:void(0);" data-filter="7">浦发银行</a>
                        <a href="javascript:void(0);" data-filter="8">民生银行</a>
                        <a href="javascript:void(0);" data-filter="9">广发银行</a>
                        <a href="javascript:void(0);" data-filter="10">花旗银行</a>
                        <a href="javascript:void(0);" data-filter="11">华夏银行</a>
                        <a href="javascript:void(0);" data-filter="12">广州银行</a>
                        <a href="javascript:void(0);" data-filter="13">农业银行</a>
                        <a href="javascript:void(0);" data-filter="14">渣打银行</a>
                        <a href="javascript:void(0);" data-filter="15">北京银行</a>
                        <a href="javascript:void(0);" data-filter="16">建设银行</a>
                        <a href="javascript:void(0);" data-filter="17">工商银行</a>
                        <a href="javascript:void(0);" data-filter="18">中国银行</a>
                        <a href="javascript:void(0);" data-filter="19">包商银行</a>
                        <a href="javascript:void(0);" data-filter="20">上海银行</a>
                        <a href="javascript:void(0);" data-filter="21">重庆银行</a>
                        <a href="javascript:void(0);" data-filter="22">汇丰银行</a>
                    </dd>
                    <div class="creditlist_more">
                        <a href="javascript:void(0);">
                            <span>更多</span><i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                    <div class="clear"></div>
                </dl>
            </div>
        </div>
    </div>
    
    <div class="chaxun_box chaxun_box2">
    	<div class="index_container">
        	<div class="chaxun2">
            	<div class="chaxun2_top">
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_1.png"  width="34"/>中信银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_2.png"  width="34"/>交通银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_3.png"  width="34"/>兴业银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_4.png"  width="34"/>光大银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_5.png"  width="34"/>招商银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_6.png"  width="34"/>平安银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_7.png"  width="34"/>浦发银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_8.png"  width="34"/>民生银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_9.png"  width="34"/>广发银行信用卡申请</a></div>
                	<div class="chaxun2_list"><a href="javascript:void(0);"><img src="__IMAGES__/gonglue3_10.png"  width="34"/>花旗银行信用卡申请</a></div>
                    <div class="clear"></div>
                </div>
                <div class="chaxun2_bottom">
                	<ul class="chaxun2_bottom_list">
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">工商银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">华夏银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">建设银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                    			<li><a href="javascript:void(0);">北京银行信用卡申请</a></li>
                        		<div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="chaxun_box chaxun_box3">
    	<div class="index_container">
        	<div class="chaxun_tit">
            	<h4><span>热门银行</span></h4>
            </div>
            <div class="chaxun3_cot">
            	<div class="swiper-container swiper1">
                	<a href="javascript:void(0);" class="chaxun3_lt"><img src="__IMAGES__/chaxun3_lt.png" /></a>
                	<a href="javascript:void(0);" class="chaxun3_rt"><img src="__IMAGES__/chaxun3_rt.png" /></a>
                	<div class="swiper-wrapper">
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_gz.jpg" />
                                <h4>广州银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_gd.jpg" />
                                <h4>光大银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_gf.jpg" />
                                <h4>广发银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_hf.jpg" />
                                <h4>汇丰银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_hx.jpg" />
                                <h4>华夏银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_jt.jpg" />
                                <h4>交通银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_ms.jpg" />
                                <h4>民生银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_ny.jpg" />
                                <h4>农业银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="chaxun3_list">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/chaxun3_zx.jpg" />
                                <h4>中信银行</h4>
                                <span>格瓦拉电影买一送一</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="chaxun_box chaxun_box4">
    	<div class="index_container">
        	<a href="javascript:void(0);">
        	<img src="__IMAGES__/chaxun4_bg.jpg" width="100%" />
            </a>
        </div>
    </div>

	<div class="chaxun_box chaxun_box5">
    	<div class="index_container">
        	<div class="chaxun5">
            	<div class="chaxun5_left">
                    <div class="chaxun_tit">
                        <h4><span>本周热门卡</span></h4>
                    </div>
                    <div class="chaxun5_cot">
                    	<div class="chaxun5_cot_left">
                        	<div class="chaxun5_cot_top"><img src="__IMAGES__/chaxun5_jian.png" /></div>
                            <div class="table">
                            <div class="table_cell">
                            <div class="chaxun5_cot_cot">
                            	<h4>中信银行标准IC信用卡</h4>
                                <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                <h5><i class="fa fa-angle-right"></i>9分享兑大杯手调星巴克</h5>
                                <h5><i class="fa fa-angle-right"></i>9分享购双人观影票</h5>
                                <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                            </div>
                            </div>
                            </div>
                        </div>
                    	<div class="chaxun5_cot_right">
                        <div class="chaxun5_right_cot">
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                        	<div class="chaxun5_cot_list">
                            	<div class="chaxun5_cot_cot">
                                    <h4>中信银行标准IC信用卡</h4>
                                    <img src="__IMAGES__/chaxun5_1.jpg" width="100%"/>
                                    <div class="chaxun5_bt"><a href="#">免费申请</a></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            	<div class="chaxun5_right">
                    <div class="chaxun_tit">
                        <h4><span>本周主题卡</span></h4>
                        <a href="#" class="chaxun_more">更多</a>
                    </div>
                    <div class="chaxun5_cot1">
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r1.jpg" />加油返现</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r2.jpg" />航空里程</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r3.jpg" />办卡有礼</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r4.jpg" />购物优惠</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r5.jpg" />网络联名卡</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r6.jpg" />卡通卡面</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r7.jpg" />时尚达人</a>
                        </div>
                    	<div class="chaxun5_cot1_list">
                        	<a href="javascrip:void(0);"><img src="__IMAGES__/chaxun5_r8.jpg" />酒店商旅</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

	var mySwiper1 = new Swiper('.swiper1',{
		loop:true,
		autoplay:5000, 
        grabCursor: true,
        spaceBetween: 0,
		slidesPerView : 8,
        paginationClickable: true,
        autoplayDisableOnInteraction : false ,
    });
	$('.chaxun3_lt').on('click', function(e){
		e.preventDefault()
		mySwiper1.swipePrev()
	})
	  
	$('.chaxun3_rt').on('click', function(e){
		e.preventDefault()
		mySwiper1.swipeNext()
	})

var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.fangdai_lt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.fangdai_rt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 .chaxun3_list ").height());
		
	})
	$(window).resize(function(){
		$(".swiper1").height($(".swiper1 .chaxun3_list ").height());
	});

	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})	
	$(".creditlist_more a").click(function(e){
            var ticon = $(this).find("i");
                tspan = $(this).find("span");
                if($(this).hasClass("zk")){
                    $(this).parent().siblings("dd").css("height","30");
                    ticon.removeClass("fa-angle-up");
                    ticon.addClass("fa-angle-down");
                    tspan.html("更多");
                    $(this).removeClass("zk")
                }else{
                    $(this).parent().siblings("dd").css("height","auto");
                    ticon.removeClass("fa-angle-down");
                    ticon.addClass("fa-angle-up");
                    tspan.html("收起");
                    $(this).addClass("zk")
                }
        });
</script>

</html>
