<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">
	<!--chedai_box1-->
    <div class="chedai_box chedai_box1">
    	<div class="index_container">

            <!--sec2-->
            <div class="chedai2_box">
               <div class="cd2_tit">
               <div class="common_tit">
            	<span>热门贷款</span>
            </div>
               <a href="javascript:void(0);">更多 >></a>
               </div>
                <div class="lingshoufu">
                 
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>借贷宝</h3>
                                <h4>借贷宝</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/jiedaibao.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">1<span>%</span></div>
                        <h5>利率月息</h5>
                        <a href="javascript:void(0);">立即查看 </a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>寿险贷</h3>
                                <h4>平安普惠</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/pingan.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">6.0-8.0<span>%</span></div>
                        <h5>利率月息</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>苹果手机贷</h3>
                                <h4>苹果手机贷</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/pingguo.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">6.0-8.0<span>%</span></div>
                        <h5>利率月息</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>优房贷</h3>
                                <h4>平安普惠</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/pingan1.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">0.05<span>%</span></div>
                        <h5>利率月息</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>平安普惠</h3>
                                <h4>平安普惠</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/pingan1.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">1.0<span>%</span></div>
                        <h5>利率月息</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>公积金专享贷</h3>
                                <h4>隆泰银行</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/tailong.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">0.85<span>%</span></div>
                        <h5>月管理费用</h5>
                        <a href="javascript:void(0);">立即查看 </a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>宜人贷</h3>
                                <h4>宜信</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/yixin.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">0.78<span>%</span></div>
                        <h5>月管理费用</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>嗨客贷</h3>
                                <h4>夸客金融</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/kuake.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">0.9<span>%</span></div>
                        <h5>月管理费用</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>精英贷</h3>
                                <h4>宜信</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/yixin.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">1.89<span>%</span></div>
                        <h5>月管理费用</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="one_lsf">
                        <div>
                            <div class="che2_font">
                                <h3>易达金</h3>
                                <h4>华夏银行</h4>
                            </div>
                            <div class="che2_icon">
                                <img src="__IMAGES__/huaxia.jpg" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="baifenz">1.19<span>%</span></div>
                        <h5>月管理费用</h5>
                        <a href="javascript:void(0);">立即查看</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--sec2-->
			<div class="gedai_box gedai_box5">
    	<div class="index_container">
        	<div class="geidai5_cot">
            <div class="geidai5_top">
            	<div class="gedai5_top_cot">
                	<div class="gedai5_top_list ">
                    	<label>贷款金额</label>
                        <div class="xinyong_dk ui-select">
                                	<input type="hidden" value="0" id="input_yongtu">
                                    <div class="input_leixing select-value"><span>不限</span><div class="banlist_btn"><img src="__IMAGES__/ban_btn1.png" width="100%" alt=""></div></div>
                                    <div class="dklx_list select-list" style="display: none;">
                                        <ul>
                                            <li data-val="1">1万以下</li>
                                            <li data-val="2">1-5万</li>
                                            <li data-val="3">5-10万</li>
                                            <li data-val="4">10-20万</li>
                                            <li data-val="5">20-40万</li>
                                            <li data-val="6">40万以上</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                    </div>
                    <div class="gedai5_top_list gedai5_top_list1">
                    	<label>贷款期限</label>
                        <div class="xinyong_dk ui-select">
                                	<input type="hidden" value="0" id="input_qixian">
                                    <div class="input_leixing select-value"><span>不限</span><div class="banlist_btn"><img src="__IMAGES__/ban_btn1.png" width="100%" alt=""></div></div>
                                    <div class="dklx_list select-list" style="display: none;">
                                        <ul>
                                            <li data-val="1">不限</li>
                                            <li data-val="2">1-6个月</li>
                                            <li data-val="3">6个月-1年</li>
                                            <li data-val="4">1年-3年</li>
                                            <li data-val="5">3年-10年</li>
                                            <li data-val="6">10年以上</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                    </div>
                    <input type="submit" class="gedai5_research" value="重新搜索">
                    <div class="clear"></div>
                </div>
            </div>
         	<div class="geidai5_bottom">
            	<div class="gaedai5_list">
                	<span>职业身份：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">上班族</a></li>
                    	<li><a href="javascript:void(0)">个体户</a></li>
                    	<li><a href="javascript:void(0)">无固定职业</a></li>
                    	<li><a href="javascript:void(0)">企业主</a></li>
                    	<li><a href="javascript:void(0)">学生</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="gaedai5_list">
                	<span>名下房产类型：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">无房产</a></li>
                    	<li><a href="javascript:void(0)">小产权房</a></li>
                    	<li><a href="javascript:void(0)">经济/限价房</a></li>
                    	<li><a href="javascript:void(0)">房改/危改房</a></li>
                    	<li><a href="javascript:void(0)">商铺</a></li>
                    	<li><a href="javascript:void(0)">厂房</a></li>
                    	<li><a href="javascript:void(0)">商住两用房</a></li>
                    	<li><a href="javascript:void(0)">办公楼</a></li>
                    	<li><a href="javascript:void(0)">军产房</a></li>
                    	<li><a href="javascript:void(0)">商品住宅</a></li>
                    	<li><a href="javascript:void(0)">宅基地/自建房</a></li>
                    	<li><a href="javascript:void(0)">有房，但不确人房产类型</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="gaedai5_list">
                	<span>名下是否有车：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">无车</a></li>
                    	<li><a href="javascript:void(0)">无车，准备买车</a></li>
                    	<li><a href="javascript:void(0)">名下有车</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="gaedai5_list gaedai5_list1">
                	<span>您的信用情况：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">1年内逾期超过3次或者超过90天</a></li>
                    	<li><a href="javascript:void(0)">1年内逾期少于3次或者少于90天</a></li>
                    	<li><a href="javascript:void(0)">无信用卡或贷款</a></li>
                    	<li><a href="javascript:void(0)">信用良好，无逾期</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                </div>
            </div>
        </div>
    </div>

            <!--sec3-->
            <div class="che3_box">
            <div class="common_tit">
            	<span>杭州热门车贷</span>
            </div>
                <div class="chedai3_list chedai3_list_first">
                    <div class="chedai3_wz">
                        <div class="chedai3_list_left">
                            <div class="chedai3_list_img">
                                <a href="gedaidot.html">
                                    <img src="__IMAGES__/nonghang.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="chedai3_list_right">
                            <div class="chedai3_list_bottom">
                                <div class="chedai3_bottom_left">
                                    <h5>中国农业银行 - 车贷</h5>
                                    <h4>信用贷款
                                        <span>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li><span class="time"></span> 15天放款</li>
                                    </ul>
                                    <div class="xuxian"></div>
                                </div>
                                <div class="chedai3_bottom_center">
                                    <dl>
                                        <dt>额度：</dt>
                                        <dd><span class="num_red">5.0~100.0</span> 万</dd>
                                    </dl>
                                    <dl>
                                        <dt>期限：</dt>
                                        <dd><span class="num_red">12-36</span> 月</dd>
                                    </dl>
                                    <div class="xuxian2"></div>
                                </div>
                                <div class="chedai3_bottom_right">
                                    <div class="chedai3_bottom_table">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span>20万车，首付3成</span><br/>
                                                    <span>月供4270元</span><br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="chedai3_more">
                                        <a href="gedaidot.html">查看详情</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="chedai3_list">
                    <div class="chedai3_wz">
                        <div class="chedai3_list_left">
                            <div class="chedai3_list_img">
                                <a href="gedaidot.html">
                                    <img src="__IMAGES__/jianhang.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="chedai3_list_right">
                            <div class="chedai3_list_bottom">
                                <div class="chedai3_bottom_left">
                                    <h5>中国建设银行 - 车辆贷款</h5>
                                    <h4>信用贷款
                                        <span>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li><span class="time"></span> 12天放款</li>
                                    </ul>
                                    <div class="xuxian"></div>
                                </div>
                                <div class="chedai3_bottom_center">
                                    <dl>
                                        <dt>额度：</dt>
                                        <dd><span class="num_red">5.0~100.0</span> 万</dd>
                                    </dl>
                                    <dl>
                                        <dt>期限：</dt>
                                        <dd><span class="num_red">12-36</span> 月</dd>
                                    </dl>
                                    <div class="xuxian2"></div>
                                </div>
                                <div class="chedai3_bottom_right">
                                    <div class="chedai3_bottom_table">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span>20万车，首付3成</span><br/>
                                                    <span>月供3889元</span><br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="chedai3_more">
                                        <a href="gedaidot.html">查看详情</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="chedai3_list">
                    <div class="chedai3_wz">
                        <div class="chedai3_list_left">
                            <div class="chedai3_list_img">
                                <a href="gedaidot.html">
                                    <img src="__IMAGES__/youchu.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="chedai3_list_right">
                            <div class="chedai3_list_bottom">
                                <div class="chedai3_bottom_left">
                                    <h5>宜楼贷 - 宜信</h5>
                                    <h4>信用贷款
                                        <span>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li><span class="time"></span> 3天放款</li>
                                    </ul>
                                    <div class="xuxian"></div>
                                </div>
                                <div class="chedai3_bottom_center">
                                    <dl>
                                        <dt>额度：</dt>
                                        <dd><span class="num_red">2.0~15.0</span> 万</dd>
                                    </dl>
                                    <dl>
                                        <dt>期限：</dt>
                                        <dd><span class="num_red">12-36</span> 月</dd>
                                    </dl>
                                    <div class="xuxian2"></div>
                                </div>
                                <div class="chedai3_bottom_right">
                                    <div class="chedai3_bottom_table">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span>20万车，首付3成</span><br/>
                                                    <span>月供7151元</span><br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="chedai3_more">
                                        <a href="gedaidot.html">查看详情</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="chedai3_list">
                    <div class="chedai3_wz">
                        <div class="chedai3_list_left">
                            <div class="chedai3_list_img">
                                <a href="gedaidot.html">
                                    <img src="__IMAGES__/gongshang.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="chedai3_list_right">
                            <div class="chedai3_list_bottom">
                                <div class="chedai3_bottom_left">
                                    <h5>工商银行 - 个人车辆按揭</h5>
                                    <h4>信用贷款
                                        <span>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li><span class="time"></span> 15天放款</li>
                                    </ul>
                                    <div class="xuxian"></div>
                                </div>
                                <div class="chedai3_bottom_center">
                                    <dl>
                                        <dt>额度：</dt>
                                        <dd><span class="num_red">5.0~100.0</span> 万</dd>
                                    </dl>
                                    <dl>
                                        <dt>期限：</dt>
                                        <dd><span class="num_red">12-36</span> 月</dd>
                                    </dl>
                                    <div class="xuxian2"></div>
                                </div>
                                <div class="chedai3_bottom_right">
                                    <div class="chedai3_bottom_table">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span>20万车，首付3成</span><br/>
                                                    <span>月供7151元</span><br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="chedai3_more">
                                        <a href="gedaidot.html">查看详情</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="chedai3_list">
                    <div class="chedai3_wz">
                        <div class="chedai3_list_left">
                            <div class="chedai3_list_img">
                                <a href="gedaidot.html">
                                    <img src="__IMAGES__/china.jpg"/>
                                </a>
                            </div>
                        </div>
                        <div class="chedai3_list_right">
                            <div class="chedai3_list_bottom">
                                <div class="chedai3_bottom_left">
                                    <h5>中国银行 - 个人车辆贷款</h5>
                                    <h4>信用贷款
                                        <span>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                            <img src="__IMAGES__/star_.png" alt=""/>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li><span class="time"></span> 15天放款</li>
                                    </ul>
                                    <div class="xuxian"></div>
                                </div>
                                <div class="chedai3_bottom_center">
                                    <dl>
                                        <dt>额度：</dt>
                                        <dd><span class="num_red">8-200</span> 万</dd>
                                    </dl>
                                    <dl>
                                        <dt>期限：</dt>
                                        <dd><span class="num_red">12-36</span> 月</dd>
                                    </dl>
                                    <div class="xuxian2"></div>
                                </div>
                                <div class="chedai3_bottom_right">
                                    <div class="chedai3_bottom_table">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span>20万车，首付3成</span><br/>
                                                    <span>月供3889元</span><br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="chedai3_more">
                                        <a href="gedaidot.html">查看详情</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!--sec3-->

        </div>
    </div>
    <!--chedai_box1-->
    
</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerView : 8,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.arrow-right2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
	
	
	var mySwiper3 = new Swiper('.swiper3',{
		pagination: '.pagination3',
		loop:true,
		autoplay:5000, 
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left3').on('click', function(e){
		e.preventDefault()
		mySwiper3.swipePrev()
	})
	  
	$('.arrow-right3').on('click', function(e){
		e.preventDefault()
		mySwiper3.swipeNext()
	})
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 .ban_box ").height());
		
	})
	$(window).resize(function(){
        $(".swiper1").height($(".swiper1 .ban_box ").height());
	});

	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})	
</script>

</html>
