<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">
 
	<!--fangdai_box1-->
    <div class="fangdai_box fangdai_box1">
    	<div class="index_container">
        	<div class="fangdai1_box">
            	<div class="fangdai1_list">
                	<div class="fangdai1_cot" style="padding: 22px 10px 12px">
                	<div class="fangdai1_img">
                    	<img src="__IMAGES__/fangdai1_1.jpg" />
                    </div>
                    <div class="fangdai1_wz">
                    	<h4>杭州公积金</h4>
                        <h5>首套房<span style=" font-size:20px">公积金基准</span></h5>
                        <div class="fangdai1_right">二套房<span>1.1</span>倍</div>
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>
            	<div class="fangdai1_list">
                	<div class="fangdai1_cot">
                	<div class="fangdai1_img">
                    	<img src="__IMAGES__/fangdai1_2.jpg" />
                    </div>
                    <div class="fangdai1_wz">
                    	<h4>汇丰银行</h4>
                        <h5>首套房<span>8.5</span>折</h5>
                        <div class="fangdai1_right">二套房<span>1.1</span>倍</div>
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>
            	<div class="fangdai1_list">
                	<div class="fangdai1_cot">
                	<div class="fangdai1_img">
                    	<img src="__IMAGES__/fangdai1_3.jpg" />
                    </div>
                    <div class="fangdai1_wz">
                    	<h4>杭州银行</h4>
                         <h5>首套房<span>8.8</span>折</h5>
                       <div class="fangdai1_right">二套房<span>1.1</span>倍</div>
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>
            	<div class="fangdai1_list">
                	<div class="fangdai1_cot">
                	<div class="fangdai1_img">
                    	<img src="__IMAGES__/fangdai1_4.jpg" />
                    </div>
                    <div class="fangdai1_wz">
                    	<h4>中信银行</h4>
                        <h5>首套房<span>9.0</span>折</h5>
                        <div class="fangdai1_right">二套房<span>1.1</span>倍</div>
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>
            	<div class="fangdai1_list">
                	<div class="fangdai1_cot">
                	<div class="fangdai1_img">
                    	<img src="__IMAGES__/fangdai1_5.jpg" />
                    </div>
                    <div class="fangdai1_wz">
                    	<h4>广发银行</h4>
                         <h5>首套房<span>9.0</span>折</h5>
                       <div class="fangdai1_right">二套房<span>1.1</span>倍</div>
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
        	</div>
        </div>
    </div>
    <!--fangdai_box1-->
    
   
    <!--fangdai_box2-->
    <div class="fangdai_box fangdai_box2">
    	<div class="index_container">
        	<div class="fangdai2_left">
            	<div class="fangdai2_cot">
            	<div class="fangdai2_list fangdai2_list1 fangdai2_list_jd">
                	<div class="fangdai2_list_cot">
                	<div class="fangdai2_img">
                    	<img src="__IMAGES__/fangdai2_1.jpg" />
                        <h3>独家解读</h3>
                    </div>
                    <div class="fangdai2_wz">
                    	<ul>
                        	<li><a href="newsdot.html"><span>• </span>用信用卡时的五大陋习 90%的买房人中过招！</a></li>
                        	<li><a href="newsdot.html"><span>• </span>商住房时代终结 2017年购房人该怎么办？</a></li>
                        	<li><a href="newsdot.html"><span>• </span>2017楼市调控五大杀手锏 最后一个最狠</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            	<div class="fangdai2_list fangdai2_list1 fangdai2_list_ls">
                	<div class="fangdai2_list_cot">
                	<div class="fangdai2_img">
                    	<img src="__IMAGES__/fangdai2_2.jpg" />
                        <h3>楼市动态</h3>
                    </div>
                    <div class="fangdai2_wz">
                    	<ul>
                        	<li><a href="newsdot.html"><span>• </span>楼市乱象！中介推高房价的“九大套路”</a></li>
                        	<li><a href="newsdot.html"><span>• </span>够狠！这个新政策的威力让你肝儿颤！</a></li>
                        	<li><a href="newsdot.html"><span>• </span>一位女海归的上海租房记：不是在找房 就是在找房路上</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            	<div class="fangdai2_list fangdai2_list1 fangdai2_list_yh">
                	<div class="fangdai2_list_cot">
                	<div class="fangdai2_img">
                    	<img src="__IMAGES__/fangdai2_3.jpg" />
                        <h3>银行商贷</h3>
                    </div>
                    <div class="fangdai2_wz">
                    	<ul>
                        	<li><a href="newsdot.html"><span>• </span>关于房贷必政策周小川会说啥 去库存举措指向或更清晰</a></li>
                        	<li><a href="newsdot.html"><span>• </span>2017要不要提前还房贷？多数银行提前还贷不收违约金</a></li>
                        	<li><a href="newsdot.html"><span>• </span>银行流水中断影响房贷申请？买房流水最全攻略</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            	<div class="fangdai2_list fangdai2_list_gjj">
                	<div class="fangdai2_list_cot">
                	<div class="fangdai2_img">
                    	<img src="__IMAGES__/fangdai2_4.jpg" />
                        <h3>公积金贷款</h3>
                    </div>
                    <div class="fangdai2_wz">
                    	<ul>
                        	<li><a href="newsdot.html"><span>• </span>2017年买房公积金能贷多少钱？六大因素影响你的贷款额度！</a></li>
                        	<li><a href="newsdot.html"><span>• </span>公积金断了能补缴吗？想要贷款该怎么办呢？</a></li>
                        	<li><a href="newsdot.html"><span>• </span>用住房公积金贷款的5大好处 90%的人都不知道！</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            	<div class="fangdai2_list fangdai2_list_zt">
                	<div class="fangdai2_list_cot">
                	<div class="fangdai2_img">
                    	<img src="__IMAGES__/fangdai2_5.jpg" />
                        <h3>专题策划</h3>
                    </div>
                    <div class="fangdai2_wz">
                    	<ul>
                        	<li><a href="newsdot.html"><span>• </span>全国首套房平均利率4.44%，连续3个月不变</a></li>
                        	<li><a href="newsdot.html"><span>• </span>9月全国首套房平均利率为4.44% 连续两月不变</a></li>
                        	<li><a href="newsdot.html"><span>• </span>全国首套房利率平均4.44%，下半年将因城施策</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            	<div class="fangdai2_list fangdai2_list_fd">
                	<div class="fangdai2_list_cot">
                	<div class="fangdai2_img">
                    	<img src="__IMAGES__/fangdai2_6.jpg" />
                        <h3>房贷头条</h3>
                    </div>
                    <div class="fangdai2_wz">
                    	<ul>
                        	<li><a href="newsdot.html"><span>• </span>2017年买房公积金能贷多少钱？六大因素影响你的贷款额度！</a></li>
                        	<li><a href="newsdot.html"><span>• </span>央行：北京离婚1年以内申请人按二套房贷政策执行</a></li>
                        	<li><a href="newsdot.html"><span>• </span>楼市真正降温将在这个时间点！</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="clear"></div>
                </div>
            </div>
            <div class="fangdai2_right">
            	<div class="fangdai2_right_list">
                	<div class="fangdai2_left1">
                    	<div class="fangdai2_right_img fangdai2_right_img2"></div>
                        <h4>房贷月供计算</h4>
                    </div>
                    <div class="fangdai2_right1">
                    	<div class="fangdai2_right_img fangdai2_right_img3"></div>
                        <h4>税费计算器</h4>
                    </div>
                    <div class="fangdai2_right_bg"></div>
                    <div class="clear"></div>
                </div>
                <div class="fangdai2_right_list">
                	<div class="fangdai2_left1">
                    	<div class="fangdai2_right_img fangdai2_right_img4"></div>
                        <h4>还款方式比较</h4>
                    </div>
                    <div class="fangdai2_right1">
                    	<div class="fangdai2_right_img fangdai2_right_img1"></div>
                        <h4>购房资格测试</h4>
                    </div>
                    <div class="fangdai2_right_bg"></div>
                    <div class="clear"></div>
                </div>
                <div class="fangdai2_right_list fangdai2_right_list1">
                	<div class="fangdai2_left1">
                    	<div class="fangdai2_right_img fangdai2_right_img5"></div>
                        <h4>公积金计算</h4>
                    </div>
                    <div class="fangdai2_right1">
                    	<div class="fangdai2_right_img fangdai2_right_img6"></div>
                        <h4>我能打几折</h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--fangdai_box2-->
    
    
    <!--fangdai_box3-->
    <div class="fangdai_box fangdai_box3">
    	<div class="index_container">
        	<div class="common_tit">
            	<span>买房流程</span>
            </div>
        	<div class="fangdai3_box">
            	<div class="fangdai3_list">
                	<div class="fangdai3_img fangdai3_img1"></div>
                    <div class="fangdai3_wz">
                    	<h4>准备买房</h4>
                    </div>
                    <div class="fangdai3_jt"></div>
                </div>
            	<div class="fangdai3_list">
                	<div class="fangdai3_img fangdai3_img2"></div>
                    <div class="fangdai3_wz">
                    	<h4>看房选房</h4>
                    </div>
                    <div class="fangdai3_jt"></div>
                </div>
            	<div class="fangdai3_list">
                	<div class="fangdai3_img fangdai3_img3"></div>
                    <div class="fangdai3_wz">
                    	<h4>买房合同</h4>
                    </div>
                    <div class="fangdai3_jt"></div>
                </div>
            	<div class="fangdai3_list">
                	<div class="fangdai3_img fangdai3_img4"></div>
                    <div class="fangdai3_wz">
                    	<h4>贷款办理</h4>
                    </div>
                    <div class="fangdai3_jt"></div>
                </div>
            	<div class="fangdai3_list">
                	<div class="fangdai3_img fangdai3_img5"></div>
                    <div class="fangdai3_wz">
                    	<h4>缴税过户</h4>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--fangdai_box3-->
    
    
    <!--fangdai_box4-->
    <div class="fangdai_box fangdai_box4">
    	<div class="index_container">
            <div class="fangdai4_left">
                <div class="common_tit">
                    <span>房贷头条</span>
                    <div class="fangdai4_jt"><a href="newslist.html">更多<img src="__IMAGES__/fangdai_jt1.png" width="18"/></a></div>
                </div>
                <div class="fangdai4_cot">
                	<div class="fangdai4_list fangdai4_list1">
                		<div class="fangdai4_cot_left">
                        	<div class="fangdai4_img">
                            	<h4><a href="newsdot.html">这样用信用卡小心房贷被拒</a></h4>
                                <div  class="fangdai4_image"><a href="#"><img src="__IMAGES__/fangdai4_1.jpg" width="100%"/></a></div>
                                <p>刷信用卡付款已经成为不少年轻人的消费方式，但是在使用信用卡的时候会养成一些不良习惯，当时觉得没什么，等以后贷款买房...</p>
                                <a href="newsdot.html" class="seemore">[详情]</a>
                                <div class="clear"></div>
                            </div>
                            <ul class="fangdai4_cot_list">
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017年买房公积金能贷多少钱？六大因素影响你的贷款额度！</div><div class="fangdai4_wz_date">2017.03.23</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>央行：北京离婚1年以内申请人按二套房贷政策执行</div><div class="fangdai4_wz_date">2017.03.15</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017楼市调控五大杀手锏 最后一个最狠</div><div class="fangdai4_wz_date">2017.03.09</div></a></li>
                            </ul>
                        </div>
                		<div class="fangdai4_cot_right">
                        	<ul class="fangdai4_cot_list">
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>楼市真正降温将在这个时间点！</div><div class="fangdai4_wz_date">2017.03.17</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>宋清辉：限购令是人为造成供需紧张的元凶</div><div class="fangdai4_wz_date">2017.03.14</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>楼市限购违约责任算谁的？买家卖家都要知道</div><div class="fangdai4_wz_date">2017.03.12</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>北京楼市调控升级 二套房首付比例提至60%</div><div class="fangdai4_wz_date">2017.03.05</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>社科院专家：“一户一房”应成为基本住房制度</div><div class="fangdai4_wz_date">2017.03.03</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017年买房公积金能贷多少钱？六大因素影响你的贷款额度！</div><div class="fangdai4_wz_date">2017.03.01</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>央行：北京离婚1年以内申请人按二套房贷政策执行</div><div class="fangdai4_wz_date">2017.02.21</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017楼市调控五大杀手锏 最后一个最狠</div><div class="fangdai4_wz_date">2017.03.09</div></a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                	<div class="fangdai4_list">
                		<div class="fangdai4_cot_left">
                        	<div class="fangdai4_img">
                            	<h4><a href="newsdot.html">商住房时代终结 2017年购房人该怎么办？</a></h4>
                                <div  class="fangdai4_image"><a href="#"><img src="__IMAGES__/fangdai4_2.jpg" width="100%"/></a></div>
                                <p>在新政之前，选择购买商住房的人，无外乎是因为两个理由：一是商住房面积小、总价低，购买成本低；二是在限购城市商住房不受限购政策影响...</p>
                                <a href="newsdot.html" class="seemore">[详情]</a>
                                <div class="clear"></div>
                            </div>
                            <ul class="fangdai4_cot_list">
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017年买房公积金能贷多少钱？六大因素影响你的贷款额度！</div><div class="fangdai4_wz_date">2017.03.23</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>央行：北京离婚1年以内申请人按二套房贷政策执行</div><div class="fangdai4_wz_date">2017.03.15</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017楼市调控五大杀手锏 最后一个最狠</div><div class="fangdai4_wz_date">2017.03.09</div></a></li>
                            </ul>
                        </div>
                		<div class="fangdai4_cot_right">
                        	<ul class="fangdai4_cot_list">
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>楼市真正降温将在这个时间点！</div><div class="fangdai4_wz_date">2017.03.17</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>宋清辉：限购令是人为造成供需紧张的元凶</div><div class="fangdai4_wz_date">2017.03.14</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>楼市限购违约责任算谁的？买家卖家都要知道</div><div class="fangdai4_wz_date">2017.03.12</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>北京楼市调控升级 二套房首付比例提至60%</div><div class="fangdai4_wz_date">2017.03.05</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>社科院专家：“一户一房”应成为基本住房制度</div><div class="fangdai4_wz_date">2017.03.03</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017年买房公积金能贷多少钱？六大因素影响你的贷款额度！</div><div class="fangdai4_wz_date">2017.03.01</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>央行：北京离婚1年以内申请人按二套房贷政策执行</div><div class="fangdai4_wz_date">2017.02.21</div></a></li>
                            	<li><a href="newsdot.html"><div class="fangdai4_wz_left"><span>• </span>2017楼市调控五大杀手锏 最后一个最狠</div><div class="fangdai4_wz_date">2017.03.09</div></a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="fangdai4_right">
            	<div class="fangdai4_right1">
                    <div class="fangdai4_right_tit">现行央行基准利率<div class="jiantou"><img src="__IMAGES__/jt2.png" width="100%" alt=""></div></div>
                    <div class="fangdai4_right_cot">
                    	<div class="fangdai4_lit_tit">
                        	<div class="wid40">贷款期限</div><div class="wid30">商贷</div><div class="wid30">公积金</div>
                        </div>
                        <div class="fangdai4_right_cot1" style="overflow:hidden;">
                            <div id="demo_2" style="overflow-y:auto;height: 151px;width:110%">
                                <div id="marqueeee">
                                    <ul id="demo5">
                                    <li><a href="javascript:void(0);"><div class="wid40">5~30年</div><div class="wid30">4.90%</div><div class="wid30">3.25%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid40">3~5(含)年</div><div class="wid30">4.75%</div><div class="wid30">2.75%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid40">1~3(含)年</div><div class="wid30">4.75%</div><div class="wid30">2.75%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid40">1年</div><div class="wid30">4.35%</div><div class="wid30">2.75%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid40">6个月</div><div class="wid30">4.35%</div><div class="wid30">2.75%</div></a></li>
                                    </ul>
                                    <ul id="demo6"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            	<div class="fangdai4_right2">
                    <div class="fangdai4_right_tit">利率最低城市TOP10<div class="jiantou"><img src="__IMAGES__/jt2.png" width="100%" alt=""></div></div>
                    <div class="fangdai4_right_cot">
                    	<div class="fangdai4_lit_tit">
                        	<div class="wid25">排名</div><div class="wid25">城市</div><div class="wid25">平均折扣</div><div class="wid25">平均利率</div>
                        </div>
                        <div class="fangdai4_right_cot2" style="overflow:hidden;">
                            <div id="demo_3" style="overflow-y:auto;height: 90px;width: 110%;">
                                <div>
                                    <ul id="demo7">
                                    <li><a href="javascript:void(0);"><div class="wid25">1</div><div class="wid25">佛山</div><div class="wid25">8.5折</div><div class="wid25">4.17%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">2</div><div class="wid25">珠海</div><div class="wid25">8.6折</div><div class="wid25">4.20%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">3</div><div class="wid25">重庆</div><div class="wid25">8.6折</div><div class="wid25">4.20%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">4</div><div class="wid25">青岛</div><div class="wid25">8.6折</div><div class="wid25">4.23%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">5</div><div class="wid25">广州</div><div class="wid25">8.6折</div><div class="wid25">4.23%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">6</div><div class="wid25">大连</div><div class="wid25">8.7折</div><div class="wid25">4.26%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">7</div><div class="wid25">天津</div><div class="wid25">8.7折</div><div class="wid25">4.26%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">8</div><div class="wid25">宁波</div><div class="wid25">8.8折</div><div class="wid25">4.30%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">9</div><div class="wid25">沈阳</div><div class="wid25">8.8折</div><div class="wid25">4.33%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">10</div><div class="wid25">无锡</div><div class="wid25">8.9折</div><div class="wid25">4.37%</div></a></li>
                                    </ul>
                                    <ul id="demo8"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            	<div class="fangdai4_right3">
                    <div class="fangdai4_right_tit">利率最低银行TOP10<div class="jiantou"><img src="__IMAGES__/jt2.png" width="100%" alt=""></div></div>
                    <div class="fangdai4_right_cot">
                    	<div class="fangdai4_lit_tit">
                        	<div class="wid25">排名</div><div class="wid25">银行</div><div class="wid25">平均折扣</div><div class="wid25">平均利率</div>
                        </div>
                        <div class="fangdai4_right_cot3" style="overflow:hidden;">
                            <div id="demo_4" style="overflow-y:auto;height: 90px;width: 110%;">
                                <div>
                                    <ul id="demo9">
                                    <li><a href="javascript:void(0);"><div class="wid25">1</div><div class="wid25">重庆农商</div><div class="wid25">8.5折</div><div class="wid25">4.17%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">2</div><div class="wid25">大连银行</div><div class="wid25">8.6折</div><div class="wid25">4.20%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">3</div><div class="wid25">中德银行</div><div class="wid25">8.6折</div><div class="wid25">4.20%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">4</div><div class="wid25">珠海农商</div><div class="wid25">8.6折</div><div class="wid25">4.23%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">5</div><div class="wid25">南海农商</div><div class="wid25">8.6折</div><div class="wid25">4.23%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">6</div><div class="wid25">华润银行</div><div class="wid25">8.7折</div><div class="wid25">4.26%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">7</div><div class="wid25">天津银行</div><div class="wid25">8.7折</div><div class="wid25">4.26%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">8</div><div class="wid25">汇丰银行</div><div class="wid25">8.8折</div><div class="wid25">4.30%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">9</div><div class="wid25">浙商银行</div><div class="wid25">8.8折</div><div class="wid25">4.33%</div></a></li>
                                    <li><a href="javascript:void(0);"><div class="wid25">10</div><div class="wid25">平安银行</div><div class="wid25">8.9折</div><div class="wid25">4.37%</div></a></li>
                                    </ul>
                                    <ul id="demo10"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--fangdai_box4-->
    
    
    

    
    
    
</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerView : 4,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.fangdai_lt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.fangdai_rt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 .ban_box ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
		
	})
	$(window).resize(function(){
        $(".swiper1").height($(".swiper1 .ban_box ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
	});

	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})	



var speed=50;
   var tmp;
   var demo6=document.getElementById('demo6');
   var demo5=document.getElementById('demo5');
   var demo_2=document.getElementById('demo_2');
   demo6.innerHTML=demo5.innerHTML;
   function Marquee(){
   if(demo6.offsetTop-demo_2.scrollTop<=0)
   demo_2.scrollTop-=demo5.offsetHeight
   else{
    tmp= demo_2.scrollTop;
   demo_2.scrollTop++;
	if (demo_2.scrollTop == tmp){
		demo_2.scrollTop = 0;
	}
   }
   }
   var MyMar=setInterval(Marquee,speed)
   demo_2.onmouseover=function() {clearInterval(MyMar)}
   demo_2.onmouseout=function() {MyMar=setInterval(Marquee,speed)}




   var speed=50;
   var demo8=document.getElementById('demo8');
   var demo7=document.getElementById('demo7');
   var demo_3=document.getElementById('demo_3');
   demo8.innerHTML=demo7.innerHTML;
   function Marquee1(){
   if(demo8.offsetTop-demo_3.scrollTop<=0){
   demo_3.scrollTop-=demo7.offsetHeight;
   }
   else{
	var tmp1=demo_3.scrollTop; 
   demo_3.scrollTop++;
	if (demo_3.scrollTop == tmp1){
		demo_3.scrollTop =1;
	}
   }
   }
   var MyMar1=setInterval(Marquee1,speed);
   demo_3.onmouseover=function() {clearInterval(MyMar1)}
   demo_3.onmouseout=function() {MyMar1=setInterval(Marquee1,speed)}
   
   
   
var speed=50;
   var demo10=document.getElementById('demo10');
   var demo9=document.getElementById('demo9');
   var demo_4=document.getElementById('demo_4');
   demo10.innerHTML=demo9.innerHTML;
   function Marquee2(){
   if(demo10.offsetTop-demo_4.scrollTop<=0)
   demo_4.scrollTop-=demo9.offsetHeight
   else{
	var tmp2=demo_4.scrollTop; 
   demo_4.scrollTop++;
	if (demo_4.scrollTop == tmp2){
		demo_4.scrollTop = 0;
	}
   }
   }
   var MyMar2=setInterval(Marquee2,speed);
   demo_4.onmouseover=function() {clearInterval(MyMar2)}
   demo_4.onmouseout=function() {MyMar2=setInterval(Marquee2,speed)}
   
</script>

</html>
