<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">
	<!--gedai_box1-->
	<div class="gedai_box gedai_box1" style="display:none;">
    	<div class="index_container">
        	<div class="gedai1_box">
            	<div class="gedai1_list">
                <a href="#">
                	<div class="gedai1_img gedai1_img1"><img src="__IMAGES__/gedai1.png" /></div>
                    <div class="gedai1_wz">
                    	<h4>上班族专区</h4>
                        <span>消费类信用贷款</span>
                    </div>
                    <div class="clear"></div>
                </a>
                </div>
            	<div class="gedai1_list">
                <a href="#">
                	<div class="gedai1_img gedai1_img2"><img src="__IMAGES__/gedai2.png" /></div>
                    <div class="gedai1_wz">
                    	<h4>个体户专区</h4>
                        <span>小额经营类贷款</span>
                    </div>
                    <div class="clear"></div>
                </a>
                </div>
            	<div class="gedai1_list">
                <a href="#">
                	<div class="gedai1_img gedai1_img3"><img src="__IMAGES__/gedai3.png" /></div>
                    <div class="gedai1_wz">
                    	<h4>车贷专区</h4>
                        <span>低价购车，车贷办理</span>
                    </div>
                    <div class="clear"></div>
                </a>
                </div>
            	<div class="gedai1_list gedai1_list_last">
                <a href="#">
                	<div class="gedai1_img gedai1_img4"><img src="__IMAGES__/gedai4.png" /></div>
                    <div class="gedai1_wz">
                    	<h4>房贷专区</h4>
                        <span>房贷利率，房贷计算</span>
                    </div>
                    <div class="clear"></div>
                </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
	<!--gedai_box1-->
	
    <!--gedai_box5-->
    <div class="gedai_box gedai_box5">
    	<div class="index_container">
        	<div class="geidai5_cot">
            <div class="geidai5_top">
            	<div class="gedai5_top_cot">
                	<div class="gedai5_top_list ">
                    	<label>贷款金额</label>
                        <div class="xinyong_dk ui-select">
                                	<input type="hidden" value="0" id="input_yongtu">
                                    <div class="input_leixing select-value"><span>不限</span><div class="banlist_btn"><img src="__IMAGES__/ban_btn1.png" width="100%" alt=""/></div></div>
                                    <div class="dklx_list select-list">
                                        <ul>
                                            <li data-val="1">1万以下</li>
                                            <li data-val="2">1-5万</li>
                                            <li data-val="3">5-10万</li>
                                            <li data-val="4">10-20万</li>
                                            <li data-val="5">20-40万</li>
                                            <li data-val="6">40万以上</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                    </div>
                    <div class="gedai5_top_list gedai5_top_list1">
                    	<label>贷款期限</label>
                        <div class="xinyong_dk ui-select">
                                	<input type="hidden" value="0" id="input_qixian">
                                    <div class="input_leixing select-value"><span>不限</span><div class="banlist_btn"><img src="__IMAGES__/ban_btn1.png" width="100%" alt=""/></div></div>
                                    <div class="dklx_list select-list">
                                        <ul>
                                            <li data-val="1">不限</li>
                                            <li data-val="2">1-6个月</li>
                                            <li data-val="3">6个月-1年</li>
                                            <li data-val="4">1年-3年</li>
                                            <li data-val="5">3年-10年</li>
                                            <li data-val="6">10年以上</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                    </div>
                    <input type="submit" class="gedai5_research" value="重新搜索">
                    <div class="clear"></div>
                </div>
            </div>
         	<div class="geidai5_bottom">
            	<div class="gaedai5_list">
                	<span>职业身份：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">上班族</a></li>
                    	<li><a href="javascript:void(0)">个体户</a></li>
                    	<li><a href="javascript:void(0)">无固定职业</a></li>
                    	<li><a href="javascript:void(0)">企业主</a></li>
                    	<li><a href="javascript:void(0)">学生</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="gaedai5_list">
                	<span>名下房产类型：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">无房产</a></li>
                    	<li><a href="javascript:void(0)">小产权房</a></li>
                    	<li><a href="javascript:void(0)">经济/限价房</a></li>
                    	<li><a href="javascript:void(0)">房改/危改房</a></li>
                    	<li><a href="javascript:void(0)">商铺</a></li>
                    	<li><a href="javascript:void(0)">厂房</a></li>
                    	<li><a href="javascript:void(0)">商住两用房</a></li>
                    	<li><a href="javascript:void(0)">办公楼</a></li>
                    	<li><a href="javascript:void(0)">军产房</a></li>
                    	<li><a href="javascript:void(0)">商品住宅</a></li>
                    	<li><a href="javascript:void(0)">宅基地/自建房</a></li>
                    	<li><a href="javascript:void(0)">有房，但不确人房产类型</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="gaedai5_list">
                	<span>名下是否有车：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">无车</a></li>
                    	<li><a href="javascript:void(0)">无车，准备买车</a></li>
                    	<li><a href="javascript:void(0)">名下有车</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="gaedai5_list gaedai5_list1">
                	<span>您的信用情况：</span>
                    <ul>
                    	<li><a href="javascript:void(0)">1年内逾期超过3次或者超过90天</a></li>
                    	<li><a href="javascript:void(0)">1年内逾期少于3次或者少于90天</a></li>
                    	<li><a href="javascript:void(0)">无信用卡或贷款</a></li>
                    	<li><a href="javascript:void(0)">信用良好，无逾期</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="clear"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--gedai_box5-->
    
    <!--gedai_box2-->
	<div class="gedai_box gedai_box2">
    	<div class="index_container">
        	<div class="common_tit">
            	<span>杭州热门贷款</span>
            </div>
        	<div class="gedai2_box">
            	<div class="gedai2_left">
                	<div class="gedai2_list gedai2_list_first">
                    	<div class="gedai2_wz">
                        	<div class="gedai2_list_left">
                            	<div class="gedai2_list_type">
                                	<span>人气</span>
                                    <div class="gedai2_type_bg"></div>
                                </div>
                                <div class="gedai2_list_img">
                                	<a href="gedaidot.html">
                                	<img src="__IMAGES__/gedai2_list1.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="gedai2_list_right">
                            	<div class="gedai2_list_top">
                                	<a href="gedaidot.html">华夏银行-易达金</a>
                                    <ul class="gedai2_top_list">
                                    	<li><span>无需抵押</span></li>
                                    	<li><span>上班族 可申请</span></li>
                                    	<li><span>7天放款</span></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="gedai2_list_bottom">
                                	<div class="gedai2_bottom_left">
                                    	<h4>速度快 额度高</h4>
                                        <ul>
                                        	<li><span class="person"></span> 上班族可申请</li>
                                        	<li><span class="time"></span> 7天放款</li>
                                        </ul>
                                    </div>
                                	<div class="gedai2_bottom_center">
                                    	<dl>
                                        	<dt>贷款金额： </dt>
                                            <dd><span class="num_red">5.0~30.0</span> 万</dd>
                                        </dl>
                                        <dl>
                                        	<dt>月管理费： </dt>
                                            <dd><span class="num_red">0.75</span> %</dd>
                                        </dl>
                                    </div>
                                	<div class="gedai2_bottom_right">
                                    	<div class="gedai2_bottom_table">
                                    	<table>
                                        	<tbody>
                                            	<tr>
                                                	<td>
                                                        <span>在现单位工作满≥6个月</span><br/>
                                                    	<span>税后月打卡工资≥5000元</span><br />
                                                        <span>信用记录良好，接受白户申请</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="gedai2_more">
                                        	<a href="gedaidot.html">查看详情</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                	<div class="gedai2_list">
                    	<div class="gedai2_wz">
                        	<div class="gedai2_list_left">
                            	<div class="gedai2_list_type">
                                	<span>人气</span>
                                    <div class="gedai2_type_bg"></div>
                                </div>
                                <div class="gedai2_list_img">
                                	<a href="gedaidot.html">
                                	<img src="__IMAGES__/gedai2_list2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="gedai2_list_right">
                            	<div class="gedai2_list_top">
                                	<a href="gedaidot.html">宜信-宜人贷金</a>
                                    <ul class="gedai2_top_list">
                                    	<li><span>无需抵押</span></li>
                                    	<li><span>上班族 可申请</span></li>
                                    	<li><span>4天放款</span></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="gedai2_list_bottom">
                                	<div class="gedai2_bottom_left">
                                    	<h4>速度快 额度高</h4>
                                        <ul>
                                        	<li><span class="person"></span> 上班族可申请</li>
                                        	<li><span class="time"></span> 4天放款</li>
                                        </ul>
                                    </div>
                                	<div class="gedai2_bottom_center">
                                    	<dl>
                                        	<dt>贷款金额： </dt>
                                            <dd><span class="num_red">5.0~30.0</span> 万</dd>
                                        </dl>
                                        <dl>
                                        	<dt>月管理费： </dt>
                                            <dd><span class="num_red">0.78</span> %</dd>
                                        </dl>
                                    </div>
                                	<div class="gedai2_bottom_right">
                                    	<div class="gedai2_bottom_table">
                                    	<table>
                                        	<tbody>
                                            	<tr>
                                                	<td>
                                                    	<span>在现单位连续工作满6个月</span><br />
                                                        <span>税后月打卡工资≥10000元</span><br />
                                                        <span>提供近6个月银行流水</span><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="gedai2_more">
                                        	<a href="gedaidot.html">查看详情</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                	<div class="gedai2_list">
                    	<div class="gedai2_wz">
                        	<div class="gedai2_list_left">
                                <div class="gedai2_list_img">
                                	<a href="gedaidot.html">
                                	<img src="__IMAGES__/gedai2_list3.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="gedai2_list_right">
                            	<div class="gedai2_list_top">
                                	<a href="gedaidot.html">夸客金融-精英贷</a>
                                    <ul class="gedai2_top_list">
                                    	<li><span>无需抵押</span></li>
                                    	<li><span>上班族 可申请</span></li>
                                    	<li><span>3天放款</span></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="gedai2_list_bottom">
                                	<div class="gedai2_bottom_left">
                                    	<h4>速度快 额度高</h4>
                                        <ul>
                                        	<li><span class="person"></span> 上班族可申请</li>
                                        	<li><span class="time"></span> 3天放款</li>
                                        </ul>
                                    </div>
                                	<div class="gedai2_bottom_center">
                                    	<dl>
                                        	<dt>贷款金额： </dt>
                                            <dd><span class="num_red">5.0~30.0</span> 万</dd>
                                        </dl>
                                        <dl>
                                        	<dt>月管理费： </dt>
                                            <dd><span class="num_red">1.19</span> %</dd>
                                        </dl>
                                    </div>
                                	<div class="gedai2_bottom_right">
                                    	<div class="gedai2_bottom_table">
                                    	<table>
                                        	<tbody>
                                            	<tr>
                                                	<td>
                                                    	<span>要求月打卡工资≥5000元</span><br />
                                                        <span>在现单位连续工作≥6个月</span><br />
                                                        <span>连续缴纳社保或公积金≥6个月</span><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="gedai2_more">
                                        	<a href="gedaidot.html">查看详情</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                	<div class="gedai2_list">
                    	<div class="gedai2_wz">
                        	<div class="gedai2_list_left">
                                <div class="gedai2_list_img">
                                	<a href="gedaidot.html">
                                	<img src="__IMAGES__/gedai2_list2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="gedai2_list_right">
                            	<div class="gedai2_list_top">
                                	<a href="gedaidot.html">宜信-新薪贷</a>
                                    <ul class="gedai2_top_list">
                                    	<li><span>无需抵押</span></li>
                                    	<li><span>上班族 可申请</span></li>
                                    	<li><span>3天放款</span></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="gedai2_list_bottom">
                                	<div class="gedai2_bottom_left">
                                    	<h4>速度快 额度高</h4>
                                        <ul>
                                        	<li><span class="person"></span> 上班族可申请</li>
                                        	<li><span class="time"></span> 3天放款</li>
                                        </ul>
                                    </div>
                                	<div class="gedai2_bottom_center">
                                    	<dl>
                                        	<dt>贷款金额： </dt>
                                            <dd><span class="num_red">5.0~30.0</span> 万</dd>
                                        </dl>
                                        <dl>
                                        	<dt>月管理费： </dt>
                                            <dd><span class="num_red">2.33</span> %</dd>
                                        </dl>
                                    </div>
                                	<div class="gedai2_bottom_right">
                                    	<div class="gedai2_bottom_table">
                                    	<table>
                                        	<tbody>
                                            	<tr>
                                                	<td>
                                                    	<span>要求月打卡工资≥2000元</span><br />
                                                        <span>单位连续工作≥6个月</span><br />
                                                        <span>信用记录良好，无不良逾期</span><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="gedai2_more">
                                        	<a href="gedaidot.html">查看详情</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                	<div class="gedai2_list">
                    	<div class="gedai2_wz">
                        	<div class="gedai2_list_left">
                                <div class="gedai2_list_img">
                                	<a href="gedaidot.html">
                                	<img src="__IMAGES__/gedai2_list3.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="gedai2_list_right">
                            	<div class="gedai2_list_top">
                                	<a href="gedaidot.html">夸客金融-嗨客贷</a>
                                    <ul class="gedai2_top_list">
                                    	<li><span>无需抵押</span></li>
                                    	<li><span>上班族 可申请</span></li>
                                    	<li><span>3天放款</span></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="gedai2_list_bottom">
                                	<div class="gedai2_bottom_left">
                                    	<h4>速度快 额度高</h4>
                                        <ul>
                                        	<li><span class="person"></span> 上班族可申请</li>
                                        	<li><span class="time"></span> 3天放款</li>
                                        </ul>
                                    </div>
                                	<div class="gedai2_bottom_center">
                                    	<dl>
                                        	<dt>贷款金额： </dt>
                                            <dd><span class="num_red">5.0~30.0</span> 万</dd>
                                        </dl>
                                        <dl>
                                        	<dt>月管理费： </dt>
                                            <dd><span class="num_red">0.9</span> %</dd>
                                        </dl>
                                    </div>
                                	<div class="gedai2_bottom_right">
                                    	<div class="gedai2_bottom_table">
                                    	<table>
                                        	<tbody>
                                            	<tr>
                                                	<td>
                                                    	<span>要求月打卡工资≥8000元</span><br />
                                                        <span>现单位连续工作≥6个月</span><br />
                                                        <span>现单位连续缴纳社保≥6个月</span><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="gedai2_more">
                                        	<a href="gedaidot.html">查看详情</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                	<div class="gedai2_list">
                    	<div class="gedai2_wz">
                        	<div class="gedai2_list_left">
                                <div class="gedai2_list_img">
                                	<a href="gedaidot.html">
                                	<img src="__IMAGES__/gedai2_list1.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="gedai2_list_right">
                            	<div class="gedai2_list_top">
                                	<a href="gedaidot.html">华夏银行-易达金</a>
                                    <ul class="gedai2_top_list">
                                    	<li><span>无需抵押</span></li>
                                    	<li><span>上班族 可申请</span></li>
                                    	<li><span>7天放款</span></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="gedai2_list_bottom">
                                	<div class="gedai2_bottom_left">
                                    	<h4>速度快 额度高</h4>
                                        <ul>
                                        	<li><span class="person"></span> 上班族可申请</li>
                                        	<li><span class="time"></span> 7天放款</li>
                                        </ul>
                                    </div>
                                	<div class="gedai2_bottom_center">
                                    	<dl>
                                        	<dt>贷款金额： </dt>
                                            <dd><span class="num_red">5.0~30.0</span> 万</dd>
                                        </dl>
                                        <dl>
                                        	<dt>月管理费： </dt>
                                            <dd><span class="num_red">0.75</span> %</dd>
                                        </dl>
                                    </div>
                                	<div class="gedai2_bottom_right">
                                    	<div class="gedai2_bottom_table">
                                    	<table>
                                        	<tbody>
                                            	<tr>
                                                	<td>
                                                        <span>在现单位工作满≥6个月</span><br/>
                                                    	<span>税后月打卡工资≥5000元</span><br />
                                                        <span>信用记录良好，接受白户申请</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="gedai2_more">
                                        	<a href="gedaidot.html">查看详情</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            	<div class="gedai2_right">
                	<div class="gedai2_right1">
                        <div class="gedai2_tit">
                            <h4>常用工具</h4>
                        </div>
                    	<div class="gedai2_right_cot">
                        	<ul>
                            	<li>
                                	<a href="javasvript:void(0);">
                                		<div class="gedai2_right_img">
                                        	<img src="__IMAGES__/gedai2_right1_0.png" />
                                            <div class="gedai2_zz">
                                            <img src="__IMAGES__/gedai2_zzk.png"/>
                                            <div class="gedai2_right_more"></div>
                                            </div>
                                            <span>贷款工具</span>
                                        </div>
                                	</a>
                                </li>
                                <li>
                                	<a href="javasvript:void(0);">
                                		<div class="gedai2_right_img">
                                        	<img src="__IMAGES__/gedai2_right1_3.png" />
                                            <div class="gedai2_zz">
                                            <img src="__IMAGES__/gedai2_zzk.png"/>
                                            <div class="gedai2_right_more"></div>
                                            </div>
                                            <span>存款工具</span>
                                        </div>
                                	</a>
                                </li>
                            	<li>
                                	<a href="javasvript:void(0);">
                                		<div class="gedai2_right_img">
                                        	<img src="__IMAGES__/gedai2_right1_2.png" />
                                            <div class="gedai2_zz">
                                            <img src="__IMAGES__/gedai2_zzk.png"/>
                                            <div class="gedai2_right_more"></div>
                                            </div>
                                            <span>买车工具</span>
                                        </div>
                                	</a>
                                </li>
                            	<li>
                                	<a href="javasvript:void(0);">
                                		<div class="gedai2_right_img">
                                        	<img src="__IMAGES__/gedai2_right1_1.png" />
                                            <div class="gedai2_zz">
                                            <img src="__IMAGES__/gedai2_zzk.png"/>
                                            <div class="gedai2_right_more"></div>
                                            </div>
                                            <span>买房工具</span>
                                        </div>
                                	</a>
                                </li>
                            	<li>
                                	<a href="javasvript:void(0);">
                                		<div class="gedai2_right_img">
                                        	<img src="__IMAGES__/gedai2_right1_4.png" />
                                            <div class="gedai2_zz">
                                            <img src="__IMAGES__/gedai2_zzk.png"/>
                                            <div class="gedai2_right_more"></div>
                                            </div>
                                            <span>利率查询</span>
                                        </div>
                                	</a>
                                </li>
                            	<li>
                                	<a href="javasvript:void(0);">
                                		<div class="gedai2_right_img">
                                        	<img src="__IMAGES__/gedai2_right1_5.png" />
                                            <div class="gedai2_zz">
                                            <img src="__IMAGES__/gedai2_zzk.png"/>
                                            <div class="gedai2_right_more"></div>
                                            </div>
                                            <span>工资工具</span>
                                        </div>
                                	</a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                	<div class="gedai2_right2">
                    	<div class="gedai2_tit">
                            <h4>成功案例</h4>
                        </div>
                        <div class="gedai2_right2_cot">
                        	<div class="gedai2_right2_list">
                            	<h4><a href="javasvript:void(0);">外企上班族2小时成功批款22万 <img src="__IMAGES__/gedai2_succ.png" />  <span>成功</span></a></h4>
                                <span>月利率：0.78-1.89%    贷款金额：15万元</span>
                            </div>
                        	<div class="gedai2_right2_list">
                            	<h4><a href="javasvript:void(0);">外企上班族2小时成功批款22万 <img src="__IMAGES__/gedai2_succ.png" />  <span>成功</span></a></h4>
                                <span>月利率：0.78-1.89%    贷款金额：15万元</span>
                            </div>
                        	<div class="gedai2_right2_list">
                            	<h4><a href="javasvript:void(0);">外企上班族2小时成功批款22万 <img src="__IMAGES__/gedai2_succ.png" />  <span>成功</span></a></h4>
                                <span>月利率：0.78-1.89%    贷款金额：15万元</span>
                            </div>
                        </div>
                    </div>
                	<div class="gedai2_right3">
                    	<a href="javasvript:void(0);">
                        	<img src="__IMAGES__/gedai2_right3.jpg" width="100%"/>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--gedai_box2-->
    

    <div class="guangg">
    	<div class="index_container">
        <div class="swiper-container swiper3">
        <div class="swiper-wrapper">
        	<div class="swiper-slide">
        	<a href="javasvript:void(0);"><img src="__IMAGES__/guangg3.jpg" /></a>
            </div>
            <div class="swiper-slide">
        	<a href="javasvript:void(0);"><img src="__IMAGES__/guangg1.jpg" /></a>
            </div>
        </div>
        <div class="swiper-pagination pagination3">
        </div>
        </div>
    </div>
    </div>

    <!--gedai_box3-->
	<div class="gedai_box gedai_box3">
    	<div class="index_container">
        	<div class="gedai3_box">
        	<div class="common_tit">
            	<span>专业融资顾问帮您贷款</span>
            </div>
            	<div class="adviser" id="adviser"> 
                   <ul> 
                    <li class="no0"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team2.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);" target="_blank">陈舒然</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">专做房产及汽车抵押贷款服务。一对一贷款服务，资金问题一步解决！</p> 
                     </div> </li> 
                    <li class="no1"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team1.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">管琪</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">房产抵押贷款咨询。汽车房产短期用款当天放款</p> 
                     </div> </li> 
                    <li class="no2"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team3.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">李常亮</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">专做房产及汽车抵押贷款服务。咨询/短期资金周转，无产权也能操作。</p> 
                     </div> </li> 
                    <li class="no3"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team2.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">刘子甲</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">房屋抵押贷款，汽车抵押贷款，个人信用贷款！高效免费为你量身打造融资方案。</p> 
                     </div> </li> 
                    <li class="no4"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team1.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">徐春楠</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">专做抵押贷款、无抵押贷款咨询。经验丰富、专业，一对一的服务，欢迎咨询！</p> 
                     </div> </li> 
                    <li class="no5"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team2.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">陈华</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">专做房产及汽车抵押贷款服务。咨询/短期资金周转，无产权不能操作。</p> 
                     </div> </li> 
                    <li class="no6"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team1.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">王秋月</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">商品房、汽车抵押贷款咨询服务！手续简单快捷，当天拿钱！</p> 
                     </div> </li> 
                    <li class="no7"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team3.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">徐鑫林</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">房屋抵押贷款，汽车抵押贷款，个人信用贷款。高效免费为你量身打造融资方案！</p> 
                     </div> </li> 
                    <li class="no8"> <a href="javasvript:void(0);" target="_blank"><img src="__IMAGES__/team1.jpg" /></a> 
                     <div class="info"> 
                      <div class="side-tit clearfix">
                       <h5><a href="javasvript:void(0);">平飞</a></h5>
                       <i class="zheng"></i>
                       <i class="nuo"></i>
                      </div> 
                      <p>高级贷款顾问</p> 
                      <div class="side-400"> 
                       <p>统一贷款热线：</p> 
                       <div>
                        <span class="chphone"> 0571-88052201 </span> 
                       </div> 
                      </div> 
                       
                      <p class="side-con">专做房产及汽车抵押贷款服务。咨询/短期资金周转，无产权也能操作！</p> 
                     </div> </li> 
                   </ul> 
                   <div class="device"> 
                    <span class="prev"><img src="__IMAGES__/ind7_left.png" width="30" /></span> 
                    <span class="next"><img src="__IMAGES__/ind7_right.png" width="30" /></span> 
                   </div> 
                </div>  
            </div>
        </div>
    </div>
    <!--gedai_box3-->
    
    
    <!--gedai_box4-->
	<div class="gedai_box gedai_box4">
    	<div class="index_container">
        	<div class="gedai4_cot">
            	<div class="gedai4_left">
                	<div class="gedai4_left1">
                    	<div class="common_tit1">
                            <span>贷款攻略</span>
                        </div>
                        <div class="gedai4_cot1">
                        	<h4>
                            	<a href="newsdot.html">公积金异地贷款有哪些要求？公积金异地贷款所需哪些资料？</a>
                            	<span>公积金贷款为大家买房解决了资金难题，只要缴存公积金的职工都可申请公积金贷款。公积金异地贷款也开放了，那公积金异地贷款有哪些要求？公积金异地贷款所需哪些资料？</span>
                            </h4>
                           	<ul class="gedai4_left1_list">
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            </ul>                           
                        </div>
                    </div>
                	<div class="gedai4_left2">
                    	<div class="common_tit1">
                            <span>贷款问答</span>
                        </div>
                        <div class="gedai4_cot2">
                        	<div class="gedai4_cot2_input">
                        	<input type="text" placeholder="请输入您的问题" >
                            <a href="javascript:void(0);" class="tiwen">我要提问</a>
                            </div>
                            <ul class="gedai4_left1_list">
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            	<li><a href="newsdot.html"><span>• </span>逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
                            </ul>  
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="gedai4_right">
                	<div class="gedai4_right_cot">
                    	<a href="javascript:void(0);">
                        	<img src="__IMAGES__/gedai4_right.jpg" width="100%"/>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div> 
    <!--gedai_box4-->   
    
</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerView : 8,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.arrow-right2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
	
	
	var mySwiper3 = new Swiper('.swiper3',{
		pagination: '.pagination3',
		loop:true,
		autoplay:5000, 
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left3').on('click', function(e){
		e.preventDefault()
		mySwiper3.swipePrev()
	})
	  
	$('.arrow-right3').on('click', function(e){
		e.preventDefault()
		mySwiper3.swipeNext()
	})
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 .ban_box ").height());
		$(".swiper3").height($(".swiper3 img ").height());
		$('.gedai4_right').height($('.gedai4_left').height()+42)
		
	})
	$(window).resize(function(){
        $(".swiper1").height($(".swiper1 .ban_box ").height());
		$(".swiper3").height($(".swiper3 img ").height());
		$('.gedai4_right').height($('.gedai4_left').height()+42)
	});

	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})	
</script>

</html>
