<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">

	<div class="gedaidot">
    	<div class="index_container">
        	<div class="gedaidot_left">
            	<div class="gedaidot_left1" style="border-bottom:0;">
               		<div class="gedaidot_tit">
                    	<div class="gedaidot_tit_img">
                    		<img src="__IMAGES__/gedaidot1.png" />
                        </div>
                        <div class="gedaidot_tit_cot">
                        	<h4>华夏银行-易达金</h4>
                        	<h5>信用贷款  <span class="star"></span></h5>
                        </div>
                        <div class="gedaidot_tit_right">
                        	<div class="gedaidot_tit_list">
                            	<span></span>利率低
                            </div>
                        	<div class="gedaidot_tit_list gedaidot_tit_list2">
                            	<span></span>放款快
                            </div>
                        	<div class="gedaidot_tit_list gedaidot_tit_list3">
                            	<span></span>手续简便
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div> 
                    <div class="gedaidot_bottom">
                    	<div class="gedaidot_bottom_list">
                        	<div class="gedaidot_bottom_left">
                            	<span>贷款金额：</span>
                                <div class="gedaidot_bottom_input">
                                <input type="text" placeholder="100" onblur="this.placeholder='100'" onfocus="this.placeholder=''"/>
                                <span>万元</span>
                                </div>
                            </div>
                        	<div class="gedaidot_bottom_left">
                            	<span>贷款期限：</span>
                                <div class="gedaidot_bottom_input">
                                <input type="text" placeholder="12" onblur="this.placeholder='12'" onfocus="this.placeholder=''">
                                <span>月</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <ul class="gedaidot_bottom_bottom">
                        	<li>
                            	<h4>总  利  息 : </h4>
                                <div class="gedaidot_bottom_cot">
                                	<span>10.83</span>万
                                </div>
                            </li>
                        	<li>
                            	<h4>还款方式 : </h4>
                                <div class="gedaidot_bottom_cot">
                                	等额本息  
                                </div>
                            </li>
                        	<li>
                            	<h4>月   供 : </h4>
                                <div class="gedaidot_bottom_cot">
                                	<span>8.99 </span>万
                                </div>
                            </li>
                        	<li>
                            	<h4>放款时间 :  </h4>
                                <div class="gedaidot_bottom_cot">
                                	3个工作日 
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <h3> 利率说明：月管理费0.75% <span>提前还款说明</span><div class="gedaidot_tk">可提前还款，违约金为贷款剩余本金的3%</div></h3>
                        <div class="gedaidot_sq">
                        	<a href="#">我想申请</a>
                            <h5><span>8366人</span>成功申请</h5>
                        </div>
                    </div>
                </div>
                <!--<div class="gedaidot_left2">
               		<div class="gedaidot_tit">
                       <h4>申请流程</h4>
                    </div>
                    <div class="gedaidot_bottom">
                    	<div class="gedaidot_bottom_list2">
                        	<img src="" />
                        </div>
                    	<div class="gedaidot_bottom_list2"></div>
                    	<div class="gedaidot_bottom_list2"></div>
                    	<div class="gedaidot_bottom_list2"></div>
                        <div class="clear"></div>
                    </div>
                </div>-->
                <div class="gedaidot_left3">
                	<ul class="gedaidot_left3_list">
                    	<li class="active" ><a href="javascript:void(0);" class="tiaojian">申请条件</a></li>
                    	<li><a href="javascript:void(0);" class="cailiao">所需材料</a></li>
                    	<li><a href="javascript:void(0);" class="wenti">答疑解惑</a></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="gedaidot_left3_cot">
                    	<div class="gedaidot_left3_cot1" id="tiaojian">
                        	<div class="gedaidot_left3_tit">
                            	<h4>申请条件</h4>
                            </div>
                            <div class="gedaidot_left3_tj">
                            	<ul>
                                	<li><span>•</span>24-59周岁</li>
                                	<li><span>•</span>在现单位工作满6个月以上</li>
                                	<li><span>•</span>税后月打卡工资10000元以上，需提供近6个月银行流水</li>
                                	<li><span>•</span>暂不接受信用记录空白以及近12个月逾期超过90天人士申请</li>
                                	<li><span>•</span>申请人至少有一张额度7万以上，开卡使用满6个月以上</li>
                                </ul>
                            </div>
                        </div>
                    	<div class="gedaidot_left3_cot1" id="cailiao">
                        	<div class="gedaidot_left3_tit">
                            	<h4>所需材料</h4>
                            </div>
                            <div class="gedaidot_left3_tj">
                            	<ul>
                                	<li><span>•</span>本人二代身份证</li>
                                	<li><span>•</span>近半年银行流水（需有“工资”字样显示）</li>
                                	<li><span>•</span>信用报告</li>
                                </ul>
                            </div>
                        </div>
                    	<div class="gedaidot_left3_cot1" id="wenti">
                        	<div class="gedaidot_left3_tit">
                            	<h4>答疑解惑</h4>
                            </div>
                            <div class="gedaidot_left3_tj">
                            	<ul>
                                	<li><span>•</span>我是国企员工，工资打卡4000以上，工作5年了，信用卡有过逾期，能贷款吗？</li>
                                	<li><span>•</span>您好 我是开淘宝网店的 自己名下有车 流水账银行卡是我老婆姓名 本人名下有20万股票 能贷20万么？</li>
                                	<li><span>•</span>你好，我在一家国企上班，年收入在15万不到点（每个月打卡工资~7000加年终奖），前期信用卡基本处于刷爆状态，但均按时还款，有一张招行的信用卡，额度为6万，能不能申请25~30万的个人信用贷款</li>
                                	<li><span>•</span>月工资打卡税后5000元，名下有车14年的极光无抵押。想贷款10万元，信用卡有少数几次逾期，请问能贷吗</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gedaidot_left4">
                	<div class="gedaidot_left4_list">
                    	<div class="gedaidot_left4_tit">
                        	<h4>热门头条</h4>
                        </div>
                        <ul>
                        	<li><a href="newsdot.html"><span>•</span>手把手教你招行信用卡自助提额方法</a></li>
                        	<li><a href="newsdot.html"><span>•</span>听说刷爆你的信用卡也不用还钱了 这条路子终于被找到了！</a></li>
                        	<li><a href="newsdot.html"><span>•</span>工商银行信用卡还款宽限期是几天，晚还款几天不计逾期？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>2017哪家银行信用卡最好申请 有图有真相</a></li>
                        	<li><a href="newsdot.html"><span>•</span>这5家银行的信用卡相对好办好申请！别犹豫</a></li>
                        	<li><a href="newsdot.html"><span>•</span>信用卡刷卡4大禁忌 不知道你就亏大了！</a></li>
                        	<li><a href="newsdot.html"><span>•</span>信用卡未出账单可以提前还款吗？未出账单怎么还款？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>信用卡和网络贷款逾期的后果你根本想不到</a></li>
                        </ul>
                    </div>
                	<div class="gedaidot_left4_list">
                    	<div class="gedaidot_left4_tit">
                        	<h4>贷款攻略</h4>
                        </div>
                        <ul>
                        	<li><a href="newsdot.html"><span>•</span>阅后即焚 办理50万额度工商银行信用卡攻略</a></li>
                        	<li><a href="newsdot.html"><span>•</span>中信淘宝V卡额度有多高？怎么提升额度？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>别胡乱申卡了！浅谈申卡顺序...</a></li>
                        	<li><a href="newsdot.html"><span>•</span>大放水！五家银行曲线提额技术</a></li>
                        	<li><a href="newsdot.html"><span>•</span>6大白金网申开放，申卡前一定要知道这些！！！</a></li>
                        	<li><a href="newsdot.html"><span>•</span>哪家银行的信用卡比较好申请？这几家你都试过么？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>信用卡终极必杀技之77天超长免息期，带你赚钱带你飞</a></li>
                        	<li><a href="newsdot.html"><span>•</span>招行信用卡提额 三个方法最有效</a></li>
                        </ul>
                    </div>
                	<div class="gedaidot_left4_list" style="border-right:0;">
                    	<div class="gedaidot_left4_tit">
                        	<h4>贷款热点 </h4>
                        </div>
                        <ul>
                        	<li><a href="newsdot.html"><span>•</span>被芝麻信用调戏了！ 800分申下来的白金卡额度才1000！</a></li>
                        	<li><a href="newsdot.html"><span>•</span>获得大额信用卡的三个偏方 90%的人不知道！</a></li>
                        	<li><a href="newsdot.html"><span>•</span>终于有人说明白了：最强信用卡兑换航空里程（机票）攻略 看过的都收藏了</a></li>
                        	<li><a href="newsdot.html"><span>•</span>花旗银行信用卡额度高吗，花旗银行信用卡额度一般是多少？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>汇丰银行信用卡额度高吗，汇丰银行信用卡额度一般是多少？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>民生银行信用卡额度高吗，民生银行信用卡额度一般是多少？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>信用卡未出账单可以提前还款吗？未出账单怎么还款？</a></li>
                        	<li><a href="newsdot.html"><span>•</span>信用卡和网络贷款逾期的后果你根本想不到</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        	<div class="gedaidot_right">
            	<div class="gedaidot_right1">
                	<img src="__IMAGES__/gedaidot1.jpg" width="100%" />
                </div>
            	<div class="gedaidot_right2">
                	<ul>
                    	<li><span>•</span>5万信用贷</li>
                    	<li><span>•</span>50万抵押贷</li>
                    	<li><span>•</span>5万消费贷</li>
                    	<li><span>•</span>20万经营贷</li>
                    	<li><span>•</span>15万购车贷</li>
                    	<li><span>•</span>10万装修贷</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="gedaidot_right2_bt">
                    	<a href="gedai.html">查看全部贷款</a>
                    </div>
                </div>
                <div class="gedai2_right2">
                    	<div class="gedai2_tit">
                            <h4>成功案例</h4>
                        </div>
                        <div class="gedai2_right2_cot">
                        	<div class="gedai2_right2_list">
                            	<h4><a href="javascript:void(0);">外企上班族2小时成功批款22万 <img src="__IMAGES__/gedai2_succ.png">  <span>成功</span></a></h4>
                                <span>月利率：0.78-1.89%    贷款金额：15万元</span>
                            </div>
                        	<div class="gedai2_right2_list">
                            	<h4><a href="javascript:void(0);">外企上班族2小时成功批款22万 <img src="__IMAGES__/gedai2_succ.png">  <span>成功</span></a></h4>
                                <span>月利率：0.78-1.89%    贷款金额：15万元</span>
                            </div>
                        	<div class="gedai2_right2_list">
                            	<h4><a href="javascript:void(0);">外企上班族2小时成功批款22万 <img src="__IMAGES__/gedai2_succ.png">  <span>成功</span></a></h4>
                                <span>月利率：0.78-1.89%    贷款金额：15万元</span>
                            </div>
                        </div>
                    </div>
                <div class="gedaidot_right3">
                	<div class="gedai2_tit">
                            <h4>热门产品</h4>
                        </div>
                	<ul>
                    	<li>
                            <a href="gedaidot.html">
                                <div class="gedaidot_right3_img"><img src="__IMAGES__/gedai2_list1.jpg" /></div>
                                <div class="gedaidot_right3_wz">
                                	<h4>华夏银行-易达金</h4>
                                    <h5>速度快 额度高</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                            <a href="gedaidot.html">
                                <div class="gedaidot_right3_img"><img src="__IMAGES__/gedai2_list2.jpg" /></div>
                                <div class="gedaidot_right3_wz">
                                	<h4>宜信-宜人贷金</h4>
                                    <h5>速度快 额度高</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                            <a href="gedaidot.html">
                                <div class="gedaidot_right3_img"><img src="__IMAGES__/gedai2_list3.jpg" /></div>
                                <div class="gedaidot_right3_wz">
                                	<h4>夸客金融-精英贷</h4>
                                    <h5>速度快 额度高</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                            <a href="gedaidot.html">
                                <div class="gedaidot_right3_img"><img src="__IMAGES__/gedai2_list3.jpg" /></div>
                                <div class="gedaidot_right3_wz">
                                	<h4>夸客金融-嗨客贷达金</h4>
                                    <h5>速度快 额度高</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    
</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerView : 8,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.arrow-right2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
	
	
	var mySwiper3 = new Swiper('.swiper3',{
		pagination: '.pagination3',
		loop:true,
		autoplay:5000, 
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left3').on('click', function(e){
		e.preventDefault()
		mySwiper3.swipePrev()
	})
	  
	$('.arrow-right3').on('click', function(e){
		e.preventDefault()
		mySwiper3.swipeNext()
	})
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$('.gedaidot_bottom h3 span').hover(function(){
			$('.gedaidot_tk').stop().animate({'opacity':'1'},500);
		},function(){
			$('.gedaidot_tk').stop().animate({'opacity':'0'},500);
		})
		
		
		
	})
	$(window).resize(function(){
	});

	var class_name;
	$('.gedaidot_left3_list li').click(function(){
		$(this).parent().addClass('fixed');
		$(this).addClass('active');
		$(this).siblings().removeClass('active');
		class_name=$(this).find("a").attr("class");
		$('body,html').animate({'scrollTop':$('#'+class_name).offset().top-20})
	})
	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}
	if(scrollT>$('.gedaidot_left3').offset().top){
		$('.gedaidot_left3_list').addClass('fixed');
	}else{
		$('.gedaidot_left3_list').removeClass('fixed');
	}

})	
</script>

</html>
