<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->
 
<!--  / warpper  -->
<div class="warpper">

	<div class="newslist_box newslist_box1">
    	<div class="index_container">
        	<div class="newslist1_left">
            	<div class="newslist1_top">
                	<div class="newslist1_left_left">
                    	<div class="news1_center_list">
                            <a href="newsdot.html">
                        	<img src="__IMAGES__/news_center6.jpg" width="100%">
                        	<div class="news1_center_wz">
                            <img src="__IMAGES__/news_center_zz.png" width="100%">
                            <div class="news1_center_wz1">
                            	<h4>贷款额度太低怎么办？五招帮你轻松提额</h4>
                                <h5>急用钱贷款，却贷不到想要的额度怎么办？好多有贷款需求的朋友都为这个问题伤透了脑筋... </h5>
                                <span>查看详情</span>
                            </div>
                            </div>
                            </a>
                        </div>
                    </div>
                	<div class="newslist1_left_right">
                    <ul class="news1_left_list">
                    	<li class="news1_left_list_first">
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left1.jpg" width="100%">
                            </div>
                            <div class="news1_left_wz">
                            	<h4>芝麻信用分678还是没有借呗？...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left2.jpg" width="100%">
                            </div>
                            <div class="news1_left_wz">
                            	<h4>【借款秘籍】原子贷老用户特权再升...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left3.jpg" width="100%">
                            </div>
                            <div class="news1_left_wz">
                            	<h4>没工作还成功下款8000元？教你高...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left4.jpg" width="100%">
                            </div>
                            <div class="news1_left_wz">
                            	<h4>这样申请无抵押信用贷款 利息便...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div style="border-bottom:solid 1px #ddd;">
            	<div class="newslist1_bottom">
                	<div class="newslist1_list newslist1_list_line">
                    	<div class="news1_center3_list">
                                <a href="newsdot.html">
                            	<img src="__IMAGES__/news_center7.jpg" width="100%">
                                <div class="news_center3_wz">
                                	<h4>征信“黑名单”2年消除还是5年消除？</h4>
                                    <h5>如果征信报告上有不良记录，基本就跟大多数的贷款无缘了。但，我们和征信系统有... </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                   	</div>
                	<div class="newslist1_list newslist1_list_line">
                    	<div class="news1_center3_list">
                                <a href="newsdot.html">
                            	<img src="__IMAGES__/news_center8.jpg" width="100%">
                                <div class="news_center3_wz">
                                	<h4>身份证黑名单几年解除？六类行为会让你上个人信用黑名单！</h4>
                                    <h5>生活中，贷款逾期，或是信用卡逾期的事情偶有发生，原因多种多样，一旦出现问题... </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                   	</div>
                	<div class="newslist1_list">
                    	<div class="news1_center3_list">
                                <a href="newsdot.html">
                            	<img src="__IMAGES__/news_center9.jpg" width="100%">
                                <div class="news_center3_wz">
                                	<h4>注意！小心这13种最易产生信用污点的行为！</h4>
                                    <h5>这个个人信用越来越重要的今天，个人信用将直接影响到房贷、小额贷款的申请。那...  </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                   	</div>
                    <div class="clear"></div>
                </div>
                </div>
            </div>
            <div class="newslist1_right">
            	<div class="newslist1_right_top">
                	<div class="common_tit1 common_tit2" style="border-bottom:0;">
                        <span>贷款问答</span>
                    </div>
                    <div class="swiper-container swiper1">
                    	<div class="swiper-wrapper">
                        	<div class="swiper-slide">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/newslist_right1.jpg" width="100%"/>
                                </a>
                            </div>
                        	<div class="swiper-slide">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/newslist_right2.jpg" width="100%"/>
                                </a>
                            </div>
                        	<div class="swiper-slide">
                            	<a href="javascript:void(0);">
                            	<img src="__IMAGES__/newslist_right3.jpg" width="100%"/>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination pagination1" style="bottom:15px;"></div>
                    </div>
                </div>
                <div class="newslist1_right_img">
                	<img src="__IMAGES__/newslist1_right2.jpg" width="100%" />
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="newslist_box newslist_box2">
    	<div class="index_container">
        	<div class="newslist2_left">
                <div class="common_tit1" style="border-bottom:0;">
                    <span>信用卡攻略</span>
                </div>
                
                <ul class="newslist2_list">
                	<li>
                    	<div class="newslist2_img">
                            <a href="newsdot.html">
                            	<img src="__IMAGES__/newslist2_1.jpg" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                        	<a href="newsdot.html">
                        		<h3>信用卡终极必杀技之77天超长免息期，带你赚钱带你飞</h3>
                            </a>
                            <h4>来源：齐叔说信用卡 日期：2017-04-11</h4>
                            <h5>51天的免息期依旧太短？试试77天的免息期如何？</h5>
                            <div class="newslist2_bq">
                            	<img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">信用卡</a>
                                <a target="_blank" href="javascript:void(0);">银行</a>
                                <a target="_blank" href="javascript:void(0);">提额</a>
                                <a target="_blank" href="javascript:void(0);">审卡</a>
                                <a target="_blank" href="javascript:void(0);">审批</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                	<li>
                    	<div class="newslist2_img">
                            <a href="newsdot.html">
                            	<img src="__IMAGES__/newslist2_2.jpg" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                        	<a href="newsdot.html">
                        		<h3>哪家银行的信用卡比较好申请？这几家你都试过么？</h3>
                            </a>
                            <h4>来源：今日头条 日期：2017-04-11</h4>
                            <h5>银行信用卡种类那么多，要怎么挑选最适合自己的信用卡呢？</h5>
                            <div class="newslist2_bq">
                            	<img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">信用卡</a>
                                <a target="_blank" href="javascript:void(0);">银行</a>
                                <a target="_blank" href="javascript:void(0);">提额</a>
                                <a target="_blank" href="javascript:void(0);">审卡</a>
                                <a target="_blank" href="javascript:void(0);">审批</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                	<li>
                    	<div class="newslist2_img">
                            <a href="newsdot.html">
                            	<img src="__IMAGES__/newslist2_3.jpg" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                        	<a href="newsdot.html">
                        		<h3>你还在犹豫办哪家信用卡？十家银行信用卡特点神总结</h3>
                            </a>
                            <h4>来源：齐叔说卡 日期：2017-04-11</h4>
                            <h5>如今是市场上，每家银行都在发行自己的信用卡。很多朋友反映说，我想办理几家银行...</h5>
                            <div class="newslist2_bq">
                            	<img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">信用卡</a>
                                <a target="_blank" href="javascript:void(0);">银行</a>
                                <a target="_blank" href="javascript:void(0);">提额</a>
                                <a target="_blank" href="javascript:void(0);">审卡</a>
                                <a target="_blank" href="javascript:void(0);">审批</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                	<li>
                    	<div class="newslist2_img">
                            <a href="newsdot.html">
                            	<img src="__IMAGES__/newslist2_4.jpg" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                        	<a href="newsdot.html">
                        		<h3>信用卡被全额罚息 你该如何应对？（附应对方案）</h3>
                            </a>
                            <h4>来源：洛凡原创  日期：2017-04-11</h4>
                            <h5>因为逾期而被银行全额罚息，心里委屈到想哭！这是不是有点欺负人了...</h5>
                            <div class="newslist2_bq">
                            	<img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">信用卡</a>
                                <a target="_blank" href="javascript:void(0);">银行</a>
                                <a target="_blank" href="javascript:void(0);">提额</a>
                                <a target="_blank" href="javascript:void(0);">审卡</a>
                                <a target="_blank" href="javascript:void(0);">审批</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                	<li>
                    	<div class="newslist2_img">
                            <a href="newsdot.html">
                            	<img src="__IMAGES__/newslist2_5.jpg" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                        	<a href="newsdot.html">
                        		<h3>1分钟告诉你，信用卡怎样操作提额最快</h3>
                            </a>
                            <h4>来源：曝料迷支付网 日期：2017-04-10</h4>
                            <h5>信用卡提额手段各式各样，常见的有存定期、狂消费、买理财和常分期，究竟孰优孰劣...</h5>
                            <div class="newslist2_bq">
                            	<img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">信用卡</a>
                                <a target="_blank" href="javascript:void(0);">银行</a>
                                <a target="_blank" href="javascript:void(0);">提额</a>
                                <a target="_blank" href="javascript:void(0);">审卡</a>
                                <a target="_blank" href="javascript:void(0);">审批</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                	<li style="border-bottom:0;">
                    	<div class="newslist2_img">
                            <a href="newsdot.html">
                            	<img src="__IMAGES__/newslist2_6.jpg" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                        	<a href="newsdot.html">
                        		<h3>信用卡审批员自曝：大额度信用卡批卡10大内部技巧！</h3>
                            </a>
                            <h4>来源：曝料迷支付网 日期：2017-04-10</h4>
                            <h5>大额度的信用卡申请有诀窍，想申卡的你就这么做！</h5>
                            <div class="newslist2_bq">
                            	<img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">信用卡</a>
                                <a target="_blank" href="javascript:void(0);">银行</a>
                                <a target="_blank" href="javascript:void(0);">提额</a>
                                <a target="_blank" href="javascript:void(0);">审卡</a>
                                <a target="_blank" href="javascript:void(0);">审批</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        	<div class="newslist2_right">
            	<ul class="news1_right_list">
                    	<li class="news1_right_list_first">
                        	<img src="__IMAGES__/news1_right2.jpg" width="100%">
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京地区16家银行房贷再收紧 95折成主流</h4>
                                <h5>3月22日，记者发现多家银行在执行3月17日北京楼市调控...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京严审购房资格：非京籍纳税改成连续60个月</h4>
                                <h5>继3.17楼市调控新政发布后，昨天市地税局、市住建委联合...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>多部门表态 限购下楼市何去何从？答案都在这里！</h4>
                                <h5>京出台限购之后，房地产市场上风声鹤唳，电脑前守着...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京地区16家银行房贷再收紧 95折成主流</h4>
                                <h5>3月22日，记者发现多家银行在执行3月17日北京楼市调控...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京严审购房资格：非京籍纳税改成连续60个月</h4>
                                <h5>继3.17楼市调控新政发布后，昨天市地税局、市住建委联合...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>多部门表态 限购下楼市何去何从？答案都在这里！</h4>
                                <h5>京出台限购之后，房地产市场上风声鹤唳，电脑前守着...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li style="border-bottom:0;">
                        	<a href="newsdot.html">
                            	<h4>北京地区16家银行房贷再收紧 95折成主流</h4>
                                <h5>3月22日，记者发现多家银行在执行3月17日北京楼市调控...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    </ul>
            </div>
        	<div class="clear"></div>
        </div>
    </div>

</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
		pagination : '.pagination1',
		loop:true,
		autoplay:5000,
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerView : 4,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.fangdai_lt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.fangdai_rt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 img ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
		
	})
	$(window).resize(function(){
        $(".swiper1").height($(".swiper1 img ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
	});

	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})	
</script>

</html>
