<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->


<!--  / warpper  -->
<div class="warpper">
    <!--chedai_box1-->
    <div class="wenda_box">
        <div class="index_container">

            <div class="creditlist1_top">
                <div class="creditlist1_top_cot">
                    当前位置：
                    <a href="index.html">洛凡</a> &gt;
                    <a href="wenda.html">信用卡问答</a>
                </div>
            </div>
            <!--sec1-->
            <div class="wenda1_box">
                <input type="text" class="wd1_input" placeholder="请输入你要搜索的关键字" onblur="this.placeholder='请输入你要搜索的关键字'" onfocus="this.placeholder=''"/>
                <input type="button" class="wd1_sousuo" value="搜索答案"/>
                <input type="button" class="wd1_tiwen" value="我要提问"/>
                <div class="wd1_num_info">
                    <h3><span>50149</span>个问题被回答</h3>
                    <h3><span>66045</span>人得到帮助</h3>
                </div>
                <div class="wd1_remen_wd">
                    热搜：<a href="#">中信银行</a><a href="#">招商银行</a><a href="#">交通银行</a><a href="#">分期</a><a href="#">申卡额度</a><a href="#">申请资质</a><a href="#">安全用卡</a><a href="#">提额</a>
                </div>
                <div class="clear"></div>
            </div>
            <!--sec1-->


            <!--sec2-->
            <div class="wenda2_box">
                <!--sec2_left-->
                <div class="wenda2dot_left">
                    <div class="wddot_problem">
                        <img src="images/wenhao.png" class="wenhao" alt=""/>
                        <span class="wenti">我的信用卡进度查询显示的是审批完成，请问是什么意思？通过还是没通过?</span>
                    </div>
                    <div class="hdren ts_hdren">
                        <span class="huida_ren">热心网友</span>
                        <span>2017-04-19</span>
                        <span>浏览：10</span>
                        <div class="fenxiang">
                            <span class="fenxiang1"></span>
                            <span class="fenxiang2"></span>
                            <span class="fenxiang3"></span>
                            <span class="fenxiang4"></span>
                            <span class="fenxiang5"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="huida_box">
                        <img src="images/huida.png" class="huida" alt=""/>
                        <div class="huida_main">
                            <h3>你好就是通过了</h3>
                        </div>
                        <div class="clear"></div>
                        <div class="hdren">
                            <span class="huida_ren">热心网友</span>
                            <span>2017-04-19</span>
                        </div>
                    </div>


                </div>
                <div class="tw_hd">
                    <textarea class="myhuida" placeholder="我来帮助他" onblur="this.placeholder='我来帮助他'" onfocus="this.placeholder=''"></textarea>
                    <input type="button" class="mytijiao" value="提交"/>
                    <a href="#" class="myttiwen">我要提问</a>

                </div>
                <!--sec2_left-->

                <!--sec2_right-->
                <div class="wenda2_right">
                    <div class="wd2_right_bom">
                        <div class="wd2_right_tit">推荐阅读</div>
                        <div class="wd2_r_imgbox">
                            <div class="row">
                                <div class="wd2_r_img">
                                    <img src="images/wd2_r1.jpg" width="100%" alt=""/>
                                    <h3>煤球攻 -- 学习煤球新姿势…</h3>
                                </div>
                                <div class="wd2_r_img">
                                    <img src="images/wd2_r2.jpg" width="100%" alt=""/>
                                    <h3>魅族社区手机客户端意见反馈征集…</h3>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="wd2_r_list">
                            <ul>
                                <li><a href="newsdot.html">【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html">【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html">【包商】包商银行 精英计划</a></li>
                                <li><a href="newsdot.html">【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html">【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html">【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html">【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--sec2_right-->
                <div class="clear"></div>
            </div>
            <!--sec2-->


            <!--sec3-->
            <div class="wenda3_box">
                <div class="wd3_left">
                    <div class="wd3_tab_btnbox">
                        <ul>
                            <li class="active wenda3_first" onclick="fnTabBoxFade(this,3,1)"><a href="javascript:void(0);">全部问题</a></li>
                            <li onclick="fnTabBoxFade(this,3,2)"><a href="javascript:void(0);">待解决</a></li>
                            <li onclick="fnTabBoxFade(this,3,3)"><a href="javascript:void(0);">已解决</a></li>
                        </ul>
                    </div>
                    <div class="wenda3_bottom">
                        <div class="wenda3_bottom1">
                            <div class="wenda3_cot TabHide3" id="TabShow1">
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 浦发白金信用卡简约版额度大概是多少?</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 工商银行邀请我办理信用卡，到网点说我的身份证可以有3万额度，可是为什么没有通过</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 征信显示负债5万 小贷公司贷了30多家 查看的有五六十家 两张信用卡都超额 没有逾期 可以贷吗奖</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 我有一张交行信用卡，现在还可以在申请一个吗</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 我04年办了的信用卡普卡，2011年没用了，跟客服说明了的，现在还能申请吗？奖</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 5元超过还款日十天还款的，有怎样的影响</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 交行信用卡这样能下卡吗？ 多大几率下卡？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 浦发白金信用卡简约版额度大概是多少</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 交行沃尔玛信用卡可以支持境外消费吗？手续费怎么收取？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 5元超过还款日十天还款的，有怎样的影响</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 我04年办了的信用卡普卡，2011年没用了，跟客服说明了的，现在还能申请吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                </ul>
                            </div>
                            <div class="wenda3_cot TabHide3" id="TabShow2" style="display:none;">
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 平安银行白金卡好办吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 平安银行一账通是什么？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 平安银行app怎么下载？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗信用卡好申请吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 建设银行的信用卡好吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗银行信用卡好吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗银行借记卡怎么样？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗解抵押快吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 我是国企员工，工资打卡4000以上，工作5年了，信用卡有过逾期，能贷款吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗礼程卡（美元卡）可以享受24小时道路救援服务么？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 您好，我想申请贵行一张白金信用卡，但我只是上班族，可以吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                </ul>
                            </div>
                            <div class="wenda3_cot TabHide3" id="TabShow3" style="display:none;">
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗礼程卡（美元卡）可以享受24小时道路救援服务么？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 平安贷贷卡利息怎么算？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 我是国企员工，工资打卡4000以上，工作5年了，信用卡有过逾期，能贷款吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗银行借记卡怎么样？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 您好，我想申请贵行一张白金信用卡，但我只是上班族，可以吗？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 佰仟金融的还款电话是多少</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 信用卡怎么才能办成功啊</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 工商银行邀请我办理信用卡，到网点说我的身份证可以有3万额度，可是为什么没有通过</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 交行沃尔玛信用卡可以支持境外消费吗？手续费怎么收取？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 学校统一办理的银行卡，与学校饭卡相连，需要重置密码之后才可以使用吗？谢谢。</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> 花旗礼程卡（美元卡）可以享受24小时道路救援服务么？</a><div class="gonglue3_r">0回答  <span>2017-04-07 11:21</span></div><div class="clear"></div></li>
                                </ul>
                            </div>
                            <div class="wenda3_page">
                                <div class="wenda3_pagination">
                                    <a href="javascript:void(0);" class="wenda3_prev">←</a>
                                    <div class="pagination_ym">
                                        <a href="#" class="active">1</a>
                                        <a href="#" >2</a>
                                        <a href="#" >3</a>
                                        <a href="#" >4</a>
                                    </div>
                                    <a href="javascript:void(0);" class="wenda3_next">→</a>
                                    <div class="clear"></div>
                                </div>
                                <div class="searchPage">
                                    <span class="page-sum">共<strong class="allPage">4</strong>页</span>
                                    <span class="page-go">跳转<input type="text">页</span>
                                    <a href="javascript:void(0);" class="page-btn">GO</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="wenda3_bottom2">
                            <a href="#">
                                <img src="images/wenda3.gif" />
                            </a>
                        </div>
                        <div class="wenda3_bottom3">
                            <div class="wenda3_list wenda3_list1">
                                <div class="wenda3_tit">
                                    <h4>热门问题</h4>
                                </div>
                                <div class="wenda3_tit_cot">
                                    <ul>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 可用额度的负数怎么还？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 年底了还能申请信用卡吗？申请之后还会批卡吗？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 公司没座机，申请贷款会被拒吗？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 平安贷贷卡怎么用？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 平安贷贷卡利息怎么算？</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wenda3_list">
                                <div class="wenda3_tit">
                                    <h4>热门资讯</h4>
                                </div>
                                <div class="wenda3_tit_cot">
                                    <ul>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 招商信用卡分期怎么算？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 中信信用卡贷款怎么贷？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 贷贷平安怎么申请条件？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 招商信用卡可以取现吗？</a></li>
                                        <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 招商信用卡分期怎么算？</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
                <div class="wd3_right">
                    <div style="margin-bottom: 20px">
                        <img src="images/wd3_r_img.jpg" width="100%" alt=""/>
                    </div>
                    <div class="wd3_right_bom">
                        <div class="wd3_right_tit">新户办卡有礼活动</div>
                        <div class="wd3_r_list">
                            <ul>
                                <li><a href="newsdot.html"><span class="ts_wd3_r_ind">1</span>【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html"><span class="ts_wd3_r_ind">2</span>【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html"><span class="ts_wd3_r_ind">3</span>【包商】包商银行 精英计划</a></li>
                                <li><a href="newsdot.html"><span>4</span>【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html"><span>5</span>【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html"><span>6</span>【包商】包商银行 精英计划</a></li>
                                <li><a href="newsdot.html"><span>7</span>【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html"><span>8</span>【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html"><span>9</span>【包商】包商银行 精英计划</a></li>
                                <li style="border: none;"><a href="newsdot.html"><span>10</span>【交行】白金卡刷6笔 首年免年费</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!--sec3-->

        </div>
    </div>
    <!--chedai_box1-->

</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>



</script>

<script>



    $(document).ready(function(){
        $(window).load(function(){
            $(".wenda2dot_left").height($(".wenda2_right").height()- 32 -60 );
        });
        $(window).resize(function(){
            $(".wenda2dot_left").height($(".wenda2_right").height()- 32 -60 );
        });


    });


    $(window).scroll(function(){
        var scrollT=$(window).scrollTop();
        if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
            $('.right_nav').css('display','block');
        }else{
            $('.right_nav').css('display','none');
        }

    })

    $('.pagination_ym a').click(function(){
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
    })
</script>
<script>
    function fnTabBoxFade(Focus,Hide,Show){
        $(Focus).siblings().removeClass("active");
        $(Focus).addClass("active");
        $(".TabHide"+Hide).hide();
        $("#TabShow"+Show).fadeIn("fast");
    };
</script>

</html>
