<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

<!--  / warpper  -->
<div class="warpper">
    <!--chedai_box1-->
    <div class="youhui_box">
        <div class="index_container">
        
    	<div class="creditlist1_top">
        	<div class="creditlist1_top_cot">
        	当前位置：
        	<a href="index.html">洛凡</a> >
            <a href="youhui.html">信用卡优惠</a> 
            </div>
        </div>
            <!--sec1-->
            <div class="youhui1_box">
                <!--sec1_left-->
                <div class="youhui1_left">
                    <!--sec1_大图-->
                     <div class="yh1_l_bigimg">
                     	<a href="newsdot.html">
                         <img src="__IMAGES__/yhimg1.jpg" width="100%" alt=""/>
                         <div class="yh1_l_img_font">
                             <h3>银监会：分类实施房地产信贷调控 规行理财和代销业务</h3>
                         </div>
                         </a>
                     </div>
                    <!--sec1_大图-->

                    <!--sec1_小图-->
                     <div class="yh1_l_smallimg">
                         <div class="row">
                             <div class="col-lg-4 col-md-4 col-sm-4">
                                 <div class="yh1_small_img">
                                 	<a href="newsdot.html">
                                     <img src="__IMAGES__/yhimg2.jpg" width="100%" alt=""/>
                                     <div class="yh1_l_img_font">
                                         <h3>银监会：分类实施房地产信贷调控 规行理财和代销业务</h3>
                                     </div>
                                     </a>
                                 </div>
                             </div>
                             <div class="col-lg-4 col-md-4 col-sm-4">
                                 <div class="yh1_small_img">
                                 	<a href="newsdot.html">
                                     <img src="__IMAGES__/yhimg3.jpg" width="100%" alt=""/>
                                     <div class="yh1_l_img_font">
                                         <h3>银监会：分类实施房地产信贷调控 规行理财和代销业务</h3>
                                     </div>
                                     </a>
                                 </div>
                             </div>
                             <div class="col-lg-4 col-md-4 col-sm-4" style="float: right">
                                 <div class="yh1_small_img">
                                 	<a href="newsdot.html">
                                     <img src="__IMAGES__/yhimg4.jpg" width="100%" alt=""/>
                                     <div class="yh1_l_img_font">
                                         <h3>银监会：分类实施房地产信贷调控 规行理财和代销业务</h3>
                                     </div>
                                     </a>
                                 </div>
                             </div>
                         </div>
                     </div>
                    <!--sec1_小图-->
                </div>
                <!--sec1_left-->

                <!--sec1_right-->
                <div class="youhui1_right">
                    <div class="yh1_right_tit"><span class="jfhd_hm"><img src="__IMAGES__/yh_hm.png" width="100%" alt=""/></span>积分活动</div>
                    <div class="yh_r_list">
                        <ul>
                            <li><a href="newsdot.html"><span class="ts_yh_r_ind">1</span>【兴业】【玩转积分】积分转不停，抽奖撞大运——兴业银行积分抽奖赢大礼2016年第五期</a></li>
                            <li><a href="newsdot.html"><span class="ts_yh_r_ind">2</span>【农业】全国——“积分当钱花”格瓦拉积分消费</a></li>
                            <li><a href="newsdot.html"><span class="ts_yh_r_ind">3</span>【浦发】尊尚高端医疗礼遇，私人健康管家伴您左右</a></li>
                            <li><a href="newsdot.html"><span>4</span>【农业】全国——“小积分享大电影”万达影院积分消费</a></li>
                            <li><a href="newsdot.html"><span>5</span>【兴业】【玩转积分】积分转不停，抽奖撞大运——兴业银行积分抽奖赢大礼2016年第五期</a></li>
                            <li><a href="newsdot.html"><span>6</span>【农业】全国——“积分当钱花”格瓦拉积分消费</a></li>
                            <li><a href="newsdot.html"><span>7</span>【浦发】尊尚高端医疗礼遇，私人健康管家伴您左右</a></li>
                            <li><a href="newsdot.html"><span>8</span>【农业】全国——“小积分享大电影”万达影院积分消费</a></li>
                            <li><a href="newsdot.html"><span>9</span>【兴业】【玩转积分】积分转不停，抽奖撞大运——兴业银行积分抽奖赢大礼2016年第五期</a></li>
                            <li style="border: none;"><a href="newsdot.html"><span>10</span>【农业】全国——“小积分享大电影”万达影院积分消费</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!--sec1-->


            <!--sec2-->
            <div class="youhui2_box">
                <div class="yh2_left">
                    <div class="tab_bn_box">
                        <ul>
                            <li class="yh2_r_active" onclick="FnTabBoxFade(this,7,1);"><span></span>最新活动</li>
                            <li onclick="FnTabBoxFade(this,7,2);"><span></span>美食</li>
                            <li onclick="FnTabBoxFade(this,7,3);"><span></span>休闲娱乐</li>
                            <li onclick="FnTabBoxFade(this,7,4);"><span></span>航空酒店旅行</li>
                            <li onclick="FnTabBoxFade(this,7,5);"><span></span>购物</li>
                            <li onclick="FnTabBoxFade(this,7,6);"><span></span>时尚丽人</li>
                            <li onclick="FnTabBoxFade(this,7,7);"><span></span>生活服务</li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="tab_box">
                        <!--tab1--最新活动-->
                        <div class="TabHide7" id="TabShow1">
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                            <div class="yh2_l_info">
                                                <h3>【北京银行】珍爱信用记录，享受幸福人生</h3>
                                                <h4>北京银行征信中心推出覆盖全国的个人信用报告网上查询服务，向用户提供权威准确的个人征信信息。</h4>
                                                <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                            </div>
                                        </a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                            <div class="yh2_l_info">
                                                <h3>【工行】北京--易到用车 牡丹交通卡客户回馈活动</h3>
                                                <h4>活动一：已调额交通卡客户回馈易到用车券；活动二：交通卡消费满千赠易到用车券；活动三：交通卡客户易到用车9折特惠</h4>
                                                <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                            </div>
                                        </a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                            <div class="yh2_l_info">
                                                <h3>【光大】嗨购日本松本清</h3>
                                                <h4>活动期间，凡在日本药妆店松本清旗下所有活动店铺出示专用优惠券，并使用光大JCB信用卡消费，即可享持卡人限定优惠。</h4>
                                                <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                            </div>
                                        </a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                            <div class="yh2_l_info">
                                                <h3>【广发】【天津】刷广发信用卡，享iPhone购机0息分期购机优惠</h3>
                                                <h4>刷广发信用卡，享iPhone购机0息分期购机优惠</h4>
                                                <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                            </div>
                                        </a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                            <div class="yh2_l_info">
                                                <h3>【华夏】华夏银联信用卡 带你畅游韩国</h3>
                                                <h4>【华夏】华夏银联信用卡 带你畅游韩国</h4>
                                                <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                            </div>
                                        </a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--tab1-->

                        <!--tab2-->
                        <div class="TabHide7" id="TabShow2" style="display: none;">
                            <!--美食-->
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【北京银行】珍爱信用记录，享受幸福人生</h3>
                                            <h4>活动期间，中信银联持卡人（含借记卡，贷记卡）在真功夫指定门店通过中信银联手机云闪付消费可享9元抵25元优惠，即满25元含以上立减16元。每卡每天仅可参与一次活动，且每卡每月最多可享4次活动权益，数量有限，兑完即止。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div>
                                        </a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【平安】有乐就有你，餐饮享5折</h3>
                                            <h4>活动期间，持平安信用卡到指定商户消费餐享五折，买一送一</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【光大】嗨购日本松本清</h3>
                                            <h4>活动期间，凡在日本药妆店松本清旗下所有活动店铺出示专用优惠券，并使用光大JCB信用卡消费，即可享持卡人限定优惠。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【平安】平安喜刷刷，美食5折享</h3>
                                            <h4>2017年1月31日前，逢周三、周四至深圳地区禾绿回转寿司刷平安信用卡单笔正价消费满100元立减50元，每卡每日仅限优惠一次，每单最高优惠50元，数量有限，送完即止，活动不与店内其他优惠同享。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【包商】6.2元享购DQ</h3>
                                            <h4>持卡人在北京地区DQ指定门店，周六、周二使用包商银行信用卡消费购买迷你暴风雪享受6.2元购买特权。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                            <!--美食-->
                        </div>
                        <!--tab2-->

                        <!--tab3-->
                        <div class="TabHide7" id="TabShow3" style="display: none;">
                            <!--休闲娱乐-->
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【中信】看电影，最高立减15元！</h3>
                                            <h4>在线选座购买正价电影票，每订单可享随机优惠立减8-15元，每客户每周享有一次使用订单立减的机会。活动每天上午10:00开始，每笔订单最少购两张票，最多购5张票。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【浦发】高尔夫全免费球场，节假日特惠</h3>
                                            <h4>【浦发】高尔夫全免费球场，节假日特惠</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【上海】《福尔摩斯之死》震撼来袭，刷上海银行卡专享85折优惠</h3>
                                            <h4>即日起至演出开始前持卡至徐汇区安福路288号上海话剧艺术中心售票处现场购买可立享85折优惠</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【农业】全国——“积分当钱花”格瓦拉积分消费</h3>
                                            <h4>在格瓦拉网站或手机APP使用农行信用卡快捷支付方式购买电影票，即可享积分抵现优惠！每600积分抵扣1元，单卡单日最高抵扣150元。每日优惠名额有限，先到先得。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【中信】9元享看 中信银行</h3>
                                            <h4>活动期间，中信信用卡客户满足条件可获得1个活动权益,每个活动权益可以优惠价格购买商品</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                            <!--休闲娱乐-->
                        </div>
                        <!--tab3-->

                        <!--tab4-->
                        <div class="TabHide7" id="TabShow4" style="display: none;">
                            <!--航空酒店出行-->
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【重庆】“两人同行 一人免单”</h3>
                                            <h4>1、活动期间每周四10:00后，客户可通过咨询电话预约本周活动参与商家的自助餐“两人同行一人免单”服务；2、每卡每日限享优惠1次，单家餐厅每个活动日限前40人，超过人数将不能享受活动优惠；3、客户每成功享受一次优惠，扣减288信用卡积分，若客户卡内积分不够，将不能享受活动优惠；</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【民生】全球机场Priority Pass贵宾厅服务免预约</h3>
                                            <h4>民生钻石信用卡、国航无限联名信用卡、百夫长信用卡持卡人可免预约、无限次、免费进入全球120个国家、超过400个城市的700余个Priority Pass机场贵宾厅。您只需出示我行寄给您的专属PP（Priority Pass）卡即可。无论您到哪里旅行，您搭乘任何航空公司、选择任意舱位级别，都可享受Priority Pass贵宾厅礼遇，度过轻松宁静的候机时间！</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【中信】凤凰知音中信“账户+”，邀您体验现实版飞行游戏</h3>
                                            <h4>活动期在日本药妆CB信用卡消</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【民生】全球机场Priority Pass贵宾厅服务免预约</h3>
                                            <h4>民生钻石信用卡、国航无限联名信用卡、百夫长信用卡持卡人可免预约、无限次、免费进入全球120个国家、超过400个城市的700余个Priority Pass机场贵宾厅。您只需出示我行寄给您的专属PP（Priority Pass）卡即可。无论您到哪里旅行，您搭乘任何航空公司、选择任意舱位级别，都可享受Priority Pass贵宾厅礼遇，度过轻松宁静的候机时间！</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【中信】凤凰知音中信“账户+”，邀您体验现实版飞行游戏</h3>
                                            <h4>凤凰知音中信“账户+”是中信银行信用卡中心和中国国际航空股份有限公司基于凤凰知音汇APP打造的数字账户，将为您提供联名信用卡申请、线下兑换星巴克或哈根达斯等商户权益、专属活动的一站式权益服务。成功注册账户即可获赠200凤凰知音里程，还有机会获赠5000凤凰知音里程或RIM0WA旅行箱。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                            <!--航空酒店出行-->
                        </div>
                        <!--tab4-->

                        <!--tab5-->
                        <div class="TabHide7" id="TabShow5" style="display: none;">
                            <!--购物-->
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【兴业】活力境外，精彩美国——刷兴业银行万事达信用卡最高享25%返现</h3>
                                            <h4>活动期间，兴业银行持卡人在美国多家商场购物可享多重优惠，最高返现25%。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【兴业】【兴乐购】移动定制版佳明手表！0息0手续费分期购，直降500</h3>
                                            <h4>移动定制版佳明手表特惠价1780元/个，直降500，同时享受分6期、免利息、免分期手续费的特惠权益。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【交行】日本BIC CAMERA/KOJIMA /sofmap 最高享8%+7%优惠</h3>
                                            <h4>活动期间，持卡人可在交通银行信用卡官网免费下载活动优惠券，凭交通银行信用卡及该优惠券至日本BIC CAMERA, KOJIMA及Sofmap指定门店刷交通银行信用卡消费，购买电器可享8%退税及7%折扣优惠及购买药妆可享8%退税及5%折扣返还。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【农业】全国——刷农行万事达信用卡享海淘专属优惠</h3>
                                            <h4>活动期间，持卡人在指定海淘网站使用农行万事达信用卡消费并通过万事达网络清算，可享专属优惠。详情点击附件或登录万事达网站www.mastercard.com.cn。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【农业】全国—— 悦刷越有礼，奖励不限量</h3>
                                            <h4>活动期间，客户发送短信“XYKSS”到1069095599报名后，刷农行信用卡每周消费满5笔、每笔满199元，累计消费周数２周及以上（无需连续），即可获得相应奖励。满足条件的消费周数越多，奖励越大！</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                            <!--购物-->
                        </div>
                        <!--tab5-->

                        <!--tab6-->
                        <div class="TabHide7" id="TabShow6" style="display: none;">
                            <!--时尚丽人-->
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【民生】海淘精彩返利优惠</h3>
                                            <h4>刷民生运通信用卡消费，在六大类别超过３５００家在线商户享受高达１２％返利礼遇。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【重庆】刷重庆银行信用卡 满50元立减10元月月享</h3>
                                            <h4>1、活动期间，我行信用卡持卡客户在重百及新世纪超市（重庆市全市所有门店，南川店、东原D7店除外）刷卡单笔交易金额满50元即享减免10元的优惠。每卡每月限享一次优惠，先到先得，送完为止。2、客户主动告知收银人员使用我行信用卡参加优惠活动，POS机自动识别持卡人单笔刷卡金额，不累计、不迭加，以持卡人首...</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【邮储银行】持全币种卡畅行全球，伴您体验多重礼遇</h3>
                                            <h4>刷全币种信用卡，免在机场苦苦排队、免去繁琐手续，在家就能退税，再享10%退税奖励。境外尽情购物，境内轻松退税，有全币种信用卡，整趟旅行尽是美好心情！乐游赏精选全球热门电商及大陆、港澳台众多顶级商户，横跨旅行娱乐、零售服务与在线购物等300多个国际知名品牌，超过1000家实体商铺，不论在家网购或外出旅游，在银行及商户优惠之外，均额外享受5%长期有效的乐游赏奖励，全年无休！只要1分钟，免费注册，赚取5%奖励无上限，可兑换各式商户现金券或储值卡，全球通用。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【平安】平安信用卡专享0利息0手续费分期学瑜伽</h3>
                                            <h4>即日起至2017年8月31日最高6期0利息0手续费分期学瑜伽</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【平安】平安信用卡专享0利息0手续费分期学瑜伽</h3>
                                            <h4>即日起至2017年8月31日最高6期0利息0手续费分期学瑜伽</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                            <!--时尚丽人-->
                        </div>
                        <!--tab6-->

                        <!--tab7-->
                        <div class="TabHide7" id="TabShow7" style="display: none;">
                            <!--生活服务-->
                            <div class="yh2_tab1">
                                <ul>
                                    <li>
                                        <img src="__IMAGES__/yh2_l1.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【平安】孩子王满188元随机立减</h3>
                                            <h4>2017年2月24日至2017年6月30日期间逢周五，在福州、漳州、龙岩地区孩子王刷平安信用卡消费享单笔满188元及以上可享随机立减至免单（最高免188元）</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l2.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【中信】尊享E生</h3>
                                            <h4>小小投入，大大福利，最低每天0.3元超低保费，享受百万尊贵保障，全国投保，年龄广泛</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l3.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【招商】你负责看世界 钱的事交给e招贷</h3>
                                            <h4>e招贷是为符合条件的持卡人提供的按日计息的短期现金信贷业务。无需预约无需抵押担保，即可通过转账的方式获取资金，专享额度，最高30万，单独出账还款。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l4.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【建设】龙卡信用卡推出“鑫菁英”教育分期产品</h3>
                                            <h4>针对教育培训市场的蓬勃发展，我行推出龙卡信用卡“鑫菁英”教育分期产品，可用于私立学校、国际学校、出国语言培训、MBA/EMBA教育等方面的学费支出，产品可提供最长48期、最高50万元的专享信用额度。</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <img src="__IMAGES__/yh2_l5.jpg" class="yh2_r_img" alt=""/>
                                        <a href="newsdot.html">
                                        <div class="yh2_l_info">
                                            <h3>【民生】金卡享民生恒江绿色就医服务</h3>
                                            <h4>中国民生银行信用卡中心携手全国就医服务领跑者一北京恒江联盟科技有限公司共同设立民生-恒江健 康管理中心。该中心已在全国32个城市50家知名三甲医院开辟就医绿色通道。金卡及以上级别民生信用卡持卡人可享受专家门诊挂号及检查检验预约等全程服务套餐，还可为亲友预约！</h4>
                                            <div><span class="yh2_l_yuedu"><span>阅读</span>4.8万</span><span class="yh2_l_taolun"><span>讨论</span>3.3万</span></div>
                                        </div></a>
                                        <div class="yh2_l_dianzan">
                                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                            <!--生活服务-->
                        </div>
                        <!--tab7-->
                    </div>
                </div>
                <div class="yh2_right">
                    <div>
                        <img src="__IMAGES__/yh2_r1.jpg" width="100%" alt=""/>
                    </div>


                    <div class="yh2_right_bom">
                        <div class="yh2_right_tit">新户办卡有礼活动</div>
                        <div class="yh2_r_list">
                            <ul>
                                <li><a href="newsdot.html"><span class="ts_yh2_r_ind">1</span>【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html"><span class="ts_yh2_r_ind">2</span>【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html"><span class="ts_yh2_r_ind">3</span>【包商】包商银行 精英计划</a></li>
                                <li><a href="newsdot.html"><span>4</span>【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html"><span>5</span>【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html"><span>6</span>【包商】包商银行 精英计划</a></li>
                                <li><a href="newsdot.html"><span>7</span>【交行】白金卡刷6笔 首年免年费</a></li>
                                <li><a href="newsdot.html"><span>8</span>【农业】乐游天下——留学生活“惠”计划，农行银联卡献“四重礼”</a></li>
                                <li><a href="newsdot.html"><span>9</span>【包商】包商银行 精英计划</a></li>
                                <li style="border: none;"><a href="newsdot.html"><span>10</span>【交行】白金卡刷6笔 首年免年费</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
            <!--sec2-->


            <!--sec3-->
            <div class="yh3_box">
                <div class="yh3_box_tit">银行信用卡中心</div>
                <div class="swiper-container swiper1" >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank1.png" width="100%" alt=""/>中信银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank2.png" width="100%" alt=""/>交通银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank3.png" width="100%" alt=""/>兴业银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank4.png" width="100%" alt=""/>光大银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank5.png" width="100%" alt=""/>招商银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank6.png" width="100%" alt=""/>平安银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank7.png" width="100%" alt=""/>浦发银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank8.png" width="100%" alt=""/>民生银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank9.png" width="100%" alt=""/>广发银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank10.png" width="100%" alt=""/>花旗银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank11.png" width="100%" alt=""/>华夏银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank12.png" width="100%" alt=""/>农业银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank13.png" width="100%" alt=""/>中国银行信用卡中心
                            </div>
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank14.png" width="100%" alt=""/>工商银行信用卡中心
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thcard_img">
                                <img src="__IMAGES__/yhbank15.png" width="100%" alt=""/>建设银行信用卡中心
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination pagination1"></div>
                </div>
            </div>
            <!--sec3-->


        </div>
    </div>
    <!--chedai_box1-->

</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>
    var mySwiper1 = new Swiper('.swiper1',{
        loop:true,
        grabCursor: true,
        autoplay:5000,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 6,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    })
    $('.arrow-left1').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    })

    $('.arrow-right1').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    })



</script>
<!--Tab切换-->
<script>
    function FnTabBoxFade(Focus,Hide,Show){
        $(Focus).siblings().removeClass("yh2_r_active");
        $(Focus).addClass("yh2_r_active");
        $(".TabHide"+Hide).hide();
        $("#TabShow"+Show).fadeIn("fast");
    }
</script>

<!--Tab切换-->

<script>



    $(document).ready(function(){
        $(window).load(function(){
            $(".youhui1_right").height($(".youhui1_left").height()-2);
            $(".swiper1").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-wrapper").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-slide").height($(".thcard_img").height()*2+5);

        });
        $(window).resize(function(){
            $(".youhui1_right").height($(".youhui1_left").height()-2);
            $(".swiper1").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-wrapper").height($(".thcard_img").height()*2+5);
            $(".swiper1 .swiper-slide").height($(".thcard_img").height()*2+5);
        });


    });


    $(window).scroll(function(){
        var scrollT=$(window).scrollTop();
        if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
            $('.right_nav').css('display','block');
        }else{
            $('.right_nav').css('display','none');
        }

    })
</script>
<script>
    function fnTabBoxFade(Focus,Hide,Show){
        $(Focus).siblings().removeClass("card_active");
        $(Focus).addClass("card_active");
        $(".TabHide"+Hide).hide();
        $("#TabShow"+Show).fadeIn("fast");
    };
</script>

</html>
