<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->


<!--  / warpper  -->
<div class="warpper">

    <div class="newsdot_box">
        <div class="index_container">
            <div class="newsdot_left">
                <div class="newsdot_left_cot">
                    <div class="newsdot_tit">
                        <h4>【光大】哈根达斯“10元吃冰淇淋”</h4>
                    </div>
                    <div class="newsdot_cot">
                        <div class="newstime">时间：2016-06-26 ~ 2016-12-31  来源：洛凡金融  作者：小丸子 </div>
                        <div class="yh2_l_dianzan" style=" right: 15px;">
                            <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                            <i class="fa fa-eye yh_ck"></i><span>0</span>
                        </div>
                        <p>活动期间，持卡人在全国指定哈根达斯门店刷卡消费,在POS机上验证成功获取优惠小票后，可享受10元吃哈根达斯单球冰淇淋、脆皮条、小纸杯优惠活动。本次活动名额共计37500个，夏季每个活动日均限制优惠名额1875个，冬季每个活动日限制优惠名额865个，每位持卡人在优惠日当天仅可享受一次优惠。</p>

                        <h6>活动1：（哈根达斯门店）</h6>
                        <p>注：如客户持有多张我行信用卡，也仅可使用其中一张参与本活动。</p>
                        <h6>活动细则：</h6>
                        <p>1. 活动期间，在哈根达斯指定门店，客户出示本人的光大银行信用卡，告知店员参加“10元吃冰淇淋”活动，结帐时由店铺收银员对信用卡进行核实确认，并通过e-Buy POS机验证成功后（打印小票视为验证成功）方可享受优惠活动。</p>
                        <p>2. 使用光大银行信用卡进行全额支付方可享受本活动优惠。 </p>
                        <p>3. 每位客户每个活动日限享受一次优惠，不可累计或分单享受优惠。 </p>
                        <p>4. 本次活动不包含零额度存贷合一卡。</p>
                    </div>
                    <div class="newsdot_sx">
                        <h4><a href="newsdot.html">上一篇:<span>无</span></a></h4>
                        <h4><a href="newsdot.html">下一篇:<span>无</span></a></h4>
                    </div>

                </div>
                <div class="gonglue1_list gonglue1_list_ts1">
                    <div class="gonglue_tit gonglue_tit5">
                        <h4>全部点评</h4>
                        <a href="newslist.html">更多</a>
                    </div>

                        <div class="wenda2dot_left" style="border: none;">
                            <div class="huida_box">
                                <img src="images/dianping.png" class="huida" alt=""/>
                                <div class="huida_main">
                                    <h3>活动很实惠，跟朋友一起买了好多，节省了很多钱，好开心啊。</h3>
                                </div>
                                <div class="yh2_l_dianzan" style=" right: 30px;">
                                    <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                    <i class="fa fa-eye yh_ck"></i><span>0</span>
                                </div>
                                <div class="clear"></div>
                                <div class="hdren">
                                    <span class="huida_ren">热心网友</span>
                                    <span>2017-04-19</span>
                                </div>
                                <div class="yhdot_huifu">
                                    <div class="one_yhdot">
                                        <img src="images/tx1.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>浙大教授 回复 小葡萄：</span>是真的。不错。我前几天去买了。很优惠的</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx2.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>小葡萄 回复 楼主：</span>真的很优惠吗？我也想买</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx3.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>楼主 回复 浙大教授：</span>恩恩。真的不错。还活动还有好几天呢。这几天多买几次。哈哈</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="huida_box">
                                <img src="images/dianping.png" class="huida" alt=""/>
                                <div class="huida_main">
                                    <h3>你好请问活动具体要怎么参加，有什么限制吗？</h3>
                                </div>
                                <div class="yh2_l_dianzan" style=" right: 30px;">
                                    <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                    <i class="fa fa-eye yh_ck"></i><span>0</span>
                                </div>
                                <div class="clear"></div>
                                <div class="hdren">
                                    <span class="huida_ren">热心网友</span>
                                    <span>2017-04-19</span>
                                </div>
                                <div class="yhdot_huifu">
                                    <div class="one_yhdot">
                                        <img src="images/tx1.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>浙大教授 回复 小葡萄：</span>是真的。不错。我前几天去买了。很优惠的</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx2.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>小葡萄 回复 楼主：</span>真的很优惠吗？我也想买</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx3.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>楼主 回复 浙大教授：</span>恩恩。真的不错。还活动还有好几天呢。这几天多买几次。哈哈</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="huida_box">
                                <img src="images/dianping.png" class="huida" alt=""/>
                                <div class="huida_main">
                                    <h3>我怎么没有优惠。不知道怎么用？谁帮忙解答一下</h3>
                                </div>
                                <div class="yh2_l_dianzan" style=" right: 30px;">
                                    <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                    <i class="fa fa-eye yh_ck"></i><span>0</span>
                                </div>
                                <div class="clear"></div>
                                <div class="hdren">
                                    <span class="huida_ren">热心网友</span>
                                    <span>2017-04-19</span>
                                </div>
                            </div>
                            <div class="huida_box">
                                <img src="images/dianping.png" class="huida" alt=""/>
                                <div class="huida_main">
                                    <h3>你好就是通过了</h3>
                                </div>
                                <div class="yh2_l_dianzan" style=" right: 30px;">
                                    <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                    <i class="fa fa-eye yh_ck"></i><span>0</span>
                                </div>
                                <div class="clear"></div>
                                <div class="hdren">
                                    <span class="huida_ren">热心网友</span>
                                    <span>2017-04-19</span>
                                </div>
                                <div class="yhdot_huifu">
                                    <div class="one_yhdot">
                                        <img src="images/tx1.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>浙大教授 回复 小葡萄：</span>是真的。不错。我前几天去买了。很优惠的</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx2.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>小葡萄 回复 楼主：</span>真的很优惠吗？我也想买</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx3.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>楼主 回复 浙大教授：</span>恩恩。真的不错。还活动还有好几天呢。这几天多买几次。哈哈</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="huida_box">
                                <img src="images/dianping.png" class="huida" alt=""/>
                                <div class="huida_main">
                                    <h3>你好就是通过了</h3>
                                </div>
                                <div class="yh2_l_dianzan" style=" right: 30px;">
                                    <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                    <i class="fa fa-eye yh_ck"></i><span>0</span>
                                </div>
                                <div class="clear"></div>
                                <div class="hdren">
                                    <span class="huida_ren">热心网友</span>
                                    <span>2017-04-19</span>
                                </div>
                                <div class="yhdot_huifu">
                                    <div class="one_yhdot">
                                        <img src="images/tx1.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>浙大教授 回复 小葡萄：</span>是真的。不错。我前几天去买了。很优惠的</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx2.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>小葡萄 回复 楼主：</span>真的很优惠吗？我也想买</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="one_yhdot">
                                        <img src="images/tx3.jpg" class="yhdot_img" alt=""/>
                                        <div class="yhdot_hf">
                                            <h6><span>楼主 回复 浙大教授：</span>恩恩。真的不错。还活动还有好几天呢。这几天多买几次。哈哈</h6>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="huida_box">
                                <img src="images/dianping.png" class="huida" alt=""/>
                                <div class="huida_main">
                                    <h3>你好就是通过了</h3>
                                </div>
                                <div class="yh2_l_dianzan" style=" right: 30px;">
                                    <i class="fa fa-thumbs-o-up yh_dz"></i><span>23</span>
                                    <i class="fa fa-eye yh_ck"></i><span>0</span>
                                </div>
                                <div class="clear"></div>
                                <div class="hdren">
                                    <span class="huida_ren">热心网友</span>
                                    <span>2017-04-19</span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="newsdot_right">
                <div class="newsdot_right_list">
                    <div class="news1_right2">
                        <h3>今日特惠</h3>
                        <a href="newslist.html"><div class="news_rm">更多<span><img src="images/news_rm1.png" width="100%"></span></div></a>
                    </div>
                    <ul class="news1_right3_list" style="border: solid 1px #ddd;padding: 0 15px;">
                        <li style="border: none">
                            <a href="newsdot.html">
                                <h4>潍坊凯旋国际大酒店有限公司</h4>
                                <div class="news1_right3_list_wz yhdot_news1_right3_list_wz">
                                    <h5>持中行信用卡消费菜金享9折优惠，当晚入住酒店提供特价房一间，持中行卡订婚宴享受婚宴“三免”政策</h5>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                            <a href="newsdot.html">
                                <h4>风波庄总舵</h4>
                                <div class="news1_right3_list_wz yhdot_news1_right3_list_wz">
                                    <h5>刷卡消费可享受9.0折优惠(酒水、饮料除外，不与其他优惠同享)。</h5>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                            <a href="newsdot.html">
                                <h4>天庭酒店步行街店</h4>
                                <div class="news1_right3_list_wz yhdot_news1_right3_list_wz">
                                    <h5>刷卡消费可享受9折优惠(不与其他优惠同享)</h5>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="gonglue1_list gonglue1_list_ts1">
                    <div class="gonglue_tit gonglue_tit5">
                        <h4>光大银行最新优惠活动</h4>
                        <a href="newslist.html">更多</a>
                    </div>
                    <div class="gonglue1_wz gonglue1_wz1">
                        <ul>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 【光大】在娱票儿购票，立减10元</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 【光大】屈臣氏满120元立减50元</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 【光大】阅读大不同，有卡更轻松</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 【光大】AMAZON黑五购物满额免邮</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 【光大】感恩一路有你，光大积分大回馈</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 【光大】光大购物季之“商场购物乐翻天5倍积分大放送</a></li>
                        </ul>
                    </div>
                </div>

                <!--相关优惠-->
                <div class="gonglue1_list gonglue1_list_ts1">
                    <div class="gonglue_tit gonglue_tit5">
                        <h4>相关优惠</h4>
                        <a href="newslist.html">更多</a>
                    </div>
                    <div class="gonglue1_wz gonglue1_wz1">
                        <ul>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 看电影，最高立减15元！</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i>“惠聚中行日”海底捞消费满200元立减60元(每周日)</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 孩子王满188元随机立减</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 乐享周六——农行云闪付屈臣氏满120立减60</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 持兴业万事达信用卡，Plastiq留学万事通</a></li>
                            <li><a href="newsdot.html"><i class="fa fa-angle-right"></i> 全国——刷农行万事达信用卡享海淘专属优惠</a></li>
                        </ul>
                    </div>
                </div>
                <!--相关优惠-->
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
<!--  / warpper  -->

<include file="Public:header" />
</head>
<body>

<include file="Public:top" />
<!-- ========================================== -->

</body>
<script>

    var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


    var mySwiper2 = new Swiper('.swiper2',{
        loop:true,
        autoplay:5000,
        spaceBetween: 0,
        slidesPerView : 4,
        paginationClickable: true,
        autopalyDisableOnInteraction:false,
    })
    $('.fangdai_lt').on('click', function(e){
        e.preventDefault()
        mySwiper2.swipePrev()
    })

    $('.fangdai_rt').on('click', function(e){
        e.preventDefault()
        mySwiper2.swipeNext()
    })

</script>


<script>



    $(document).ready(function(){
        $(window).load(function(){
            $(".swiper1").height($(".swiper1 .ban_box ").height());
            $('.swiper2').height($('.swiper2 img').height()+60)

        })
        $(window).resize(function(){
            $(".swiper1").height($(".swiper1 .ban_box ").height());
            $('.swiper2').height($('.swiper2 img').height()+60)
        });


    })


    $(window).scroll(function(){
        var scrollT=$(window).scrollTop();
        if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
            $('.right_nav').css('display','block');
        }else{
            $('.right_nav').css('display','none');
        }

    })
</script>

</html>
