<include file="Public:head"/>
<body>
<div class="warpper_box">
  <div class="city_select_box">
         
                <div class="select_t">
                  <ul>
                    <li class="cs cur" onmouseover="chose_type(this, 'cs1')" name="select_abc">按首字母选择</li>
                    <li class="cs" onmouseover="chose_type(this, 'cs2')" name="select_abc_c">按省份选择</li>
                    <div class="clear"></div>
                  </ul>
                </div>
                <!--按首字母选择 开始-->
                <div class="css" id="cs1">
                    <div class="select_abc"> 
                      <a href="#a" class="bt cur">A</a>
                      <a href="#b" class="bt">B</a>
                      <a href="#c" class="bt">C</a>
                      <a href="#d" class="bt">D</a>
                      <a href="#e" class="bt">E</a>
                      <a href="#f" class="bt">F</a>
                      <a href="#g" class="bt">G</a>
                      <a href="#h" class="bt">H</a>
                      <a href="#j" class="bt">J</a> 
                      <a href="#k" class="bt">K</a> 
                      <a href="#l" class="bt">L</a> 
                      <a href="#m" class="bt">M</a> 
                      <a href="#n" class="bt">N</a> 
                      <a href="#p" class="bt">P</a> 
                      <a href="#q" class="bt">Q</a> 
                      <a href="#r" class="bt">R</a> 
                      <a href="#s" class="bt">S</a> 
                      <a href="#t" class="bt">T</a> 
                      <a href="#w" class="bt">W</a> 
                      <a href="#x" class="bt">X</a> 
                      <a href="#y" class="bt">Y</a> 
                      <a href="#z" class="bt">Z</a>
                    </div>
                  
                    
                    <div class="select_abc_c">
                        <ul>
                            <li id="A">
                              <div class="teshu"><a class="abcd" name="a">A</a></div>
                                <a href="#">鞍山</a>
                                <a href="#">安康</a>
                                <a href="#">安庆</a>
                                <a href="#">安阳</a>
                                <a href="#">阿坝</a>
                                <a href="#">安顺</a>
                                <a href="#">阿里</a>
                                <a href="#">阿勒泰</a>
                                <a href="#">阿克苏</a>
                                <a href="#">阿拉善盟</a>
                            </li>
                            <li id="B">
                                <div class="teshu"><a class="abcd" name="b">B</a></div>
                                <a class="oncity" href="#">北京</a>
                                <a href="#">保定</a>
                                <a href="#">宝鸡</a>
                                <a href="#">包头</a>
                                <a href="#">滨州</a>
                                <a href="#">蚌埠</a>
                                <a href="#">保山</a>
                                <a href="#">本溪</a>
                                <a href="#">白城</a>
                                <a href="#">白山</a>
                                <a href="#">亳州</a>
                                <a href="#">百色</a>
                                <a href="#">北海</a>
                                <a href="#">白银</a>
                                <a href="#">巴中</a>
                                <a href="#">毕节</a>
                                <a href="#">巴彦淖尔</a>
                                <a href="#">博尔塔拉</a>
                                <a href="#">巴音郭楞</a>
                            </li>
                            <li id="C">
                               <div class="teshu"> <a class="abcd" name="c">C</a></div>
                                <a class="oncity" href="#">成都</a>
                                <a class="oncity" href="#">重庆</a>
                                <a class="oncity" href="#">长沙</a>
                                <a href="#">长春</a>
                                <a href="#">常州</a>
                                <a href="#">常德</a>
                                <a href="#">朝阳</a>
                                <a href="#">郴州</a>
                                <a href="#">巢湖</a>
                                <a href="#">潮州</a>
                                <a href="#">承德</a>
                                <a href="#">滁州</a>
                                <a href="#">长治</a>
                                <a href="#">池州</a>
                                <a href="#">崇左</a>
                                <a href="#">昌吉</a>
                                <a href="#">赤峰</a>
                                <a href="#">沧州</a>
                                <a href="#">昌都</a>
                            </li>
                            <li id="D">
                                <div class="teshu"><a class="abcd" name="d">D</a></div>
                                <a class="oncity" href="#">大连</a>
                                <a class="oncity" href="#">东莞</a>
                                <a href="#">大庆</a>
                                <a href="#">德州</a>
                                <a href="#">东营</a>
                                <a href="#">大同</a>
                                <a href="#">达州</a>
                                <a href="#">德阳</a>
                                <a href="#">丹东</a>
                                <a href="#">德宏</a>
                                <a href="#">迪庆</a>
                                <a href="#">定西</a>
                                <a href="#">儋州</a>
                                <a href="#">东方</a>
                                <a href="#">大兴安岭</a>
                            </li>
                            <li id="E">
                               <div class="teshu"> <a class="abcd" name="e">E</a></div>
                                <a href="#">鄂州</a>
                                <a href="#">恩施</a>
                                <a href="#">鄂尔多斯</a>
                            </li>
                            <li id="F">
                               <div class="teshu"> <a class="abcd" name="f">F</a></div>
                                <a class="oncity" href="#">福州</a>
                                <a href="#">抚州</a>
                                <a href="#">佛山</a>
                                <a href="#">抚顺</a>
                                <a href="#">阜新</a>
                                <a href="#">阜阳</a>
                                <a href="#">防城港</a>
                            </li>
                            <li id="G">
                               <div class="teshu"> <a class="abcd" name="g">G</a></div>
                                <a class="oncity" href="#">广州</a>
                                <a href="#">贵阳</a>
                                <a href="#">赣州</a>
                                <a href="#">广安</a>
                                <a href="#">甘孜</a>
                                <a href="#">广元</a>
                                <a href="#">桂林</a>
                                <a href="#">贵港</a>
                                <a href="#">甘南</a>
                                <a href="#">固原</a>
                                <a href="#">果洛</a>
                            </li>
                            <li id="H">
                               <div class="teshu"> <a class="abcd" name="h">H</a></div>
                                <a class="oncity" href="#">杭州</a>
                                <a href="#">哈尔滨</a>
                                <a href="#">合肥</a>
                                <a href="#">海口</a>
                                <a href="#">呼和浩特</a>
                                <a href="#">菏泽</a>
                                <a href="#">汉中</a>
                                <a href="#">湖州</a>
                                <a href="#">鹤岗</a>
                                <a href="#">衡阳</a>
                                <a href="#">怀化</a>
                                <a href="#">鹤壁</a>
                                <a href="#">河源</a>
                                <a href="#">淮北</a>
                                <a href="#">淮安</a>
                                <a href="#">黄冈</a>
                                <a href="#">惠州</a>
                                <a href="#">红河</a>
                                <a href="#">黄山</a>
                                <a href="#">黑河</a>
                                <a href="#">邯郸</a>
                                <a href="#">淮南</a>
                                <a href="#">衡水</a>
                                <a href="#">和田</a>
                                <a href="#">贺州</a>
                                <a href="#">河池</a>
                                <a href="#">哈密</a>
                                <a href="#">海北</a>
                                <a href="#">海东</a>
                                <a href="#">黄南</a>
                                <a href="#">海西</a>
                                <a href="#">黄石</a>
                                <a href="#">葫芦岛</a>
                                <a href="#">呼伦贝尔</a>
                                <a href="#">海南藏族</a>
                            </li>
                            <li id="J">
                               <div class="teshu"> <a class="abcd" name="j">J</a></div>
                                <a href="#">济南</a>
                                <a href="#">济宁</a>
                                <a href="#">嘉兴</a>
                                <a href="#">济源</a>
                                <a href="#">金华</a>
                                <a href="#">九江</a>
                                <a href="#">晋中</a>
                                <a href="#">晋城</a>
                                <a href="#">焦作</a>
                                <a href="#">吉林市</a>
                                <a href="#">酒泉</a>
                                <a href="#">揭阳</a>
                                <a href="#">江门</a>
                                <a href="#">锦州</a>
                                <a href="#">荆州</a>
                                <a href="#">荆门</a>
                                <a href="#">鸡西</a>
                                <a href="#">佳木斯</a>
                                <a href="#">吉安</a>
                                <a href="#">金昌</a>
                                <a href="#">嘉峪关</a>
                                <a href="#">景德镇</a>
                            </li>
                            <li id="K">
                               <div class="teshu"> <a class="abcd" name="k">K</a></div>
                                <a href="#">昆明</a>
                                <a href="#">开封</a>
                                <a href="#">喀什</a>
                                <a href="#">克拉玛依</a>
                                <a href="#">克孜勒苏</a>
                            </li>
                            <li id="L">
                               <div class="teshu"> <a class="abcd" name="l">L</a></div>
                                <a href="#">兰州</a>
                                <a href="#">拉萨</a>
                                <a href="#">洛阳</a>
                                <a href="#">柳州</a>
                                <a href="#">临沂</a>
                                <a href="#">廊坊</a>
                                <a href="#">聊城</a>
                                <a href="#">丽水</a>
                                <a href="#">龙岩</a>
                                <a href="#">临沧</a>
                                <a href="#">丽江</a>
                                <a href="#">娄底</a>
                                <a href="#">辽阳</a>
                                <a href="#">连云港</a>
                                <a href="#">泸州</a>
                                <a href="#">乐山</a>
                                <a href="#">凉山</a>
                                <a href="#">辽源</a>
                                <a href="#">莱芜</a>
                                <a href="#">吕梁</a>
                                <a href="#">六安</a>
                                <a href="#">来宾</a>
                                <a href="#">漯河</a>
                                <a href="#">陇南</a>
                                <a href="#">临夏</a>
                                <a href="#">临汾</a>
                                <a href="#">林芝</a>
                                <a href="#">六盘水</a>
                            </li>
                            <li id="M">
                               <div class="teshu"> <a class="abcd" name="m">M</a></div>
                                <a href="#">绵阳</a>
                                <a href="#">眉山</a>
                                <a href="#">茂名</a>
                                <a href="#">梅州</a>
                                <a href="#">牡丹江</a>
                                <a href="#">马鞍山</a>
                            </li>
                            <li id="N">
                                <div class="teshu"><a class="abcd" name="n">N</a></div>
                                <a class="oncity" href="#">南京</a>
                                <a href="#">南宁</a>
                                <a href="#">南昌</a>
                                <a href="#">宁波</a>
                                <a href="#">南通</a>
                                <a href="#">宁德</a>
                                <a href="#">南阳</a>
                                <a href="#">南平</a>
                                <a href="#">怒江</a>
                                <a href="#">南充</a>
                                <a href="#">内江</a>
                                <a href="#">那曲</a>
                            </li>
                            <li id="P">
                                <div class="teshu"><a class="abcd" name="p">P</a></div>
                                <a href="#">平顶山</a>
                                <a href="#">攀枝花</a>
                                <a href="#">莆田</a>
                                <a href="#">普洱</a>
                                <a href="#">萍乡</a>
                                <a href="#">盘锦</a>
                                <a href="#">濮阳</a>
                                <a href="#">平凉</a>
                            </li>
                            <li id="Q">
                               <div class="teshu"> <a class="abcd" name="q">Q</a></div>
                                <a href="#">青岛</a>
                                <a href="#">泉州</a>
                                <a href="#">秦皇岛</a>
                                <a href="#">钦州</a>
                                <a href="#">庆阳</a>
                                <a href="#">琼海</a>
                                <a href="#">衢州</a>
                                <a href="#">齐齐哈尔</a>
                                <a href="#">曲靖</a>
                                <a href="#">清远</a>
                                <a href="#">潜江</a>
                                <a href="#">七台河</a>
                                <a href="#">黔南</a>
                                <a href="#">黔东南</a>
                                <a href="#">黔西南</a>
                                <a href="#">邛崃</a>
                            </li>
                            <li id="R">
                               <div class="teshu"> <a class="abcd" name="r">R</a></div>
                                <a href="#">日照</a>
                                <a href="#">日喀则</a>
                            </li>
                            <li id="S">
                              <div class="teshu"><a class="abcd" name="s">S</a></div>
                                <a class="oncity" href="#">上海</a>
                                <a class="oncity" href="#">深圳</a>
                                <a class="oncity" href="#">沈阳</a>
                                <a href="#">石家庄</a>
                                <a href="#">苏州</a>
                                <a href="#">宿迁</a>
                                <a href="#">朔州</a>
                                <a href="#">绍兴</a>
                                <a href="#">商丘</a>
                                <a href="#">宿州</a>
                                <a href="#">三亚</a>
                                <a href="#">邵阳</a>
                                <a href="#">汕尾</a>
                                <a href="#">韶关</a>
                                <a href="#">汕头</a>
                                <a href="#">十堰</a>
                                <a href="#">随州</a>
                                <a href="#">四平</a>
                                <a href="#">松原</a>
                                <a href="#">上饶</a>
                                <a href="#">三明</a>
                                <a href="#">遂宁</a>
                                <a href="#">商洛</a>
                                <a href="#">绥化</a>
                                <a href="#">山南</a>
                                <a href="#">石河子</a>
                                <a href="#">石嘴山</a>
                                <a href="#">三门峡</a>
                                <a href="#">神农架</a>
                                <a href="#">双鸭山</a>
                            </li>
                            <li id="T">
                                <div class="teshu"><a class="abcd" name="t">T</a></div>
                                <a class="oncity" href="#">天津</a>
                                <a href="#">太原</a>
                                <a href="#">唐山</a>
                                <a href="#">泰安</a>
                                <a href="#">泰州</a>
                                <a href="#">通化</a>
                                <a href="#">通辽</a>
                                <a href="#">台州</a>
                                <a href="#">铜川</a>
                                <a href="#">铜陵</a>
                                <a href="#">铁岭</a>
                                <a href="#">天水</a>
                                <a href="#">铜仁</a>
                                <a href="#">塔城</a>
                                <a href="#">天门</a>
                                <a href="#">吐鲁番</a>
                            </li>
                            <li id="W">
                                <div class="teshu"><a class="abcd" name="w">W</a></div>
                                <a class="oncity" href="#">武汉</a>
                                <a href="#">潍坊</a>
                                <a href="#">乌鲁木齐</a>
                                <a href="#">无锡</a>
                                <a href="#">温州</a>
                                <a href="#">威海</a>
                                <a href="#">芜湖</a>
                                <a href="#">梧州</a>
                                <a href="#">渭南</a>
                                <a href="#">文山</a>
                                <a href="#">乌海</a>
                                <a href="#">武威</a>
                                <a href="#">吴忠</a>
                                <a href="#">文昌</a>
                                <a href="#">五指山</a>
                                <a href="#">万宁</a>
                                <a href="#">乌兰察布</a>
                                <a href="#">万州</a>
                            </li>
                            <li id="X">
                               <div class="teshu"><a class="abcd" name="x">X</a></div>
                                <a class="oncity" href="#">西安</a>
                                <a href="#">西宁</a>
                                <a href="#">厦门</a>
                                <a href="#">徐州</a>
                                <a href="#">新乡</a>
                                <a href="#">湘潭</a>
                                <a href="#">许昌</a>
                                <a href="#">忻州</a>
                                <a href="#">襄樊</a>
                                <a href="#">孝感</a>
                                <a href="#">咸阳</a>
                                <a href="#">咸宁</a>
                                <a href="#">湘西</a>
                                <a href="#">邢台</a>
                                <a href="#">宣城</a>
                                <a href="#">仙桃</a>
                                <a href="#">信阳</a>
                                <a href="#">新余</a>
                                <a href="#">兴安盟</a>
                                <a href="#">西双版纳</a>
                                <a href="#">锡林郭勒盟</a>
                            </li>
                            <li id="Y">
                                <div class="teshu"><a class="abcd" name="y">Y</a></div>
                                <a href="#">银川</a>
                                <a href="#">烟台</a>
                                <a href="#">扬州</a>
                                <a href="#">盐城</a>
                                <a href="#">营口</a>
                                <a href="#">宜昌</a>
                                <a href="#">阳泉</a>
                                <a href="#">岳阳</a>
                                <a href="#">益阳</a>
                                <a href="#">永州</a>
                                <a href="#">阳江</a>
                                <a href="#">云浮</a>
                                <a href="#">鹰潭</a>
                                <a href="#">运城</a>
                                <a href="#">延边</a>
                                <a href="#">宜宾</a>
                                <a href="#">宜春</a>
                                <a href="#">雅安</a>
                                <a href="#">延安</a>
                                <a href="#">榆林</a>
                                <a href="#">伊春</a>
                                <a href="#">玉林</a>
                                <a href="#">伊犁</a>
                                <a href="#">玉树</a>
                                <a href="#">玉溪</a>
                            </li>
                            <li id="Z" class="bno">
                                <div class="teshu"><a class="abcd" name="z">Z</a></div>
                                <a href="#">郑州</a>
                                <a href="#">珠海</a>
                                <a href="#">镇江</a>
                                <a href="#">株洲</a>
                                <a href="#">漳州</a>
                                <a href="#">湛江</a>
                                <a href="#">张家界</a>
                                <a href="#">淄博</a>
                                <a href="#">张家口</a>
                                <a href="#">舟山</a>
                                <a href="#">资阳</a>
                                <a href="#">自贡</a>
                                <a href="#">枣庄</a>
                                <a href="#">昭通</a>
                                <a href="#">肇庆</a>
                                <a href="#">中山</a>
                                <a href="#">张掖</a>
                                <a href="#">中卫</a>
                                <a href="#">遵义</a>
                                <a href="#">周口</a>
                                <a href="#">驻马店</a>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div class="clear"></div>
                </div>
                <!--按首字母选择 结束--> 
                
                <!--按城市选择 开始--> 
                <div class="css" id="cs2" style="display:none;">
                    <div class="select_abc">
                          
                     </div>
                     <div class="select_abc_c">
                        <ul>
                             <li id="A">
                                  <span class="sheng">直辖市</span>
                                  <a href="#">北京</a>
                                  <a href="#">上海</a>
                                  <a href="#">天津</a>
                                  <a href="#">重庆</a>
                             </li>
                                            <li>
                              <span class="sheng">河北省</span>
                                              <a href="#">石家庄</a>
                                              <a href="#">唐山</a>
                                              <a href="#">秦皇岛</a>

                                              <a href="#">邯郸</a>
                                              <a href="#">邢台</a>
                                              <a href="#">保定</a>
                                              <a href="#">张家口</a>
                                              <a href="#">承德</a>
                                              <a href="#">沧州</a>
                                              <a href="#">廊坊</a>
                                              <a href="#">衡水</a>
                                           </li>
                                        <li>
                              <span class="sheng">山西省</span>
                                              <a href="#">太原</a>
                                              <a href="#">大同</a>
                                              <a href="#">阳泉</a>
                                              <a href="#">长治</a>
                                              <a href="#">晋城</a>
                                              <a href="#">朔州</a>
                                              <a href="#">晋中</a>
                                              <a href="#">运城</a>
                                              <a href="#">忻州</a>
                                              <a href="#">临汾</a>
                                              <a href="#">吕梁</a>
                                           </li>
                                        <li>
                              <span class="sheng">内蒙古省</span>
                                              <a href="#">呼和浩特</a>
                                              <a href="#">包头</a>
                                              <a href="#">乌海</a>
                                              <a href="#">赤峰</a>
                                              <a href="#">通辽</a>
                                              <a href="#">鄂尔多斯</a>
                                              <a href="#">呼伦贝尔</a>
                                              <a href="#">巴彦淖尔</a>
                                              <a href="#">乌兰察布</a>
                                              <a href="#">兴安盟</a>
                                              <a href="#">锡林郭勒盟</a>
                                              <a href="#">阿拉善盟</a>
                                           </li>
                                        <li>
                              <span class="sheng">辽宁省</span>
                                              <a href="#">沈阳</a>
                                              <a href="#">大连</a>
                                              <a href="#">鞍山</a>
                                              <a href="#">抚顺</a>
                                              <a href="#">本溪</a>
                                              <a href="#">丹东</a>
                                              <a href="#">锦州</a>
                                              <a href="#">营口</a>
                                              <a href="#">阜新</a>
                                              <a href="#">辽阳</a>
                                              <a href="#">盘锦</a>
                                              <a href="#">铁岭</a>
                                              <a href="#">朝阳</a>
                                              <a href="#">葫芦岛</a>
                                           </li>
                                        <li>
                              <span class="sheng">吉林省</span>
                                              <a href="#">长春</a>
                                              <a href="#">吉林市</a>
                                              <a href="#">四平</a>
                                              <a href="#">辽源</a>
                                              <a href="#">通化</a>
                                              <a href="#">白山</a>
                                              <a href="#">松原</a>
                                              <a href="#">白城</a>
                                              <a href="#">延边朝鲜族自治州</a>
                                           </li>
                                        <li>
                              <span class="sheng">黑龙江省</span>
                                              <a href="#">哈尔滨</a>
                                              <a href="#">齐齐哈尔</a>
                                              <a href="#">鸡西</a>
                                              <a href="#">鹤岗</a>
                                              <a href="#">双鸭山</a>
                                              <a href="#">大庆</a>
                                              <a href="#">伊春</a>
                                              <a href="#">佳木斯</a>
                                              <a href="#">七台河</a>
                                              <a href="#">牡丹江</a>
                                              <a href="#">黑河</a>
                                              <a href="#">绥化</a>
                                              <a href="#">大兴安岭</a>
                                           </li>
                                        <li>
                              <span class="sheng">江苏省</span>
                                              <a href="#">南京</a>
                                              <a href="#">无锡</a>
                                              <a href="#">徐州</a>
                                              <a href="#">常州</a>
                                              <a href="#">苏州</a>
                                              <a href="#">南通</a>
                                              <a href="#">连云港</a>
                                              <a href="#">淮安</a>
                                              <a href="#">盐城</a>
                                              <a href="#">扬州</a>
                                              <a href="#">镇江</a>
                                              <a href="#">泰州</a>
                                              <a href="#">宿迁</a>
                                           </li>
                                        <li>
                              <span class="sheng">浙江省</span>
                                              <a href="#">杭州</a>
                                              <a href="#">宁波</a>
                                              <a href="#">温州</a>
                                              <a href="#">嘉兴</a>
                                              <a href="#">湖州</a>
                                              <a href="#">绍兴</a>
                                              <a href="#">金华</a>
                                              <a href="#">衢州</a>
                                              <a href="#">舟山</a>
                                              <a href="#">台州</a>
                                              <a href="#">丽水</a>
                                           </li>
                                        <li>
                              <span class="sheng">安徽省</span>
                                              <a href="#">合肥</a>
                                              <a href="#">芜湖</a>
                                              <a href="#">蚌埠</a>
                                              <a href="#">淮南</a>
                                              <a href="#">马鞍山</a>
                                              <a href="#">淮北</a>
                                              <a href="#">铜陵</a>
                                              <a href="#">安庆</a>
                                              <a href="#">黄山</a>
                                              <a href="#">滁州</a>
                                              <a href="#">阜阳</a>
                                              <a href="#">宿州</a>
                                              <a href="#">巢湖</a>
                                              <a href="#">六安</a>
                                              <a href="#">亳州</a>
                                              <a href="#">池州</a>
                                              <a href="#">宣城</a>
                                           </li>
                                        <li>
                              <span class="sheng">福建省</span>
                                              <a href="#">福州</a>
                                              <a href="#">厦门</a>
                                              <a href="#">莆田</a>
                                              <a href="#">三明</a>
                                              <a href="#">泉州</a>
                                              <a href="#">漳州</a>
                                              <a href="#">南平</a>
                                              <a href="#">龙岩</a>
                                              <a href="#">宁德</a>
                                           </li>
                                        <li>
                              <span class="sheng">江西省</span>
                                              <a href="#">南昌</a>
                                              <a href="#">景德镇</a>
                                              <a href="#">萍乡</a>
                                              <a href="#">九江</a>
                                              <a href="#">新余</a>
                                              <a href="#">鹰潭</a>
                                              <a href="#">赣州</a>
                                              <a href="#">吉安</a>
                                              <a href="#">宜春</a>
                                              <a href="#">抚州</a>
                                              <a href="#">上饶</a>
                                           </li>
                                        <li>
                              <span class="sheng">山东省</span>
                                              <a href="#">济南</a>
                                              <a href="#">青岛</a>
                                              <a href="#">淄博</a>
                                              <a href="#">枣庄</a>
                                              <a href="#">东营</a>
                                              <a href="#">烟台</a>
                                              <a href="#">潍坊</a>
                                              <a href="#">济宁</a>
                                              <a href="#">泰安</a>
                                              <a href="#">威海</a>
                                              <a href="#">日照</a>
                                              <a href="#">莱芜</a>
                                              <a href="#">临沂</a>
                                              <a href="#">德州</a>
                                              <a href="#">聊城</a>
                                              <a href="#">滨州</a>
                                              <a href="#">菏泽</a>
                                           </li>
                                        <li>
                              <span class="sheng">河南省</span>
                                              <a href="#">郑州</a>
                                              <a href="#">开封</a>
                                              <a href="#">洛阳</a>
                                              <a href="#">平顶山</a>
                                              <a href="#">安阳</a>
                                              <a href="#">鹤壁</a>
                                              <a href="#">新乡</a>
                                              <a href="#">焦作</a>
                                              <a href="#">濮阳</a>
                                              <a href="#">许昌</a>
                                              <a href="#">漯河</a>
                                              <a href="#">三门峡</a>
                                              <a href="#">南阳</a>
                                              <a href="#">商丘</a>
                                              <a href="#">信阳</a>
                                              <a href="#">周口</a>
                                              <a href="#">驻马店</a>
                                           </li>
                                        <li>
                              <span class="sheng">湖北省</span>
                                              <a href="#">武汉</a>
                                              <a href="#">黄石</a>
                                              <a href="#">十堰</a>
                                              <a href="#">宜昌</a>
                                              <a href="#">襄阳</a>
                                              <a href="#">鄂州</a>
                                              <a href="#">荆门</a>
                                              <a href="#">孝感</a>
                                              <a href="#">荆州</a>
                                              <a href="#">黄冈</a>
                                              <a href="#">咸宁</a>
                                              <a href="#">随州</a>
                                              <a href="#">恩施</a>
                                              <a href="#">仙桃</a>
                                              <a href="#">潜江</a>
                                              <a href="#">天门</a>
                                              <a href="#">神农架</a>
                                           </li>
                                        <li>
                              <span class="sheng">湖南省</span>
                                              <a href="#">长沙</a>
                                              <a href="#">株洲</a>
                                              <a href="#">湘潭</a>
                                              <a href="#">衡阳</a>
                                              <a href="#">邵阳</a>
                                              <a href="#">岳阳</a>
                                              <a href="#">常德</a>
                                              <a href="#">张家界</a>
                                              <a href="#">益阳</a>
                                              <a href="#">郴州</a>
                                              <a href="#">永州</a>
                                              <a href="#">怀化</a>
                                              <a href="#">娄底</a>
                                              <a href="#">湘西土家族苗族自治州</a>
                                           </li>
                                        <li>
                              <span class="sheng">广东省</span>
                                              <a href="#">广州</a>
                                              <a href="#">韶关</a>
                                              <a href="#">深圳</a>
                                              <a href="#">珠海</a>
                                              <a href="#">汕头</a>
                                              <a href="#">佛山</a>
                                              <a href="#">江门</a>
                                              <a href="#">湛江</a>
                                              <a href="#">茂名</a>
                                              <a href="#">肇庆</a>
                                              <a href="#">惠州</a>
                                              <a href="#">梅州</a>
                                              <a href="#">汕尾</a>
                                              <a href="#">河源</a>
                                              <a href="#">阳江</a>
                                              <a href="#">清远</a>
                                              <a href="#">东莞</a>
                                              <a href="#">中山</a>
                                              <a href="#">潮州</a>
                                              <a href="#">揭阳</a>
                                              <a href="#">云浮</a>
                                           </li>
                                        <li>
                              <span class="sheng">广西省</span>
                                              <a href="#">南宁</a>
                                              <a href="#">柳州</a>
                                              <a href="#">桂林</a>
                                              <a href="#">梧州</a>
                                              <a href="#">北海</a>
                                              <a href="#">防城港</a>
                                              <a href="#">钦州</a>
                                              <a href="#">贵港</a>
                                              <a href="#">玉林</a>
                                              <a href="#">百色</a>
                                              <a href="#">贺州</a>
                                              <a href="#">河池</a>
                                              <a href="#">来宾</a>
                                              <a href="#">崇左</a>
                                           </li>
                                        <li>
                              <span class="sheng">海南省</span>
                                              <a href="#">海口</a>
                                              <a href="#">三亚</a>
                                           </li>
                                        <li>
                              <span class="sheng">四川省</span>
                                              <a href="#">成都</a>
                                              <a href="#">自贡</a>
                                              <a href="#">攀枝花</a>
                                              <a href="#">泸州</a>
                                              <a href="#">德阳</a>
                                              <a href="#">绵阳</a>
                                              <a href="#">广元</a>
                                              <a href="#">遂宁</a>
                                              <a href="#">内江</a>
                                              <a href="#">乐山</a>
                                              <a href="#">南充</a>
                                              <a href="#">眉山</a>
                                              <a href="#">宜宾</a>
                                              <a href="#">广安</a>
                                              <a href="#">达州</a>
                                              <a href="#">雅安</a>
                                              <a href="#">巴中</a>
                                              <a href="#">资阳</a>
                                              <a href="#">阿坝藏族羌族自治州</a>
                                              <a href="#">甘孜藏族自治州</a>
                                              <a href="#">凉山彝族自治州</a>
                                              <a href="#">邛崃</a>
                                           </li>
                                        <li>
                              <span class="sheng">贵州省</span>
                                              <a href="#">贵阳</a>
                                              <a href="#">六盘水</a>
                                              <a href="#">遵义</a>
                                              <a href="#">安顺</a>
                                              <a href="#">铜仁</a>
                                              <a href="#">黔西南布依族苗族自治州</a>
                                              <a href="#">毕节</a>
                                              <a href="#">黔东南苗族侗族自治州</a>
                                              <a href="#">黔南布依族苗族自治州</a>
                                           </li>
                                        <li>
                              <span class="sheng">云南省</span>
                                              <a href="#">昆明</a>
                                              <a href="#">曲靖</a>
                                              <a href="#">玉溪</a>
                                              <a href="#">保山</a>
                                              <a href="#">昭通</a>
                                              <a href="#">丽江</a>
                                              <a href="#">临沧</a>
                                              <a href="#">楚雄</a>
                                              <a href="#">红河哈尼族彝族自治州</a>
                                              <a href="#">文山壮族苗族自治州</a>
                                              <a href="#">西双版纳傣族自治州</a>
                                              <a href="#">大理</a>
                                              <a href="#">德宏傣族景颇族自治州</a>
                                              <a href="#">怒江傈僳族自治州</a>
                                              <a href="#">迪庆藏族自治州</a>
                                              <a href="#">普洱</a>
                                           </li>
                                        <li>
                              <span class="sheng">西藏省</span>
                                              <a href="#">拉萨</a>
                                              <a href="#">昌都</a>
                                              <a href="#">山南</a>
                                              <a href="#">日喀则</a>
                                              <a href="#">那曲</a>
                                              <a href="#">阿里</a>
                                              <a href="#">林芝</a>
                                           </li>
                                        <li>
                              <span class="sheng">陕西省</span>
                                              <a href="#">西安</a>
                                              <a href="#">铜川</a>
                                              <a href="#">宝鸡</a>
                                              <a href="#">咸阳</a>
                                              <a href="#">渭南</a>
                                              <a href="#">延安</a>
                                              <a href="#">汉中</a>
                                              <a href="#">榆林</a>
                                              <a href="#">安康</a>
                                              <a href="#">商洛</a>
                                           </li>
                                        <li>
                              <span class="sheng">甘肃省</span>
                                              <a href="#">兰州</a>
                                              <a href="#">嘉峪关</a>
                                              <a href="#">金昌</a>
                                              <a href="#">白银</a>
                                              <a href="#">天水</a>
                                              <a href="#">武威</a>
                                              <a href="#">张掖</a>
                                              <a href="#">平凉</a>
                                              <a href="#">酒泉</a>
                                              <a href="#">庆阳</a>
                                              <a href="#">定西</a>
                                              <a href="#">陇南</a>
                                              <a href="#">临夏</a>
                                              <a href="#">甘南藏族自治州</a>
                                           </li>
                                        <li>
                              <span class="sheng">青海省</span>
                                              <a href="#">西宁</a>
                                              <a href="#">海东</a>
                                              <a href="#">海北藏族自治州</a>
                                              <a href="#">黄南藏族自治州</a>
                                              <a href="#">海南藏族自治州</a>
                                              <a href="#">果洛藏族自治州</a>
                                              <a href="#">玉树藏族自治州</a>
                                              <a href="#">海西蒙古族藏族自治州</a>
                                           </li>
                                        <li>
                              <span class="sheng">宁夏省</span>
                                              <a href="#">银川</a>
                                              <a href="#">石嘴山</a>
                                              <a href="#">吴忠</a>
                                              <a href="#">固原</a>
                                              <a href="#">中卫</a>
                                           </li>
                                        <li>
                              <span class="sheng">新疆省</span>
                                              <a href="#">乌鲁木齐</a>
                                              <a href="#">克拉玛依</a>
                                              <a href="#">吐鲁番</a>
                                              <a href="#">哈密</a>
                                              <a href="#">昌吉</a>
                                              <a href="#">博尔塔拉</a>
                                              <a href="#">巴音郭楞</a>
                                              <a href="#">阿克苏</a>
                                              <a href="#">克孜勒苏柯尔克孜自治州</a>
                                              <a href="#">喀什</a>
                                              <a href="#">和田</a>
                                              <a href="#">伊犁哈萨克自治州</a>
                                              <a href="#">塔城</a>
                                              <a href="#">阿勒泰</a>
                                              <a href="#">石河子</a>
                                           </li>
               
                        </ul>
                     </div>
                 </div>
                <!--按城市选择 结束--> 
  
        </div>

</div>


</body>
<script>
function chose_type(obj, id){
	$('.cs').attr('class', 'cs');
	$(obj).attr('class', 'cs cur');
	$('.css').hide();
	$('#'+id).show();
}

$(document).ready(function(e) {
    
	$('.bt').click(function(){
		$('.bt').attr('class', 'bt');
		$(this).attr('class', 'bt cur');
	});


});
</script>
</html>
