<include file="Public:head"/>
<body>

<!--head --> 
<div class="head_box" style=" background:#4a89db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="__HOST__/Index/" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">手机号登录</div>
<div class="clear"></div>
</div>
<!--head -->



<div class="warpper_box">

<div class="yanzhengtip">
验证码已发送至您的手机号
<h3>{$usertel|msubstr=0,3,'utf-8',false}********</h3>
</div>
<div class="shoujihao">
<div class="shoujihao_l">验证码</div>
<div class="shoujihao_r">
<input id="code1" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '请输入验证码';}"  value="请输入验证码"  type="text" >
</div>
<div class="clear"></div>
</div>
<div class="shoujihao_btn">
<a href="#" id="Codelogin">登录</a>
</div>

</div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->
<style>
.loading {
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0);
    z-index: 999999999;
    text-align: center;
    margin: auto;
    height: 100%;
    display: none;
    top: 0;
	left:0
}
.sccg{
	width:120px;
	height:80px;
	background:rgba(0,0,0,0.8);
	position:fixed;
	z-index:100;
	top:50%;
	left:50%;
	text-align:center;
	margin-top:-40px;
	margin-left:-60px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	display:none;
	}
</style>

<div class="loading"></div>
<div class="sccg sccg01">
	<div style="margin-top:15px;"><i class="fa fa-spinner fa-pulse fa-2x" style=" color:#fff"></i></div>
	<p style="color:#fff;font-family:微软雅黑">登录中...</p>
</div>
</body>
<script>
		

$(document).ready(function (){
 
})

</script>

<script>
$('#Codelogin').click(function(){
       // var telephone    = $('.tel').val();
        //var verify_code  = $('.verify_code1').val();
        var code         = $('#code1').val();

        
        if(code==''||code=='请输入验证码'){
            alert('请输入短信验证码');return;
        }
        $.ajax({
            url:"__HOST__/User/doCodeLogin",
            data:{
                //telephone:telephone,
                //verify_code:verify_code,
                code:code,
            },
            beforeSend:function(){
                  $('.loading').show();
                  $('.sccg01').stop().fadeIn(10);
            },
            dataType:'json',
            type:'post',
            success:function(data){
                $('.loading').hide();
                $('.sccg01').stop().fadeOut();
                if(data.status){
                   dialog.showTips(data.info,"",data.url)
                }else{
                  dialog.showTips(data.info,"warn");return false;                  
                }
            }
        })
    })
</script>

</html>
