<include file="Public:head"/>
</head>

<body>
<include file="Public:header"/>
<!--header-->


<!--  / warpper  -->
<div class="warpper">

 	<div class="newsdot_box">
    	<div class="index_container">
        	<div class="newsdot_left">
            	<div class="newsdot_left_cot">
            	<div class="newsdot_tit">
                	<!-- <h4>又一轮限购启动！杭州海南和环北京多个县级市</h4> -->
                    <h4>{$res.news_title}</h4>
                </div>
                <div class="newsdot_cot">
                	<div class="newstime">时间：{$res.add_time|date="Y-m-d H:i:s",###}   来源：<if condition="$res['source'] eq null ">无<else />{$res.source}</if> 作者：<if condition="$res['author'] eq null ">无<else />{$res.author}</if></div>
                    <p>{$res.detail|htmlspecialchars_decode|stripslashes}</p>
                
                </div>
            
                <div class="newsdot_sx">
                  <h4><if condition="$res_s eq null ">上一篇:<span>无</span>
                        <else /> 
                            <a href="{:U('Credit/newsDetail',array('id'=>$res_s['id'],'types'=>$res_s['types'],'type'=>$res_s['type']))}">上一篇:{$res_s.news_title}</a>
                        </if>
                    </h4>
                    <h4><if condition="$res_x eq null ">下一篇:<span>无</span>
                        <else /> 
                            <a href="{:U('Credit/newsDetail',array('id'=>$res_x['id'],'types'=>$res_x['types'],'type'=>$res_x['type']))}">下一篇:{$res_x.news_title}</a>
                        </if>
                    </h4>
                </div>      
            
                </div>
                <div class="gonglue1_list gonglue1_list_ts1">
                   <div class="gonglue_tit gonglue_tit5">
                       <h4>相关资讯</h4>
                        <if condition="($res['types'] eq 4) AND ($res['type'] eq 1)">
                        <a href="{:U('Credit/gonglue')}">更多</a>
                        <else />
                   	    <a href="{:U('Credit/gonglue1',array('types'=>$res['types'],'type'=>$res['type']))}">更多</a>
                        </if>
                   </div>
                   <div class="gonglue1_wz gonglue1_wz1">
                       <ul>
                        <foreach name="res_list" item="vo" key="k" >
                           <li><a href="{:U('Credit/newsDetail',array('id'=>$vo['id'],'types'=>'1','type'=>$vo['type']))}"><i class="fa fa-angle-right"></i>{$vo.news_title}</a></li>
                        </foreach>
                         
                        </ul>
                    </div>
                </div>
            </div>
        	<div class="newsdot_right">
            	<div class="newsdot_right_list">
            		<div class="news1_right2">
                        <h3>今日头条</h3>
                        <a href="{:U('news/newsList',array('pid'=>"$id1"))}"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm1.png" width="100%"></span></div></a>
                    </div>
					<ul class="news1_right3_list">
					<foreach name="today" item="vo">
                    	<li>

                        	<a href="{:U('News/newsDot1',array('id'=>$vo['id']))}">
                                <h4>{$vo.news_title}</h4>
                                <div class="news1_right3_list_wz">
                                    <h5> <?php
										$str = $vo['detail'];
										$str = htmlspecialchars_decode($str);
										$str = stripslashes($str);
										$str = strip_tags($str);
										echo mb_substr($str,0,40,'utf-8')."....";
										?></h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="news1_right3_list_img">
                                	<img src="{$vo.logo_pic}"  width="100%">

                                </div>
                                <div class="clear"></div>
                            </a>

                        </li>
						</foreach>
                    </ul>
            </div>
            	<!-- <div class="newsdot_right_list">
            		<!-- <div class="news1_right2">
                        <h3>热门咨询</h3>
                        <a href="{:U('index/newsList',array('pid'=>"$id2"))}"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm1.png" width="100%"></span></div></a>
                    </div>
                    <ul class="news1_right3_list">
					<foreach name="hot" item="vo">
                    	<li>
                        	<a href="{:U('index/newsDot1','id='.$vo['id'])}">
                                <h4>{$vo.news_title}</h4>
                                <div class="news1_right3_list_wz">
                                    <h5>{$vo['detail']|htmlspecialchars_decode|stripslashes|mb_substr=###,0,45,'utf-8'}</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="news1_right3_list_img">
                                	<img src="__IMAGES__/news1_right3_1.jpg">
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
					</foreach>
                    </ul>
            </div> -->
            </div>
        	<div class="clear"></div>
        </div>
    </div>

</div>
<!--  / warpper  -->

<!-- right_nav -->
<include file="Public:right_nav"/>
<!-- right_nav -->


<!--  / footer  -->
<include file="Public:footer"/>
<!--  / footer  -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000,
		spaceBetween: 0,
		slidesPerView : 4,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.fangdai_lt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})

	$('.fangdai_rt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})

</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 .ban_box ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)

	})
	$(window).resize(function(){
        $(".swiper1").height($(".swiper1 .ban_box ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
	});


})


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})
</script>

</html>
