<include file="Public:head"/>



<body>

<!--head --> 
<div class="head_box" style=" background:#4a89db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="__HOST__/Index/" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">填写个人信息</div>
<div class="clear"></div>
</div>
<!--head -->




<div class="warpper_box">

<div class="sq_end">
<h3>申请成功</h3>
<img src="__IMAGES__/gedai_gou.png" />
</div>
<div class="shoujihao_btn">
<a href="__HOST__/Index">完成</a>
</div>
</div>




<!--foot-->
<include file="Public:footer"/>
<!--foot-->

</body>
<script>
		

$(document).ready(function (){

})

</script>
</html>
