  <div class="warpper_box_eight">
    <ul>
      <li> <a href="__HOST__/Calculation/index">
        <div class="gedai2_right_img"> <img src="__IMAGES__/gedai2_right1_0.png"> <span>贷款工具</span> </div>
        </a> </li>
      <li>  <a href="__HOST__/Calculation/jisuan1">
        <div class="gedai2_right_img"> <img src="__IMAGES__/gedai2_right1_3.png"> <span>存款工具</span> </div>
        </a> </li>
      <li>  <a href="__HOST__/Calculation/jisuan2">
        <div class="gedai2_right_img"> <img src="__IMAGES__/gedai2_right1_2.png"> <span>买车工具</span> </div>
        </a> </li>
      <li style=" margin-right:0">  <a href="__HOST__/Calculation/index">
        <div class="gedai2_right_img"> <img src="__IMAGES__/gedai2_right1_4.png"> <span>利率查询</span> </div>
        </a> </li>
      <div class="clear"></div>
    </ul>
  </div>