<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="__HOST__/Index/dingwei" class="header_dw"><img src="__IMAGES__/dingwei.svg" /><span><if condition="$city neq null">{$city}<else/>定位</if></span></a>
</div>
<div class="head_box_right">

<div class="head_box_right_l">
<if condition="$user_id eq null">
<a href="__HOST__/User/">登录</a>
<else/>
<a href="javascript:void(0)">已登录</a>
</if>
</div>
<div class="head_box_right_l"><a href="__HOST__/Distribution">代理中心</a></div>

<div class="clear"></div>
</div>
<div class="clear"></div>