<include file="Public:head"/>
<link rel="stylesheet" href="__CSS__//lists.css">
<style>
  .file {
    width:50px;
    height:30px;
    line-height: 30px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 0px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
  }
  .file input {
    position: absolute;
    width:74px;
    height:30px;
    line-height: 30px;
   /* font-size: 100px;*/
    right: 0;
    top: 0;
    opacity: 0;
  }
</style>
<div class="container">
  <div class="inner clearfix"> <include file="Public:left"/>
    <!-- end content-left -->

    <div class="content-right fl">
      <h1 class="content-right-title">消息列表</h1>
        <div class="alert alert-info disable-del">目前拥有 <span style="font-size:16px;">{$count}</span> 条消息记录。<a
                href="javascript:;" class="alert-delete" title="隐藏"><i class="gicon-remove"></i></a></div>
      <form action="" method="get">
        <div class="tables-searchbox newcearchbox">
          <input type="text" placeholder="消息内容" class="input" name="name" value="" >
          <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
        </div>
        <div class="tabs clearfix mgt10">
          <a href="{:U('/Supplier/GyMessage/MessageList')}" class="<eq name="_GET['islooked']" value="">active</eq> tabs_a fl">全部({$counts})</a>
          <a href="{:U('/Supplier/GyMessage/MessageList/islooked/1')}" class="<eq name="_GET['islooked']" value="1">active</eq> tabs_a fl">已查看({$count1})</a>
          <a href="{:U('/Supplier/GyMessage/MessageList/islooked/0')}" class="<eq name="_GET['islooked']" value="0">active</eq> tabs_a fl">待查看({$count2})</a>
        </div>
      </form>
      <!-- end tabs -->

      <table class="wxtables mgt10" style="text-align:center;">
        <colgroup>
          <col width="2%">
          <col width="3%">
          <col width="30%">
          <col width="10%">
          <col width="5%">
          <col width="10%">
          <col width="10%">

          <col width="15%">
          <col width="20%">
        </colgroup>
        <thead>
        <tr class="po_list">
          <td><i class="icon_check"></i></td>
          <td>ID</td>
          <td>产品</td>
          <td>审核状态</td>
          <td>排序</td>
          <td>分类</td>
          <td>库存</td>
          <td>库存变化</td>
          <td>操作<span></span></td>
        </tr>
        </thead>
        <tbody>
        <foreach name="cache" item="vo">
          <tr>
            <td><input type="checkbox" class="checkbox table-ckbs" data-id="{$vo['id']}"></td>
            <td>{$vo.id}</td>
            <td><div class="goodswrap"> <a href="javascript:void(0)" class="block" target="_blank" title="{$vo['goods_name']}">
             <!-- <div class="table-item-img"> <img src="{$vo['logo_pic']}" alt=""> </div>-->
              <div class="table-item-info" style="width: 100px">
                <p style="height:auto">{$vo.goods_name} <br/></p>
                <span class="oprice">市场价：¥{$vo.oprice}</span><br/>

              </div>
            </a> </div></td>
            <!-- <td><div class="stockwrap"> <span>{$vo.kucun}</span> </div></td> -->
            <td><if condition="($vo.is_status eq 2)"> 已审核
              <else/>
              未审核</if></td>

            <td> {$vo.sort} </td>
            <td class="class_name">
              <span>{$vo.classname}</span>
              <i class="edit-item j-geteditclassName" title="编辑分类" data-id="2151938" data-cid="" style="right:50%;margin-right:-8px;"></i>
            </td>
            <td class="class_name">
              <span>{$vo.store}</span>
            </td>
            <td class="is_change">
              <if condition="($vo.is_change eq 1)"><p style="color:red">有变化<br/><input style="width:100px;" name="change_nums" type="text" value="{$vo.change_nums}" /></p>
                <else/><p >无变化</p></if>
            </td>
            <td>
              <a href="{:U('/Supplier/Gongygoods/editGoods/id')}/{$vo.id}" class="btn btn-primary j-editClass" title="修改">编辑</a>
              <a href="{:U('/Supplier/Gongygoods/delGoods/id')}/{$vo.id}" onclick="{if(!confirm('确定删除产品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除" data-id="2151938">删除</a>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
      <!-- end wxtables -->
      <div class="tables-btmctrl clearfix">
        <div class="fl">
          <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
          <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>
          <a href="javascript:;" class="btn btn-primary btn_table_delAll">删除</a>
          <div class="fr">
            <div class="pages"> {$page} </div>
            <!-- end paginate -->
          </div>
        </div>
        <!-- end tables-btmctrl -->

      </div>
      <!-- end content-right -->
    </div>
  </div>
  <!-- end container -->
  <include file="Public:foot"/>
  <div class="jbox addfenlei disshow" style="height:224px;">
    <div class="jbox-title">
      <div class="jbox-title-txt">上传文件</div>
      <a href="javascript:;" class="jbox-close cancle"></a></div>
    <form action="{:U('Supplier/Gongygoods/gygoods_import')}" enctype="multipart/form-data" method="post">
      <div class="jbox-container" style="height:100px;">

        <div class="formitems">
          <label class="fi-name"><span class="colorRed">*</span>上传csv文件：</label>
          <div class="form-controls">
            <input type="file" class="input classname" name="file">
            <span class="fi-help-text"></span> </div>
        </div>

      </div>
      <div class="jbox-buttons"><button type="submit" class="jbox-buttons-ok btn btn-primary" id="addfile">确定</button><a href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
    </form>
  </div>

  <script>
    $(".BtnAddClass").click(function(){
      $('.addfenlei').show();
    })

    $(".cancle").click(function(){
      $('.addfenlei').hide();
      $(this).parent().parent('.jbox').hide();
    })

      $(".change-status").click(function (){
          var _this= $(this)
          var id   = $(this).attr("data-id");
          var item = $(this).attr("data-item");
          $.post("{:U('Supplier/Gongygoods/changeStatus')}", {id:id,item:item}, function(data){
              if(data.status == 1){
                  _this.css({color:"#0C0"}).html("√");
              }else if(data.status == 2){
                  _this.css({color:"#c00"}).html("×");
              }else{
                  alert(data.info);
              }
          }, "json")
      })
      $(".change-all-status").click(function (){
          if(!confirm("确定改变所有选中产品的状态？")){
              return false;
          }
          var ids = "";
          var item = $(this).attr("data-item");
          $(".table-ckbs:checked").each(function(i){
              ids += $(this).attr("data-id")+"-"
          })
          if(!ids){
              alert("请选择产品！");return false;
          }
          $.post("{:U('Supplier/Gongygoods/changeAllStatus')}" ,{ids:ids,item:item}, function (data){
              if(data.status){
                  window.location.reload();
              }else{
                  alert(data.info);
              }
          })
      })
      $(".change-is_sale").click(function (){
          var id   = $(this).attr("data-id");
          var item = "is_sale";
          $.post("{:U('Supplier/Gongygoods/changeStatus')}", {id:id,item:item}, function(data){
              if(data.status){
                  window.location.reload()
              }else{
                  alert(data.info);
              }
          }, "json")
      })
      $(".btn_table_delAll").click(function(){
          if(!confirm("确定删除所有选中的产品？")){
              return false;
          }
          var ids = "";
          $(".table-ckbs:checked").each(function(i){
              ids += $(this).attr("data-id")+"-"
          })
          if(!ids){
              alert("请选择产品！");return false;
          }
          $.post("{:U('Supplier/Gongygoods/delGoods')}" ,{ids:ids}, function (data){
              alert(data.info);
              if(data.status){
                  window.location.reload();
              }
          })
      })
  </script>