<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
</head>

<body>


<!--head -->
<div class="head_box" style=" background:#6eaedb">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<div class="head_box_right_l"><a href="login.html">登录</a></div>
<div class="head_box_right_l"><a href="dingwei.html"><img src="images/dingwei.svg" /><span>定位</span></a></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<!--head --> 




<div class="warpper_box">

<div class="ny_menu_box card_color">
<ul>
<li><a href="gedai.html">个贷</a></li>
<li><a href="fangdai.html">房贷</a></li>
<li><a href="chedai.html">车贷</a></li>
<li class="active"><a href="card.html">信用卡</a></li>
<li><a href="news.html">资讯</a></li>
<div class="clear"></div>
</ul>
</div>

<div class="ny_card_box">
<div class="ny_card_box_title"><span></span>按银行选卡</div>
<ul>
<li><a href="cardbank.html"><img src="images/bank-01.png" /></a></li>
<li><a href="cardbank.html"><img src="images/bank-02.png" /></a></li>
<li style=" border-right:none"><a href="cardbank.html"><img src="images/bank-03.png" /></a></li>
<li><a href="cardbank.html"><img src="images/bank-04.png" /></a></li>
<li><a href="cardbank.html"><img src="images/bank-05.png" /></a></li>
<li style=" border-right:none"><a href="cardbank.html"><img src="images/bank-06.png" /></a></li>
<li style=" border-bottom:none"><a href="cardbank.html"><img src="images/bank-14.png" /></a></li>
<li style=" border-bottom:none"><a href="cardbank.html"><img src="images/bank-15.png" /></a></li>
<li style=" border-right:none; border-bottom:none"><a href="cardbank.html"><img src="images/bank-09.png" /></a></li>
<div class="clear"></div>
</ul>
</div>

<div class="ny_card_box_one">
<div class="ny_card_box_title"><span></span>按用途选卡</div>                       
  <div class="swiper-container swiper1" style=" width:120%" >
   <div class="swiper-wrapper">
   <div class="swiper-slide" >
    <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>平安车主卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card1.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                            </a>
    </div>
  <div class="swiper-slide" >
 <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>光大小黄鸭酷黑主题信用卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card2.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                         </a>
   </div>
  <div class="swiper-slide" >
 <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>光大“福”IC信用卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card8.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                        </a>
  </div>
  <div class="swiper-slide" >
 <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>兴业PASS信用卡金卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card7.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                             </a>
  </div>
  <div class="swiper-slide" >
 <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>上海银行标准卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card6.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                           </a>
  </div>
  <div class="swiper-slide" >
 <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>光大小黄鸭酷黑主题信用卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card2.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                           </a>
  </div>
  <div class="swiper-slide" >
  <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>光大淘票票酷黑联名卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card5.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                        </a>
  </div>
  <div class="swiper-slide" >
 <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>交通银行沃尔玛卡金卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card4.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                         </a>
  </div>
  <div class="swiper-slide" >
   <a href="cardbank.html" class="ytxk_box">
                                        <div class="ka_left">
                                            <h3>中信银联标准IC信用卡</h3>
                                        </div>
                                        <div class="ka_right">
                                            <img src="images/card3.jpg" width="100%" alt="">
                                        </div>
                                        <div class="clear"></div>
                                          </a>
  </div>
  </ul>   
</div>                              

<div class="clear"></div>
</ul>
</div>

</div>


<div class="ny_card_box_two">
<div class="ny_card_box_two_l">
<div class="ny_card_box_two_l_l">
<h3>图解信用卡</h3>
<a href="cardbank.html">查看更多</a>
</div>
<div class="ny_card_box_two_l_r"><img src="images/card2_l1.jpg" width="100%" alt=""></div>
<div class="clear"></div>
</div>
<div class="ny_card_box_two_r">
<div class="ny_card_box_two_l_l">
<h3>信用卡专题</h3>
<a href="news.html">查看更多</a>
</div>
<div class="ny_card_box_two_l_r"><img src="images/card2_l2.jpg" width="100%" alt=""></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


<div class="ny_card_box_three">
<div class="ny_card_box_title"><span></span>信用卡申请</div>
<ul>
<li>
<div class="ny_card_box_three_list_l">
<img src="images/card_hp1.png" />
</div>
<div class="ny_card_box_three_list_r">
<h5>交通银行沃尔玛卡金卡</h5>
<h4>店外消费攒积分，店内购物返现2.5%</h4>

<div class="ny_card_box_three_list_r_bot">
<span>966059人申请</span>
<a href="carddot.html">免费申请</a>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</li>
<li>
<div class="ny_card_box_three_list_l">
<img src="images/card_hp2.png" />
</div>
<div class="ny_card_box_three_list_r">
<h5>交通银行沃尔玛卡金卡</h5>
<h4>店外消费攒积分，店内购物返现2.5%</h4>

<div class="ny_card_box_three_list_r_bot">
<span>966059人申请</span>
<a href="carddot.html">免费申请</a>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</li>
<li>
<div class="ny_card_box_three_list_l">
<img src="images/card_hp3.png" />
</div>
<div class="ny_card_box_three_list_r">
<h5>交通银行沃尔玛卡金卡</h5>
<h4>店外消费攒积分，店内购物返现2.5%</h4>

<div class="ny_card_box_three_list_r_bot">
<span>966059人申请</span>
<a href="carddot.html">免费申请</a>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</li>
<li>
<div class="ny_card_box_three_list_l">
<img src="images/card_hp.png" />
</div>
<div class="ny_card_box_three_list_r">
<h5>交通银行沃尔玛卡金卡</h5>
<h4>店外消费攒积分，店内购物返现2.5%</h4>

<div class="ny_card_box_three_list_r_bot">
<span>966059人申请</span>
<a href="carddot.html">免费申请</a>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</li>
<div class="clear"></div>
</ul>
<a href="card_search.html" class="card_anniu">进入选卡中心</a>
</div>


<div class="ny_gedai_gl">
<div class="ny_card_box_title"><span></span>信用卡攻略</div>
<ul>
<li><a href="newsdot.html">盘点适合出国旅游的信用卡</a></li>
<li><a href="newsdot.html">办卡小窍门：信用卡申请选择哪家银行好？</a></li>
<li><a href="newsdot.html">春游必备两款“国航联名卡” 下卡快、额度高、累积里程快！</a></li>
<li><a href="newsdot.html">盘点适合出国旅游的信用卡</a></li>
<li><a href="newsdot.html">办卡小窍门：信用卡申请选择哪家银行好？</a></li>
<li><a href="newsdot.html">春游必备两款“国航联名卡” 下卡快、额度高、累积里程快！</a></li>
</ul>
</div>
</div>

<div class="warpper_box_eight">
    <ul>
      <li> <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_0.png"> <span>贷款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_3.png"> <span>存款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_2.png"> <span>买车工具</span> </div>
        </a> </li>
      <li style=" margin-right:0">  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_4.png"> <span>利率查询</span> </div>
        </a> </li>
      <div class="clear"></div>
    </ul>
  </div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>

<script>
		
$(document).ready(function (){
$(window).load(function (){	
$(".swiper1").height($(".ka_right img").height()+10)
})
			var mySwiper = new Swiper('.swiper1', {
				loop: true,
				autoplay: 5000,
				spaceBetween: 0,
				slidesPerView : 2,
				paginationClickable: true,
				autoplayDisableOnInteraction: false,
			})
})
</script>
</html>
