<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/echarts.min.js"></script>
</head>
<style>
.active a {
	border-bottom: 3px #338bff solid;
	color: #338bff !important;
	display: block;
}
</style>

<body>

<!--head --> 
<div class="head_box" style=" background:#4988db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">个贷详情</div>
<div class="clear"></div>
</div>
<!--head -->

<div class="warpper_box">
  <div class="card_xq">
  <img src="images/carddot_pic.jpg" />
  <h2>交通银行沃尔玛卡金卡</h2>
  <h3>免首年年费，刷卡6次</h3>
  <ul class="gedai2_top_list">
          <li><span>人民币</span></li>
          <li><span>普卡/金卡</span></li>
          <li style=" margin-bottom:0px;"><span>刷卡免年费</span></li>
          <div class="clear"></div>
        </ul>
  </div>
  
  
  
  <div class="gedai_xq_one">
    <ul class="gedai_xq_one_title">
      <li class="active"><a href="javascript:void(0)">基本信息</a></li>
      <li><a href="javascript:void(0)">专项特权</a></li>
      <li><a href="javascript:void(0)">相关费用</a></li>
      <div class="clear"></div>
    </ul>
    
    <div class="gedai_xq_one_title_boxs" style="display:block">
     <div class="gedai_xq_one_title_boxs_list">
     <h5>等级</h5>
     <h6>金卡</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>币种</h5>
     <h6>人民币+美元</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>发卡组织</h5>
     <h6>银联+MasterCard</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>积分规则</h5>
     <h6>每刷卡消费1元人民币即可累计1个万里通积分（1美元可累计7个万里通积分）</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>免息期</h5>
     <h6>最短18天，最长50天</h6>
     <div class="clear"></div>
     </div> 
     <div class="gedai_xq_one_title_boxs_list">
     <h5>申请条件</h5>
     <h6>工作或生活地区有网点 具有完全民事行为能力 无信用不良纪录 从事收入稳定且非禁止推广的行业职业 中华人民共和国公民（除港澳台地区）年龄须为18-65周岁（含） 港澳台及外籍人士年龄须为25-65周岁</h6>
     <div class="clear"></div>
     </div> 
    </div>
    
    <div class="gedai_xq_one_title_boxs" >
    <div class="gedai_xq_one_title_boxs_list">
    <div class="gedai_xq_one_title_boxs_list_top"><span><img src="images/tq_jifen.png" /></span>500积分=1元折抵平安车险保费</div>
    <h7>消费积分可全额兑换平安车险保费，刷越多省更多，积分可按照500积分=1元折抵平安车险保费；目前仅支持平安电话及网销车险，详询平安电话车险400-8000-000。</h7>
    </div>
    <div class="gedai_xq_one_title_boxs_list">
    <div class="gedai_xq_one_title_boxs_list_top"><span><img src="images/tq_baoxian.png" /></span>赠最高110万元全车人员意外保障</div>
    <h7>首刷次日起即可获赠最高110万元全车人员意外保障（仅限持卡人本人驾驶车辆），最高50万元驾驶员意外保障，同车人员最高10万元/人乘车意外保障；车上所有人员（含驾驶员）最高4000元/人驾乘意外医疗保障。</h7>
    </div>
    <div class="gedai_xq_one_title_boxs_list">
    <div class="gedai_xq_one_title_boxs_list_top"><span><img src="images/tq_qiche.png" /></span>全国免费道路救援（全年无休）</div>
    <h7>首刷次日起即可申请每次30公里内的免费道路救援服务（含事故和非事故），每天可享一次，全年不限天数！道路救援服务专线400-6100-566，急修服务（接电、换胎、送油、现场抢修和送水）全国城区40分钟抵达拖车服务10分钟内救援车出发。</h7>
    </div>
    <div class="gedai_xq_one_title_boxs_list">
    <div class="gedai_xq_one_title_boxs_list_top"><span><img src="images/tq_youhui.png" /></span>加油享88折优惠</div>
    <h7>全国48个城市，超过8000家加油站，天天加油88折</h7>
    </div>
    </div>
    
    <div class="gedai_xq_one_title_boxs" >
      <div class="gedai_xq_one_title_boxs_list">
     <h5>年费</h5>
     <h6>200元/年，首年年费不免，消费3万免次年年费</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>取现</h5>
     <h6>最高取现比例50%，取现手续费为取现金额的2.5%，最低境内取现费25元</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>还款</h5>
     <h6>最低还款金额为本月账单的本月账单的10%，部分用户可享受5%，逾期客户规则另记 ，日息0.05%</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>违约金</h5>
     <h6>低于最低还款金额未还部分的5% ，最低收费3美元或20元</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>超限费</h5>
     <h6>超过信用额度部分的5%，最低收费10元，目前优惠期暂不取，如优惠终止将按监管规定提前公告</h6>
     <div class="clear"></div>
     </div> 
      <div class="gedai_xq_one_title_boxs_list">
     <h5>溢缴费</h5>
     <h6>存入金额超出欠款的部分，取出时收取0.5%</h6>
     <div class="clear"></div>
     </div> 
     <div class="gedai_xq_one_title_boxs_list">
     <h5>分期费率</h5>
     <h6>平安银行信用卡业务服务销售价格目录：按协议或约定，当持卡人使用分期功能时收取。</h6>
     <div class="clear"></div>
     </div>
    </div>
  </div>









<div style=" width:100%; height:55px; background:#fff;"></div>

<div class="gedai_shenqing">
<a href="#">立即申请</a>
</div>



</div>







</body>
<script>
		
$(document).ready(function (){

$(".gedai_xq_one_title li").click(function(){
		var index = $(this).index();
		$(".gedai_xq_one_title_boxs").hide();
		$(".gedai_xq_one_title_boxs").eq(index).show();
		})


 $(".gedai_xq_one_title li").click(function() {
    $(this).addClass("active").siblings().removeClass("active");
   })
})

</script>
</html>
