<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
</head>

<body>


<!--head -->
<div class="head_box" style=" background:#ff8aa3">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<div class="head_box_right_l"><a href="login.html">登录</a></div>
<div class="head_box_right_l"><a href="dingwei.html"><img src="images/dingwei.svg" /><span>定位</span></a></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<!--head --> 




<div class="warpper_box">

<div class="ny_menu_box fangdai_color">
<ul>
<li><a href="gedai.html">个贷</a></li>
<li  class="active"><a href="fangdai.html">房贷</a></li>
<li><a href="chedai.html">车贷</a></li>
<li><a href="card.html">信用卡</a></li>
<li><a href="news.html">资讯</a></li>
<div class="clear"></div>
</ul>
</div>




<div class="hot_house">
<div class="ny_gedai_box_title ny_fangdai_box_title"><span></span>热评户型</div>
<div class="swiper-container swiper1"  style="width:130%">
 <div class="swiper-wrapper" >
                            	<div class="swiper-slide" >
                                	<div class="hot_house_list">
                                    	<img src="images/huxing1.jpg" width="100%"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                	<div class="hot_house_list">
                                    	<img src="images/huxing2.jpg" width="100%"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                	<div class="hot_house_list">
                                    	<img src="images/huxing3.jpg" width="100%"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                	<div class="hot_house_list">
                                    	<img src="images/huxing4.jpg" width="100%"/>
                                    </div>
                                </div>
        
                            </div>

</div>
</div>

<div class="ny_gedai_xuanze">
<div class="ny_gedai_xuanze_l">
<input class="input1" type="text" value="万元" onfocus="this.value=''" onblur="if(this.value==''){this.value='万元'}" />
</div>
<div class="ny_gedai_xuanze_r">
<a href="gedai_search.html">搜索</a>
</div>
<div class="clear"></div>
</div>

<div class="ny_gedai_box">
<div class="ny_gedai_box_title ny_fangdai_box_title"><span></span>杭州热门房贷</div>
<ul>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/huaxia.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.75</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/kuake.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">1.19</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
</ul>
</div>



<div class="ny_gedai_gl">
<div class="ny_gedai_gl_title ny_fangdai_gl_title"><span></span>贷款攻略</div>
<ul>
<li><a href="newsdot.html">公积金异地贷款有哪些要求？公积金异地贷款所需哪些资料？</a></li>
<li><a href="newsdot.html">逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
<li><a href="newsdot.html">公积金异地贷款有哪些要求？公积金异地贷款所需哪些资料？</a></li>
<li><a href="newsdot.html">逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
<li><a href="newsdot.html">公积金异地贷款有哪些要求？公积金异地贷款所需哪些资料？</a></li>
<li><a href="newsdot.html">逾期多久会上征信黑名单?黑户如何申请贷款?</a></li>
</ul>
</div>

<div class="ny_gedai_wd">
<div class="ny_gedai_wd_title"><span></span>贷款问答</div>
<ul>
<li>
<a href="wendadot.html">
<div class="ny_gedai_wd_tiwen">
逾期多久会上征信黑名单？黑户如何申请贷款？
</div>
<div class="ny_gedai_wd_huida">
首先小伙伴们一定要明白征信黑名单并非真实存在，因为央行征信报告只是用户用记录的客观展示，征信中心并不会进行评价。只有在该用户申请信用卡、贷款时，金融机构才会在去的授权的情况
</div>
</a>
</li>
<li>
<a href="wendadot.html">
<div class="ny_gedai_wd_tiwen">
逾期多久会上征信黑名单？黑户如何申请贷款？
</div>
<div class="ny_gedai_wd_huida">
首先小伙伴们一定要明白征信黑名单并非真实存在，因为央行征信报告只是用户用记录的客观展示，征信中心并不会进行评价。只有在该用户申请信用卡、贷款时，金融机构才会在去的授权的情况
</div>
</a>
</li>
<li>
<a href="wendadot.html">
<div class="ny_gedai_wd_tiwen">
逾期多久会上征信黑名单？黑户如何申请贷款？
</div>
<div class="ny_gedai_wd_huida">
首先小伙伴们一定要明白征信黑名单并非真实存在，因为央行征信报告只是用户用记录的客观展示，征信中心并不会进行评价。只有在该用户申请信用卡、贷款时，金融机构才会在去的授权的情况
</div>
</a>
</li>
<li>
<a href="wendadot.html">
<div class="ny_gedai_wd_tiwen">
逾期多久会上征信黑名单？黑户如何申请贷款？
</div>
<div class="ny_gedai_wd_huida">
首先小伙伴们一定要明白征信黑名单并非真实存在，因为央行征信报告只是用户用记录的客观展示，征信中心并不会进行评价。只有在该用户申请信用卡、贷款时，金融机构才会在去的授权的情况
</div>
</a>
</li>
</ul>
</div>

</div>




<div class="warpper_box_eight">
    <ul>
      <li> <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_0.png"> <span>贷款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_3.png"> <span>存款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_2.png"> <span>买车工具</span> </div>
        </a> </li>
      <li style=" margin-right:0">  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_4.png"> <span>利率查询</span> </div>
        </a> </li>
      <div class="clear"></div>
    </ul>
  </div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>

<script>
		
$(document).ready(function (){
	$(window).load(function (){
 $(".swiper1").height($(".hot_house_list img").height()+10)
	})
 
			var mySwiper = new Swiper('.swiper1', {
				loop: true,
				autoplay: 5000,
				spaceBetween: 0,
				slidesPerView : 2,
				paginationClickable: true,
				autoplayDisableOnInteraction: false,
			})
})

</script>
</html>
