<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >

<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
</head>

<body>



<!--head --> 
<div class="head_box" style=" background:#4988db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">个贷</div>
<div class="clear"></div>
</div>
<!--head -->



<div class="warpper_box">

<div class="gedai_search_box">

<ul class="gedai_search_box_title">
<li><a href="#">职业身份<img src="images/blue_sj.png" /></a></li>
<li style=" width:44%"><a href="#">名下房产类型<img src="images/blue_sj.png" /></a></li>
<li><a href="#">信用情况<img src="images/blue_sj.png" /></a></li>
<div class="clear"></div>
</ul>

<div class="gedai_search_box_list">

<ul>
<li><a href="#">上班族</a></li>
<li><a href="#">个体户</a></li>
<li><a href="#">无固定职业</a></li>
<li><a href="#">企业主</a></li>
<li><a href="#">学生</a></li>
</ul>


<ul>
<li><a href="#">无房产</a></li>
<li><a href="#">小产权房</a></li>
<li><a href="#">经济/限价房</a></li>
<li><a href="#">商铺</a></li>
<li><a href="#">厂房</a></li>
<li><a href="#">商住两用房</a></li>
<li><a href="#">房改/危改房</a></li>
<li><a href="#">办公楼</a></li>
</ul>


<ul>
<li><a href="#">1年内逾期超过3次或者超过90天</a></li>
<li><a href="#">1年内逾期少于3次或者少于90天</a></li>
<li><a href="#">无信用卡或贷款</a></li>
</ul>

</div>

<div class="black_bg"></div>
</div>


<div class="ny_gedai_box" >
<ul>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/huaxia.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.75</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/kuake.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">1.19</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/huaxia.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.75</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/kuake.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">1.19</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/huaxia.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.75</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/kuake.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">1.19</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/huaxia.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.75</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/kuake.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">1.19</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
<li>
<a href="gedaidot.html">
<div class="ny_gedai_box_list_l">
<div class="ny_gedai_box_list_l_type">
<span>人气</span>
<div class="ny_gedai_box_list_l_type_bg"></div>
</div>
<img src="images/yixin.jpg" />
</div>
<div class="ny_gedai_box_list_r">
<div class="ny_gedai_box_list_r_top">
华夏银行-易达金
</div>
<div class="ny_gedai_box_list_r_bottom">
<div class="ny_gedai_box_list_r_bottom_list">
<dl>
<dt>贷款金额： </dt>
<dd><span class="num_red">5.0~30.0</span> 万</dd>
</dl>
<dl>
<dt>月管理费： </dt>
<dd><span class="num_red">0.78</span> %</dd>
</dl>
</div>
<div class="ny_gedai_box_list_r_bottom_btn">查看详情</div>
</div>
</div>
<div class="clear"></div>
</a>
</li>
</ul>
</div>

</div>




<div class="warpper_box_eight">
    <ul>
      <li> <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_0.png"> <span>贷款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_3.png"> <span>存款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_2.png"> <span>买车工具</span> </div>
        </a> </li>
      <li style=" margin-right:0">  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_4.png"> <span>利率查询</span> </div>
        </a> </li>
      <div class="clear"></div>
    </ul>
  </div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->


</body>

<script>		
$(document).ready(function (){


      var show = false;
	  var index ;
	 $(".gedai_search_box_title li").click(function(){
	  	index = $(this).index();
			 if($(".gedai_search_box_list ul").eq(index).css('display')=="none"){
				 $(".gedai_search_box_list ul").eq(index).show().siblings().hide();
				 $(".black_bg").show()
				 $('html,body').css('overflow-y','hidden');
			 }else{
				 $(".gedai_search_box_list ul").eq(index).hide()
				 $(".black_bg").hide()
				 $('html,body').css('overflow-y','scroll');
				}
})
		
            $(".gedai_search_box_list ul li").click(function(){
              $(".gedai_search_box_list ul").hide();
	          $(".black_bg").hide()
             })

	 $(".black_bg").click(function(){
		   $(".gedai_search_box_list ul").hide();
		    $(".black_bg").hide();
		 })


	 
})


</script>
</html>
