<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
</head>

<body>

<div class="head_box" style=" background:#f06969">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
</div>
<div class="head_box_right">
<div class="head_box_right_l"><a href="login.html">登录</a></div>
<div class="head_box_right_l"><a href="dingwei.html"><img src="images/dingwei.svg" /><span>定位</span></a></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>



<!--banner-->
<div class="banner_box">
  <div class="swiper-container swiper1">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner2.jpg"  width="100%"/></div>
        <div class="swiper-slide"><img src="images/banner.jpg"  width="100%"/></div>
    </div>
    <div class="swiper-pagination pagination1"></div>
  </div>
</div>
<!--banner--> 

<!--warpper-->
<div class="warpper_box">
  <div class="warpper_box_two">
    <ul>
      <li class="fdk_box"> <img src="images/fdk.svg" /> 放贷快 </li>
      <li class="lld_box"> <img src="images/lld.svg" /> 利率低 </li>
      <li class="ged_box"> <img src="images/ged.svg" /> 额度高 </li>
      <li class="mkd_box"> <img src="images/mkd.svg" /> 门槛低 </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="warpper_box_one">
    <div class="account_summary_announcement"> <span><img src="images/jrtt.svg" width="100%"></span>
      <ul>
        <li><a href="newsdot.html">大学生信用贷款 这三种方式可选。</a></li>
        <li><a href="newsdot.html">【借款秘籍】原子贷老用户特权再升级</a></li>
        <li><a href="newsdot.html">互金整治将迎新时间窗口 平台称整改力度或加大</a></li>
        <li><a href="newsdot.html">监管理性
        考量 互金专项整治期限最长延期</a></li>
      </ul>
    </div>
  </div>
  
<div class="ind_box1">
  	<ul>
    	<li>
        	<a href="chedai.html">
            	<img src="images/ind1_1.jpg" width="100%" />
            </a>
        </li>
    	<li class="ind1_li2">
        	<a href="gedai.html">
            	<img src="images/ind1_2.jpg" width="100%" />
            </a>
        </li>
    	<li>
        	<a href="fangdai.html">
            	<img src="images/ind1_3.jpg" width="100%" />
            </a>
        </li>
    	<li>
        	<a href="card.html">
            	<img src="images/ind1_4.jpg" width="100%" />
            </a>
        </li>
    	<li>
        	<div class="ind1_li">
        	<a href="gonglue.html">
            	<img src="images/ind1_5.jpg" width="100%" />
            </a>
            </div>
        	<div class="ind1_li">
        	<a href="news.html">
            	<img src="images/ind1_6.jpg" width="100%" />
            </a>
            </div>
        </li>
        <div class="clear"></div>
    </ul>
</div>
  
 <!-- <div class="warpper_box_three">
    <ul>
      <li class="pic_box"><img src="images/two_pic2.jpg" /></li>
      <li class="red_box"><a href="gedai.html"><img src="images/gedai.svg" /> 个贷 </a></li>
      <li class="pink_box"><a href="chedai.html"><img src="images/chedai.svg" /> 车贷 </a></li>
      <li class="pink_box"><a href="fangdai.html"><img src="images/fangdai.svg" /> 房贷 </a></li>
      <li class="pic_box"><img src="images/two_pic1.jpg" /></li>
      <li class="red_box"><a href="card.html"><img src="images/xyk.svg" /> 信用卡 </a></li>
      <li class="pic_box"><img src="images/two_pic.jpg" /></li>
      <li class="red_box"><a href="gonglue.html"><img src="images/gonglue.svg" /> 攻略 </a></li>
      <li class="pink_box"><a href="news.html"><img src="images/zixun.svg" /> 资讯 </a></li>
      <div class="clear"></div>
    </ul>
  </div>-->
  <div class="warpper_box_four">
    <div class="warpper_box_four_title">热门个贷</div>
    <div class="swiper-container swiper2" style=" width:170%;">
      <div class="swiper-wrapper">
        <div class="swiper-slide" >
          <div class="fangdai_box">
            <div class="fangdai_box_txt">
              <h2>房产抵押贷款</h2>
              <h4>最高可达评估<span>8成</span></h4>
            </div>
            <a href="gedai.html"><img src="images/ind2_1.jpg" width="100%"/></a></div>
        </div>
        <div class="swiper-slide">
          <div class="fangdai_box">
            <div class="fangdai_box_txt">
              <h2>经营贷款</h2>
              <h4>有营业执照即可<span>申请</span></h4>
            </div>
             <a href="gedai.html"><img src="images/ind2_4.jpg" width="100%"/></a></div>
        </div>
        <div class="swiper-slide">
          <div class="fangdai_box">
            <div class="fangdai_box_txt">
              <h2>信用贷款</h2>
              <h4>无抵押，<span>无担保</span></h4>
            </div>
             <a href="gedai.html"><img src="images/ind2_2.jpg" width="100%"/></a></div>
        </div>
        <div class="swiper-slide">
          <div class="fangdai_box">
            <div class="fangdai_box_txt">
              <h2>保障贷款</h2>
              <h4>全程代办，<span>安全担保</span></h4>
            </div>
             <a href="gedai.html"><img src="images/ind2_3.jpg" width="100%"/></a></div>
        </div>
        <div class="swiper-slide">
          <div class="fangdai_box">
            <div class="fangdai_box_txt">
              <h2>应急贷款</h2>
              <h4>最快<span>当天</span>放款</h4>
            </div>
             <a href="gedai.html"><img src="images/ind2_5.jpg" width="100%"/></a></div>
        </div>
      </div>
      <div class="swiper-pagination pagination1"></div>
    </div>
  </div>
  <div class="warpper_box_five">
    <ul>
      <li>
        <a href="gedai.html">
        <div class="warpper_box_five_l gedai_bg"> 
        <img src="images/five_pic.png" />
          <h4>热门个贷</h4>
          <h5>精选放贷祝您早安家</h5>
        </div>
        </a>
        <div class="warpper_box_five_r">
          <ul>
            <li class="sange_box"><a href="news.html"> <img src="images/five_gdgl.png" /> <span>攻略</span> </a></li>
            <li><a href="wenda.html"> <img src="images/five_gdwd.png" /> 问答</a></li>
            <li><a href="news.html"> <img src="images/five_gdzx.png" /> 资讯</a> </li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <a href="fangdai.html">
        <div class="warpper_box_five_l"> 
        <img src="images/five_pic.png" />
          <h4>热门房贷</h4>
          <h5>精选放贷祝您早安家</h5>
        </div>
        </a>
        <div class="warpper_box_five_r">
          <ul>
            <li><a href="news.html"> <img src="images/five_fdal.png" /> 攻略 </a></li>
            <li><a href="jisuan.html"> <img src="images/five_fdjs.png" /> 工具</a> </li>
            <li><a href="wenda.html"> <img src="images/five_fdwd.png" /> 问答</a></li>
            <li><a href="news.html"> <img src="images/five_fdzx.png" /> 资讯</a> </li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <a href="chedai.html">
        <div class="warpper_box_five_l car_bg"> <img src="images/five_pic.png" />
          <h4>热门车贷</h4>
          <h5>精选放贷祝您早安家</h5>
        </div>
        </a>
        <div class="warpper_box_five_r">
          <ul>
            <li class="sange_box"><a href="gonglue.html">  <img src="images/five_cdgl.png" /> <span>攻略</span> </a></li>
            <li> <a href="news.html"> <img src="images/five_cdzx.png" /> 资讯 </a></li>
            <li><a href="wenda.html">  <img src="images/five_cdwd.png" /> 问答 </a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li style=" margin-bottom:0px;">
        <a href="card.html">
        <div class="warpper_box_five_l card_bg"> <img src="images/five_pic1.png" />
          <h4>信用卡申请</h4>
          <h5>足不出户快捷办卡</h5>
        </div>
        </a>
        <div class="warpper_box_five_r">
          <ul>
            <li><a href="news.html"> <img src="images/five_xykcx.png" /> 达人</a></li>
            <li><a href="wenda.html"> <img src="images/five_xykwd.png" /> 问答</a></li>
            <li><a href="cardyouhui.html"> <img src="images/five_xykyh.png" /> 优惠</a></li>
            <li><a href="gonglue.html"> <img src="images/five_xykgl.png" /> 攻略</a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
  <div class="warpper_box_six">
    <div class="warpper_box_six_title">贷款资讯</div>
    <ul>
      <li><a href="newsdot.html"><span>• </span>房地产税如何才合理</a></li>
      <li><a href="newsdot.html"><span>• </span>房地产市场容不下害群之马</a></li>
      <li><a href="newsdot.html"><span>• </span>银行调整房贷利率至9折</a></li>
      <li><a href="newsdot.html"><span>• </span>买房如何应付购房陷阱</a></li>
      <li><a href="newsdot.html"><span>• </span>【借款秘籍】原子贷老用户特权再升...</a></li>
      <li><a href="newsdot.html"><span>• </span>万元月息只要85元 靠谱贷款公司可...</a></li>
    </ul>
    <div class="warpper_box_six_r"><img src="images/dkzx_pic.jpg"></div>
    <div class="clear"></div>
  </div>
  <div class="warpper_box_seven">
    <div class="warpper_box_seven_title">公司介绍</div>
    <div class="warpper_box_seven_l"> 牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司，成立于2015年10月，是中国领先的移动金融智选平台。 </div>
    <div class="warpper_box_seven_r"><img src="images/gsjs_pic.jpg"></div>
    <div class="clear"></div>
  </div>
  <div class="warpper_box_eight">
    <ul>
      <li> <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_0.png"> <span>贷款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_3.png"> <span>存款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_2.png"> <span>买车工具</span> </div>
        </a> </li>
      <li style=" margin-right:0">  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_4.png"> <span>利率查询</span> </div>
        </a> </li>
      <div class="clear"></div>
    </ul>
  </div>
</div>
<!--warpper--> 

<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>
<script>
    var mySwiper = new Swiper('.swiper1',{
        pagination: '.pagination1',
        paginationClickable: true,
        spaceBetween: 30,
		autoplay:3000,
		 loop:true,
		grabCursor: true,
		autoplayDisableOnInteraction : false,
    });

  
    var mySwiper2 = new Swiper('.swiper2', {
				loop: true,
				autoplay: 3000,
				spaceBetween: 0,
				slidesPerView : 2,
				paginationClickable: true,
				autoplayDisableOnInteraction: false,
			})

$(document).ready(function (){

  $(window).load(function (){
	  
	  $('.ind_box1 li').height($('.ind_box1 li').eq(0).find('img').height())
	  $('.ind1_li').height(($('.ind_box1 li').eq(0).find('img').height()-8)/2)
	   $('.ind_box1 ul').height($('.ind_box1 li').eq(0).find('img').height()*2+8)
	  
   $(".banner_box").height($(".swiper1 img").height())	
   
   $(".warpper_box_five_r ul li").height($(".warpper_box_five_l").height()/2+1)	
    
   $(".warpper_box_three li").height(parseInt($(".red_box").height())+10)
})
  
	

	
	
	/*公告轮播*/
	function carousel(){
		var time=0;
		if($('.account_summary_announcement ul li').length<=1){
			clearInterval(timeData);	
		}else{
			var timeData=setInterval(function(){
				if(!$(this).siblings('.list').find('ul').is(':animated')){
					var objli = $('.account_summary_announcement ul').find('li:first');
					objli.clone().appendTo($('.account_summary_announcement ul'));
					$('.account_summary_announcement ul').animate({marginTop:(-40)+'px'},500,function(){
						$('.account_summary_announcement ul').css({marginTop:'0px'});
						objli.remove();//删除克隆过的第一张图片
					});
				}
			},4000);
		}	
	}
	carousel();



$(window).load(function (){
	 $(".swiper2").height($(".fangdai_box").height()+15)	
})

})  		


</script>
</html>
