<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
</head>

<body>



<div class="head_box" style=" background:#47cfac">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">计算工具</div>
<div class="clear"></div>
</div>



<div class="warpper_box">

<div class="jisuan_title">
<ul>
<li><a href="jisuan.html" class="active">等额本金</a></li>
<li><a href="jisuan1.html">等额本息</a></li>
<li style=" border:none"><a href="jisuan2.html">公积金</a></li>
<div class="clear"></div>
</ul>
</div>

<div class="jisuan_box">
<div class="calc_li">
                        	<h5>计算方式</h5>
                            <div class="calc_right_r">
                            	<label><input type="radio" name="edu" checked="checked" class="calc_edu" value="1"><span>按贷款额度算</span></label>
                            	<label><input type="radio" name="edu" class="calc_edu1" value="2"><span>按面积算</span></label>
                            </div>
                        </div>
<div class="calc_radio calc_radio1">
                            <div class="calc_li">
                                <h5>贷款金额</h5>
                                <div class="calc_right_r">
                                    <div class="calc_right_input">
                                        <input type="text" class="calc_input" id="daikuanjine"><h5>万元</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="calc_radio calc_radio2">
                        	<div class="calc_li">
                                <h5>平米单价</h5>
                                <div class="calc_right_r">
                                    <div class="calc_right_input">
                                        <input type="text" class="calc_input danjia" style="width:79%; " ><h5>元/平米</h5>
                                    </div>
                                </div>
                            </div>
                        	<div class="calc_li">
                                <h5>面积</h5>
                                <div class="calc_right_r">
                                    <div class="calc_right_input">
                                        <input type="text" class="calc_input mianji"><h5>平米</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="calc_li">
                                <h5>购房性质</h5>
                                <div class="calc_right_r">
                                    <label><input type="radio" name="house" checked="checked" class="calc_house" value="1"><span>一套房</span></label>
                                    <label><input type="radio" name="house" class="calc_house1" value="2"><span>二套房</span>
                                    <div class="calc_bottom_zs">
                                        <a href="javascript:void(0);" class="calc_bottom_btn"><img src="images/calc_wh.png"></a>
                                        <div class="calc_js">
                                            <h5>逐月递减还款即等额本金还款法，指本金保持相同，利息逐月递减，月还款数递减；由于每月的还款本金额固定，而利息越来越少，贷款人起初还款压力较大，但是随时间的推移每月还款数也越来越少。</h5>
                                            <div class="calc_close">
                                                <a href="javascript:void(0);"><img src="images/calc_close.png"></a>
                                            </div>
                                            <div class="calc_arrow">
                                                <img src="images/calc_arrow.png">
                                            </div>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                            </div>
                            <div class="calc_li">
                                <h5>首付</h5>
                                <div class="calc_right_r">
                                    <div class="calc_right_input">
                                        <div class="calc_sele"><input type="text" class="calc_input "  style="width:80%; "><h5>%</h5><i class="fa fa-sort-down"></i></div>
                                        <div class="calc_ul" style="">
                                            <ul>
                                                <li>20</li>
                                                <li>30</li>
                                                <li>40</li>
                                                <li>50</li>
                                                <li>60</li>
                                                <li>70</li>
                                                <li>80</li>
                                                <li>90</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="calc_li">
                        	<h5>贷款期限</h5>
                            <div class="calc_right_r">
                            	<div class="calc_right_input">
                            
                                
                                    <div class="calc_sele"><input type="text" class="calc_input"  style="width:80%; "><i class="fa fa-sort-down"></i><h5 >年</h5></div>
                                    <div class="calc_ul" >
                                        <ul>
                                            <li>5</li>
                                            <li>10</li>
                                            <li>15</li>
                                            <li>20</li>
                                            <li>25</li>
                                            <li>30</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="calc_li">
                        	<h5>年利率</h5>
                            <div class="calc_right_r">
                            	<div class="calc_right_input">
                                        <input type="text" class="calc_input"   onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '4.75';}"  value="4.75"     id="ylilv"><h5>%</h5>
                                    </div>
                            </div>
                               
                        </div>
<div class="calc_btn">
                        	<div class="calc_calc">
                            	<a href="jisuandot.html">计算</a>
                            </div>
                        	<div class="calc_cz">
                            	<a href="#">重置</a>
                            </div>
                        </div>                       
</div>

</div>




<div class="warpper_box_eight">
    <ul>
      <li> <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_0.png"> <span>贷款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_3.png"> <span>存款工具</span> </div>
        </a> </li>
      <li>  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_2.png"> <span>买车工具</span> </div>
        </a> </li>
      <li style=" margin-right:0">  <a href="jisuan.html">
        <div class="gedai2_right_img"> <img src="images/gedai2_right1_4.png"> <span>利率查询</span> </div>
        </a> </li>
      <div class="clear"></div>
    </ul>
  </div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>

<script>
		

$(document).ready(function (){

      
	function stopPropagation(e) {
		if (e.stopPropagation) 
		e.stopPropagation();
		else 
		e.cancelBubble = true;
	}
	
	$(document).bind('click',function(){
		$('.calc_ul').slideUp()
		$('.calc_js').fadeOut(300)
	});
	
	$(".calc_sele i,.calc_bottom_btn,div.calc_input").bind('click',function(e){
		stopPropagation(e);
	});
	
	$('div.calc_input').click(function(){
		$(this).parent().siblings('.calc_ul').slideToggle()
	})
	
	$('.calc_ul li').click(function(){
		$(this).parent().parent().siblings('.calc_sele').find('.calc_input').html($(this).html())
		$(this).parent().parent().siblings('.calc_sele').find('.calc_input').val($(this).html())
	})
	
	$('.calc_sele i').click(function(){
		$(this).parent().siblings('.calc_ul').slideToggle()
	})
	$('.calc_bottom_btn').click(function(){
		$(this).siblings('.calc_js').fadeIn(300)
	})
	
	$('.calc_close a').click(function(){
		$('.calc_js').fadeOut(300)
	})
	
	$('input[name=edu]').click(function(){
		$('.calc_radio').hide(0)
		$('.calc_radio'+$(this).val()).fadeIn(100)
	})
	
	


 
})

</script>
</html>
