<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
</head>

<body>

<!--head --> 
<div class="head_box" style=" background:#29c98d">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">计算结果</div>
<div class="clear"></div>
</div>
<!--head -->

<div class="warpper_box">
  <div class="shuchu_box">
    <h5>逐月递减还款</h5>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td class="calc_td1">贷款总金额</td>
          <td class="calc_td2"><span style="color:#666" id="zongjine">300000</span>元</td>
        </tr>
        <tr>
          <td class="calc_td1">还贷月数</td>
          <td class="calc_td2"><span style="color:#666" id="month">24</span>月</td>
        </tr>
        <tr>
          <td class="calc_td1">每月还款</td>
          <td class="calc_td2"><span style="color:#EE6868" id="yuehuan">13687.50 第1期<br>
            13638.02 第2期<br>
            13588.54 第3期<br>
            13539.06 第4期<br>
            13489.58 第5期<br>
            13440.10 第6期<br>
            13390.63 第7期<br>
            13341.15 第8期<br>
            13291.67 第9期<br>
            13242.19 第10期<br>
            13192.71 第11期<br>
            13143.23 第12期<br>
            13093.75 第13期<br>
            13044.27 第14期<br>
            12994.79 第15期<br>
            12945.31 第16期<br>
            12895.83 第17期<br>
            12846.35 第18期<br>
            12796.88 第19期<br>
            12747.40 第20期<br>
            12697.92 第21期<br>
            12648.44 第22期<br>
            12598.96 第23期<br>
            12549.48 第24期<br>
            </span><!-- 元<br />每月递减：<span>0</span>元 --></td>
        </tr>
        <tr>
          <td class="calc_td1">总支付利息</td>
          <td class="calc_td2"><span style="color:#EE6868" id="zonglixi">14843.75</span>元</td>
        </tr>
        <tr>
          <td class="calc_td1">本息合计</td>
          <td class="calc_td2"><span style="color:#EE6868" id="benxiheji">314843.75</span>元</td>
        </tr>
      </tbody>
    </table>
    
    <div class="calc_zy">
    <h6>注：此结果仅供参考，实际应缴费以当地为准</h6>
     </div>
  </div>
  
  <div class="calc_intro">
                        	<div class="calc_tit">
                                 <h4><i class="fa fa-angle-double-right"></i>工具简介</h4>
                            </div>
                            <div class="calc_wz">
                            	<h5>等额本金还款计算器（每月偿还本金相同，月还款总额逐月递减），将帮助用户计算在不同的借款期限、不同的贷款利息下，采用等额本息还款方式时，需要支付的月供、利息总额和还款总额。</h5>
                            </div>
                        </div>
</div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>
<script>
		

$(document).ready(function (){

      
	function stopPropagation(e) {
		if (e.stopPropagation) 
		e.stopPropagation();
		else 
		e.cancelBubble = true;
	}
	
	$(document).bind('click',function(){
		$('.calc_ul').slideUp()
		$('.calc_js').fadeOut(300)
	});
	
	$(".calc_sele i,.calc_bottom_btn,div.calc_input").bind('click',function(e){
		stopPropagation(e);
	});
	
	$('div.calc_input').click(function(){
		$(this).parent().siblings('.calc_ul').slideToggle()
	})
	
	$('.calc_ul li').click(function(){
		$(this).parent().parent().siblings('.calc_sele').find('.calc_input').html($(this).html())
		$(this).parent().parent().siblings('.calc_sele').find('.calc_input').val($(this).html())
	})
	
	$('.calc_sele i').click(function(){
		$(this).parent().siblings('.calc_ul').slideToggle()
	})
	$('.calc_bottom_btn').click(function(){
		$(this).siblings('.calc_js').fadeIn(300)
	})
	
	$('.calc_close a').click(function(){
		$('.calc_js').fadeOut(300)
	})
	
	$('input[name=edu]').click(function(){
		$('.calc_radio').hide(0)
		$('.calc_radio'+$(this).val()).fadeIn(100)
	})
	
	


 
})

</script>
</html>
