<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<title>牛轰轰贷款官网-个人信用贷款-房屋抵押贷款</title>
<meta name="keywords" content="牛轰轰贷款官网-个人信用贷款-房屋抵押贷款"/>
<meta name="description" content="牛哄哄( www.niu19.com )，宁波市洛凡实业有限公司	，成立于2015年10月，是中国领先的移动金融智选平台。我们致力于为个人消费者和小微企业提供金融产品的搜索、推荐和申请服务，业务范围涵盖贷款、信用卡与理财。"/>
<link href="css/css.css" type="text/css"  rel="stylesheet" />
<link href="css/swiper.min.css" type="text/css"  rel="stylesheet" >
<link href="css/font-awesome.css" type="text/css"  rel="stylesheet" >
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/echarts.min.js"></script>
</head>
<style>
.activez a{
	background:#4988db;
	color:#fff !important;
	}
.active a{
	border-bottom: 3px #4988db solid;
	color:#4988db !important;
	display: block;
}

</style>

<body>

<!--head --> 
<div class="head_box" style=" background:#4988db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">问答百科</div>
<div class="clear"></div>
</div>
<!--head -->

<div class="warpper_box">

<div class="wenda_fl_box">
<ul>
<li><a href="javascript:void(0)">个贷问答</a></li>
<li><a href="javascript:void(0)">房贷问答</a></li>
<li><a href="javascript:void(0)">车贷问答</a></li>
<li><a href="javascript:void(0)">信用卡问答</a></li>
<div class="clear"></div>
</ul>
</div>


  
  <div class="gedai_xq_one">
    <ul class="gedai_xq_one_title">
      <li class="active" style=" width:50%"><a href="javascript:void(0)">热门问题</a></li>
      <li style=" width:50%"><a href="javascript:void(0)">最新问题</a></li>
      <div class="clear"></div>
    </ul>
    
    <div class="gedai_xq_one_title_boxs" style="display:block">
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>二手房按揭贷款条件？</h4>
    <h5><span>30</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>买房贷款选择哪个银行？</h4>
    <h5><span>5</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>办理买房贷款需要什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    </div>
    
    <div class="gedai_xq_one_title_boxs" >
 <div class="wenda_list">
    <a href="wendadot.html">
    <h4>逾期多久会上征信黑名单？黑户如何申请贷款？</h4>
    <h5><span>4</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>我是新用户。借款500然后一只在筹集资金。</h4>
    <h5><span>20</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>征信黑了还能做房贷吗？</h4>
    <h5><span>1</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>住房公积金贷款问题</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    </div>
    
    
    <a href="tiwen.html" class="question-btn">
        <img src="images/tiwen.svg" alt="">
        <span>提问</span>
    </a>
  </div>








</div>



<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->



</body>
<script>
		
$(document).ready(function (){

$(".gedai_xq_one_title li").click(function(){
		var index = $(this).index();
		$(".gedai_xq_one_title_boxs").hide();
		$(".gedai_xq_one_title_boxs").eq(index).show();
		})


 $(".gedai_xq_one_title li").click(function() {
    $(this).addClass("active").siblings().removeClass("active");
   })
 $(".wenda_fl_box ul li").click(function() {
    $(this).addClass("activez").siblings().removeClass("activez");
   })
})

</script>
</html>
