<include file="Public:head"/>



<body>

<!--head --> 
<div class="head_box" style=" background:#4a89db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">我要提问</div>
<div class="clear"></div>
</div>
<!--head -->




<div class="warpper_box">
<div class="ask_box">
<textarea name=""  rows="6" data-role="none" placeholder="您要提问的详细内容"></textarea>
<input  placeholder="请输入您的邮箱"  type="text" >
</div>
<div class="shoujihao_btn">
<a href="#">提交问题</a>
</div>
</div>




<!--foot-->
<include file="Public:footer"/>
<!--foot-->

</body>
<script>
		

$(document).ready(function (){

})

</script>
</html>
