<include file="Public:haed"/>


<body>

<!--head --> 
<div class="head_box" style=" background:#4988db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">问答详情</div>
<div class="clear"></div>
</div>
<!--head -->

<div class="warpper_box">
  
  
  
 <div class="wenda_xq_ask">
 <div class="wenda_xq_ask_l"><img src="__IMAGES__/wenhao.png" /></div>
 <div class="wenda_xq_ask_r">
 <h3>二手房按揭贷款条件？</h3>
 <div class="time">2017-06-15</div>
 <div class="liulan">浏览：25</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>


 <div class="wenda_xq_answer">
 <div class="wenda_xq_answer_list">
 <div class="wenda_xq_answer_list_l"><img src="__IMAGES__/huida.png" /></div>
 <div class="wenda_xq_answer_list_r">
 <h3>热心网友abc</h3>
 <h4>
二手房按揭贷款申请条件：
1.借款人合法有效的身份证件;
2.借款人经济收入证明或职业证明;
3.借款人家庭户口登记簿;
4.有配偶的借款人需提供夫妻关系证明;
5.有共同借款人的，需提供借款人各方签订的明确共同还款责任的书面承诺;
6.所购二手房的房产权利证明;
7.与售房人签订的《房屋买卖合同》，及售房人提供的划款账号;
8.如抵押物须评估的，须由贷款人认可的评估机构出具的抵押物评估报告;
9.所购房屋产权共有人同意出售房屋的书面授权文件;
10.贷款人要求提供的其他文件或资料。
</h4>
<div class="time">207-06-20 10:57:56</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>
<div class="wenda_xq_answer_list">
 <div class="wenda_xq_answer_list_l"><img src="__IMAGES__/huida.png" /></div>
 <div class="wenda_xq_answer_list_r">
 <h3>热心网友11111</h3>
 <h4>
首先需确认您购买房子本身的价格，确认银行贷款额度，然后通过与地产中介和原房主签合购买合约，支付好首付后，原房主将会房产证交中介保管，之后你要有单位证明必须保证每月收入能超出8K以上能力的证明，这样才能与银行办理按揭贷款。
</h4>
<div class="time">207-06-20 10:57:56</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>
 <div class="wenda_xq_answer_list">
 <div class="wenda_xq_answer_list_l"><img src="__IMAGES__/huida.png" /></div>
 <div class="wenda_xq_answer_list_r">
 <h3>热心网友abc</h3>
 <h4>
二手房按揭贷款申请条件：
1.借款人合法有效的身份证件;
2.借款人经济收入证明或职业证明;
3.借款人家庭户口登记簿;
4.有配偶的借款人需提供夫妻关系证明;
5.有共同借款人的，需提供借款人各方签订的明确共同还款责任的书面承诺;
6.所购二手房的房产权利证明;
7.与售房人签订的《房屋买卖合同》，及售房人提供的划款账号;
8.如抵押物须评估的，须由贷款人认可的评估机构出具的抵押物评估报告;
9.所购房屋产权共有人同意出售房屋的书面授权文件;
10.贷款人要求提供的其他文件或资料。
</h4>
<div class="time">207-06-20 10:57:56</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>
 <div class="wenda_xq_answer_list">
 <div class="wenda_xq_answer_list_l"><img src="__IMAGES__/huida.png" /></div>
 <div class="wenda_xq_answer_list_r">
 <h3>热心网友abc</h3>
 <h4>
二手房按揭贷款申请条件：
1.借款人合法有效的身份证件;
2.借款人经济收入证明或职业证明;
3.借款人家庭户口登记簿;
4.有配偶的借款人需提供夫妻关系证明;
5.有共同借款人的，需提供借款人各方签订的明确共同还款责任的书面承诺;
6.所购二手房的房产权利证明;
7.与售房人签订的《房屋买卖合同》，及售房人提供的划款账号;
8.如抵押物须评估的，须由贷款人认可的评估机构出具的抵押物评估报告;
9.所购房屋产权共有人同意出售房屋的书面授权文件;
10.贷款人要求提供的其他文件或资料。
</h4>
<div class="time">207-06-20 10:57:56</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>
 <div class="wenda_xq_answer_list">
 <div class="wenda_xq_answer_list_l"><img src="__IMAGES__/huida.png" /></div>
 <div class="wenda_xq_answer_list_r">
 <h3>热心网友abc</h3>
 <h4>
二手房按揭贷款申请条件：
1.借款人合法有效的身份证件;
2.借款人经济收入证明或职业证明;
3.借款人家庭户口登记簿;
4.有配偶的借款人需提供夫妻关系证明;
5.有共同借款人的，需提供借款人各方签订的明确共同还款责任的书面承诺;
6.所购二手房的房产权利证明;
7.与售房人签订的《房屋买卖合同》，及售房人提供的划款账号;
8.如抵押物须评估的，须由贷款人认可的评估机构出具的抵押物评估报告;
9.所购房屋产权共有人同意出售房屋的书面授权文件;
10.贷款人要求提供的其他文件或资料。
</h4>
<div class="time">207-06-20 10:57:56</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>
 <div class="wenda_xq_answer_list">
 <div class="wenda_xq_answer_list_l"><img src="__IMAGES__/huida.png" /></div>
 <div class="wenda_xq_answer_list_r">
 <h3>热心网友abc</h3>
 <h4>
二手房按揭贷款申请条件：
1.借款人合法有效的身份证件;
2.借款人经济收入证明或职业证明;
3.借款人家庭户口登记簿;
4.有配偶的借款人需提供夫妻关系证明;
5.有共同借款人的，需提供借款人各方签订的明确共同还款责任的书面承诺;
6.所购二手房的房产权利证明;
7.与售房人签订的《房屋买卖合同》，及售房人提供的划款账号;
8.如抵押物须评估的，须由贷款人认可的评估机构出具的抵押物评估报告;
9.所购房屋产权共有人同意出售房屋的书面授权文件;
10.贷款人要求提供的其他文件或资料。
</h4>
<div class="time">207-06-20 10:57:56</div>
 <div class="clear"></div>
 </div>
 <div class="clear"></div>
 </div>
</div>



</div>

<!--foot-->
<include file="Public:footer"/>
<!--foot-->


</body>

</html>
