<include file="Public:head"/>
<style>
.activez a{
	background:#4988db;
	color:#fff !important;
	}
.active a{
	border-bottom: 3px #4988db solid;
	color:#4988db !important;
	display: block;
}

</style>

<body>

<!--head --> 
<div class="head_box" style=" background:#4988db">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">问答百科</div>
<div class="clear"></div>
</div>
<!--head -->

<div class="warpper_box">

<div class="wenda_fl_box">
<ul>
<li><a href="javascript:void(0)">个贷问答</a></li>
<li><a href="javascript:void(0)">房贷问答</a></li>
<li><a href="javascript:void(0)">车贷问答</a></li>
<li><a href="javascript:void(0)">信用卡问答</a></li>
<div class="clear"></div>
</ul>
</div>


  
  <div class="gedai_xq_one">
    <ul class="gedai_xq_one_title">
      <li class="active" style=" width:50%"><a href="javascript:void(0)">热门问题</a></li>
      <li style=" width:50%"><a href="javascript:void(0)">最新问题</a></li>
      <div class="clear"></div>
    </ul>
    
    <div class="gedai_xq_one_title_boxs" style="display:block">
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>二手房按揭贷款条件？</h4>
    <h5><span>30</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>买房贷款选择哪个银行？</h4>
    <h5><span>5</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>办理买房贷款需要什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    </div>
    
    <div class="gedai_xq_one_title_boxs" >
 <div class="wenda_list">
    <a href="wendadot.html">
    <h4>逾期多久会上征信黑名单？黑户如何申请贷款？</h4>
    <h5><span>4</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>我是新用户。借款500然后一只在筹集资金。</h4>
    <h5><span>20</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>征信黑了还能做房贷吗？</h4>
    <h5><span>1</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>住房公积金贷款问题</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    <div class="wenda_list">
    <a href="wendadot.html">
    <h4>贷款最重要的服务是什么？</h4>
    <h5><span>10</span>个回答</h5>
    </a>
    </div>
    </div>
    
    
    <a href="tiwen.html" class="question-btn">
        <img src="__IMAGES__/tiwen.svg" alt="">
        <span>提问</span>
    </a>
  </div>








</div>



<!--foot-->
<include file="Public:footer"/>
<!--foot-->



</body>
<script>
		
$(document).ready(function (){

$(".gedai_xq_one_title li").click(function(){
		var index = $(this).index();
		$(".gedai_xq_one_title_boxs").hide();
		$(".gedai_xq_one_title_boxs").eq(index).show();
		})


 $(".gedai_xq_one_title li").click(function() {
    $(this).addClass("active").siblings().removeClass("active");
   })
 $(".wenda_fl_box ul li").click(function() {
    $(this).addClass("activez").siblings().removeClass("activez");
   })
})

</script>
</html>
