<include file="Public:head"/>
</head>

<body>
<include file="Public:header"/>
<!--header-->
  
<!--  / warpper  -->
<div class="warpper">

    
    <div class="newslist_box newslist_box2">
        <div class="index_container">
            <div class="newslist2_left">
                <div class="common_tit1" style="border-bottom:0;">
                    <span>个贷攻略</span>
                </div>
                <ul class="newslist2_list">
                    <volist name="res4" id="vo" offset="0" length="6">
                    <li>
                        <div class="newslist2_img">
                            <a href="{:U('PersonLoan/newsDot','id='.$vo['id'])}">
                                <img src="{$vo.logo_pic}" width="100%" />
                            </a>
                        </div>
                        <div class="newslist2_wz">
                            <a href="{:U('PersonLoan/newsDot','id='.$vo['id'])}">
                                <h3>{$vo.news_title}</h3>
                            </a>
                            <h4>来源：{$vo.source} 日期：{$vo.add_time|date="Y-m-d",###}</h4>
                            <h5>
                                <?php
                                    $str = $vo['detail'];
                                    $str = htmlspecialchars_decode($str);
                                    $str = stripslashes($str);
                                    $str = strip_tags($str);
                                    echo mb_substr($str,0,40,'utf-8')."....";
                                ?>
                            </h5>
                            <div class="newslist2_bq">
                                <img src="__IMAGES__/newslist2_bq.jpg" /> 标签：
                                <a target="_blank" href="javascript:void(0);">个贷攻略</a>
                               
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    </volist>
                    
                </ul>

            </div>
        
            <div class="newslist2_right">
                <ul class="news1_right_list">
                        <li class="news1_right_list_first">
                            <img src="__IMAGES__/news1_right2.jpg" width="100%">
                        </li>
                        <volist name="res4" id="vo" offset='6' length="6">
                        <li>
                            <a href="{:U('PersonLoan/newsDot','id='.$vo['id'])}">
                                <h4>{$vo.news_title}</h4>
                                <h5> <?php
                                    $str = $vo['detail'];
                                    $str = htmlspecialchars_decode($str);
                                    $str = stripslashes($str);
                                    $str = strip_tags($str);
                                    echo mb_substr($str,0,40,'utf-8')."....";
                                ?></h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                        </volist>
                    </ul>
            </div>
            
            <div class="clear"></div>
            <div class="pages"> {$page} </div>
        </div>
    </div>

</div>
<!--  / warpper  -->

<include file="Public:right_nav"/>


<!--  / footer  -->
<include file="Public:footer"/>
<!--  / footer  -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        pagination : '.pagination1',
        loop:true,
        autoplay:5000,
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });


var mySwiper2 = new Swiper('.swiper2',{
        loop:true,
        autoplay:5000, 
        spaceBetween: 0,
        slidesPerView : 4,
        paginationClickable: true,
        autopalyDisableOnInteraction:false,
    })
    $('.fangdai_lt').on('click', function(e){
        e.preventDefault()
        mySwiper2.swipePrev()
    })
      
    $('.fangdai_rt').on('click', function(e){
        e.preventDefault()
        mySwiper2.swipeNext()
    })
    
</script>


<script>



$(document).ready(function(){
    $(window).load(function(){
        $(".swiper1").height($(".swiper1 img ").height());
        $('.swiper2').height($('.swiper2 img').height()+60)
        
    })
    $(window).resize(function(){
        $(".swiper1").height($(".swiper1 img ").height());
        $('.swiper2').height($('.swiper2 img').height()+60)
    });
})


$(window).scroll(function(){
    var scrollT=$(window).scrollTop();
    if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
        $('.right_nav').css('display','block');
    }else{
        $('.right_nav').css('display','none');
    }

})  
</script>

</html>
