<include file="Public:head"/>
<link href="__CSS__/fx.css" type="text/css"  rel="stylesheet" />

<body>
<!--head -->


<div class="head_box houtai">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" style=" line-height:30px;color:#357ce2" ></i></a>
<a href="index.html" class="shouye" style=" line-height:24px; color:#357ce2" >首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<a class="grzx" href="fx_my.html"><img src="images/grzx.png"></a>
</div>
<div class="head_box_center" style=" color:#555; line-height:35px;">代理中心</div>
<div class="clear"></div>

</div>
<!--head --> 

<div class="fx_buy">
	<div class="fx_li">
    	<div class="fx_left">
        	<img src="images/fx_buy.jpg" />
        </div>
        <div class="fx_right">
        	<h3>牛哄哄二级代理商</h3>
            <h4>该资格仅在牛哄哄有效</h4>
            <h5>￥<span>200</span>.00</h5>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="fx_fs">
    	<h5>支付方式</h5>
    	<label>
        	<input type="radio" value="fx_zfb" name="fx_zffs" checked="checked"/>
            <span>
            	<img src="images/zfb.png" />
            </span>
        </label>
    	<label>
        	<input type="radio" value="fx_zfb" name="fx_zffs"/>
            <span>
            	<img src="images/wxzf.png" />
            </span>
        </label>
        <div class="clear"></div>
    </div>
    
    <div class="fx_btn">
    	<label>
    		<input type="radio"/>
            <h5>我已同意并阅读<a href="#">《牛哄哄购买协议》</a></h5>
        </label>
        
        <a href="houtai0.html">立即支付</a>
    </div>
</div>

<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>

</html>
