<include file="Public:head"/>
<link href="__CSS__/fx.css" type="text/css"  rel="stylesheet" />
<body>
<!--head -->


<div class="head_box houtai">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" style=" line-height:30px;color:#357ce2" ></i></a>
<a href="index.html" class="shouye" style=" line-height:24px; color:#357ce2" >首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<a class="grzx" href="fx_my.html"><img src="images/grzx.png"></a>
</div>
<div class="head_box_center"  style=" color:#555; line-height:35px;" >代理中心</div>
<div class="clear"></div>

</div>
<!--head --> 
<div class="fx_dk">
	<div class="ind_table">
        <div class="ind_cell">
            <div class="fx_dk_cot">
                <div class="fx_dk_li">
                    <input type="text" placeholder="请输入姓名" onblur="this.placeholder='请输入姓名'" onfocus="this.placeholder=''"/>
                </div>
                
                <div class="fx_dk_li">
                    <input type="text" placeholder="请输入手机号码" onblur="this.placeholder='请输入手机号码'" onfocus="this.placeholder=''"/>
                </div>
                
                <div class="fx_dk_btn">
                    <a href="#">立即办卡</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>
<script>
$(document).ready(function(){
	$('.fx_dk').height($(window).height())
})
</script>

</html>
