<include file="Public:head"/>
<link href="__CSS__/fx.css" type="text/css"  rel="stylesheet" />

<body>
<!--head -->


<div class="head_box houtai">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" style=" line-height:30px;color:#357ce2" ></i></a>
<a href="index.html" class="shouye" style=" line-height:24px; color:#357ce2" >首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<a class="grzx" href="__HOST__/Distribution/fx_my"><img src="__IMAGES__/grzx.png"></a>
</div>
<div class="head_box_center"  style=" color:#555; line-height:35px;" >客服</div>
<div class="clear"></div>

</div>
<!--head --> 

<div class="fx_kf">
	<img src="__IMAGES__/fx_kf.gif" width="100%"/>
</div>

<!--foot-->
<include file="Public:footer"/>
<!--foot-->

</body>
<script>
$(document).ready(function(){
	$('.fx_dk').height($(window).height())
})
</script>

</html>
