<include file="Public:head"/>
<link href="__CSS__/fx.css" type="text/css"  rel="stylesheet" />

</head>

<body>
<!--head -->


<div class="head_box houtai">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" style=" line-height:30px;color:#357ce2" ></i></a>
<a href="index.html" class="shouye" style=" line-height:24px; color:#357ce2" >首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<a class="grzx" href="fx_my.html"><img src="images/grzx.png"></a>
</div>
<div class="head_box_center" style=" color:#555; line-height:35px;">代理中心</div>
<div class="clear"></div>

</div>
<!--head --> 
<div class="fx_share">
	<div class="fx_share_infor">
    	<div class="fx_share_li">
            <div class="fx_share_left">姓名</div>
            <div class="fx_share_right">龙飞</div>
            <div class="clear"></div>
        </div>
    	<div class="fx_share_li">
            <div class="fx_share_left">手机号</div>
            <div class="fx_share_right">15116026752</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="fx_share_lj">
    	<h4>代理链接</h4>
        <div class="fa_share_wz">
        	<input type="text" value="http://www.luofan.com/Wap/ daili/jump/product_id/4/share_id/ 13" readonly="readonly"/>
        </div>
        <div class="fx_share_fz">
        	<a href="#">复制</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="fx_share_ewm">
    	<h4>代理二维码</h4>
        <div class="fx_share_img">
        	<img src="images/fx_share_fd.jpg" width="100%"/>
        </div>
    </div>
</div>


<!--foot-->
<div class="foot_box">
  <ul>
    <li><a href="gedai.html">个贷</a></li>
    <li><a href="fangdai.html">房贷</a></li>
    <li><a href="chedai.html">车贷</a></li>
    <li><a href="card.html">信用卡</a></li>
    <li style="border:none"><a href="news.html">资讯</a></li>
    <div class="clear"></div>
  </ul>
  <h4>© 2017 宁波市洛凡实业有限公司 ALL RIGHTS RESERVED</h4>
</div>
<!--foot-->

</body>
<script>
$(document).ready(function(){
})
</script>

</html>
