<include file="Public:head"/>
<link href="__CSS__/fx.css" type="text/css"  rel="stylesheet" />

<body>


<!--head -->


<div class="head_box houtai">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" style=" line-height:30px;color:#357ce2" ></i></a>
<a href="__HOST__/Index/" class="shouye" style=" line-height:24px; color:#357ce2" >首页</a>
<div class="clear"></div>
</div>


<div class="head_box_right">
<a class="grzx" href="__HOST__/Distribution/fx_my"><img src="__IMAGES__/grzx.png"></a>
</div>

<div class="head_box_center" style=" color:#555; line-height:35px;">代理中心</div>
<div class="clear"></div>

</div>
<!--head --> 


<div class="tab_houtai">
<ul>
<li >
<a href="__HOST__/Distribution/">
<img src="__IMAGES__/houtai_yj.svg" />
<h4 style=" color:#000">佣金产品</h4>
</a>
</li>
<li>
<a href="__HOST__/Distribution/houtai1">
<img src="__IMAGES__/houtai_kh.svg" />
<h4>客户列表</h4>
</a>
</li>
<li style="border-bottom:2px #f90012 solid">
<a href="__HOST__/Distribution/houtai">
<img src="__IMAGES__/houtai_ws.svg" />
<h4 style="color:#f90012">常见问题</h4>
</a>
</li>
<li>
<a href="__HOST__/Distribution/houtai2">
<img src="__IMAGES__/houtai_wd.svg"/>
<h4>查网贷</h4>
</a>
</li>
<div class="clear"></div>
</ul>
</div>



<div class="warpper_box">
<div class="houtai_changjianqa">
<ul>
    <li>
        <div class="houtai_changjianqa_w">
            <span>Q</span>
            <h2>佣金怎么算?</h2>
            <div class="clear"></div>
        </div>
        <div class="houtai_changjianqa_d">
            <span>A</span>
            <div class="houati_ques_table">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th scope="col">产品</th>
                    <th scope="col">返佣比例</th>
                    <th scope="col">返佣标准</th>
                  </tr>
                  <tr>
                    <td>个贷</td>
                    <td>贷款金额1%</td>
                    <td>首次贷款成功</td>
                  </tr>
                  <tr>
                    <td>放贷</td>
                    <td>贷款金额1%</td>
                    <td>首次贷款成功</td>
                  </tr>
                  <tr>
                    <td>车贷</td>
                    <td>贷款金额1%</td>
                    <td>首次贷款成功</td>
                  </tr>
                  <tr>
                    <td>信用卡</td>
                    <td>贷款金额1%</td>
                    <td>首次贷款成功</td>
                  </tr>
                </table>
            </div>

        </div>
    </li>
    <li>
        <div class="houtai_changjianqa_w">
            <span>Q</span>
            <h2>逾期多久会上征信黑名单?黑户如何申请贷款?</h2>
            <div class="clear"></div>
        </div>
        <div class="houtai_changjianqa_d">
            <span>A</span>
            <h2>春节后，上海、深圳、广州等一线城市的房地产市场普遍出现了量价齐跌的轻微下调，但有些城市却在加码限购！</h2>
        </div>
    </li>
    <li>
        <div class="houtai_changjianqa_w">
            <span>Q</span>
            <h2>从你们平台贷款，你们收费吗?</h2>
            <div class="clear"></div>
        </div>
        <div class="houtai_changjianqa_d">
            <span>A</span>
            <h2>不用！<a href="javascript:void(0);">免费申请</a></h2>
        </div>
    </li>
</ul>
</div>
</div>

<!--foot-->
<include file="public:footer" />
<!--foot-->

</body>

<script>		
$(document).ready(function (){

})
</script>

</html>

