  <include file="Public:head"/>


<body>

<!--head --> 
<div class="head_box" style=" background:#ff7c0b">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" ></i></a>
<a href="index.html" class="shouye">首页</a>
<div class="clear"></div>
</div>
<div class="head_box_center">小贷公司注册</div>
<div class="clear"></div>
</div>
<!--head -->




<div class="warpper_box">
<div class="xiaodai_box">
<div class="dis_rela">
<input type="text" placeholder="请输入用户名" onblur="this.placeholder='请输入用户名'" onfocus="this.placeholder=''"/>
<div class="shoujihao_img"><img src="images/name.svg" width="100%" ></div>
</div>

<div class="dis_rela">
<input type="text" placeholder="请输入您的手机号" onblur="this.placeholder='请输入您的手机号'" onfocus="this.placeholder=''"/>
<div class="shoujihao_img"><img src="images/phone.svg" width="100%" ></div>
</div>
<div class="phone_yzm">
<input type="text" placeholder="请输入验证码" onblur="this.placeholder='请输入验证码'" onfocus="this.placeholder=''"/>
<div class="fsdx_box"><a href="#">发送短信</a></div>
<div class="clear"></div>
</div>
<div class="dis_rela">
<input type="text" placeholder="请输入密码" onblur="this.placeholder='请输入密码'" onfocus="this.placeholder=''"/>
<div class="shoujihao_img"><img src="images/mima.svg" width="100%" ></div>
</div>
<div class="dis_rela">
<input type="text" placeholder="请重复输入密码" onblur="this.placeholder='请重复输入密码'" onfocus="this.placeholder=''"/>
<div class="shoujihao_img"><img src="images/remima.svg" width="100%" ></div>
</div>
<div class="dis_rela">
<input type="text" placeholder="请输入地址" onblur="this.placeholder='请输入地址'" onfocus="this.placeholder=''"/>
<div class="shoujihao_img"><img src="images/zhuzhi.svg" width="100%" ></div>
</div>
<div class="dis_rela">
<input type="text" placeholder="请输入公司名称" onblur="this.placeholder='请输入公司名称'" onfocus="this.placeholder=''"/>
<div class="shoujihao_img"><img src="images/gongsi.svg" width="100%" ></div>
</div>
</div>
<div class="shoujihao_btn">
<a href="#" style=" background:#ff7c0b">注册</a>
</div>
</div>




<!--foot-->
  <include file="Public:footer"/>
<!--foot-->

</body>
<script>
		

$(document).ready(function (){

})

</script>
</html>
