
<div class="right_nav">
    <ul>
		<li>
            <a href="http://luofan.unohacha.com/Index/dbj.html" class="telep">
                <img src="__IMAGES__/gedai2_right1_0.png" width="100%"/>
                
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="telep">
                <img src="__IMAGES__/telep.png" width="100%"/>
                <span class="telep_num">{$web_config.servise_phone}</span>
            </a>
        </li>
        <li>
		<a href="tencent://Message/?Uin={$web_config['servise_qq']}&websiteName=qzone.qq.com&Menu=yes"  class="kefu">
                <img src="__IMAGES__/kefu.png"  width="100%"/>
                <span>在线客服</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);"  class="return">
                <img src="__IMAGES__/return.png"  width="100%"/>
                <span>返回顶部</span>
            </a>
        </li>
    </ul>
</div>
