<include file="Public:head" />
</head>
<body>

<include file="Public:header" />
<!-- ========================================== -->
    
<!--  / warpper  -->
<div class="warpper">
 
 	<!--news_box1-->
    <div class="news_box news_box1">
    	<div class="index_container">
        	<div class="news1_box">
            	<div class="news1_left">
                	<ul class="news1_left_list">
                    	<li class="news1_left_list_first">
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left1.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>芝麻信用分678还是没有借呗？...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left2.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>【借款秘籍】原子贷老用户特权再升...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left3.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>没工作还成功下款8000元？教你高...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left4.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>这样申请无抵押信用贷款 利息便...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left5.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>万元月息只要85元 靠谱贷款公司可...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left1.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>无抵押贷款提额 一篇价值50万的...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left2.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>缺钱？申请信用卡还是小额贷款呢？</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left3.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>影响银行无抵押贷款利息的三大因素...</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left4.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>信用贷款不还后果会怎么样？</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left5.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>大学生信用贷款 这三种方式可选。</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left1.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>保单也可以申请无抵押贷款了。</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="news_left2">
                        <h3>贷款资讯</h3> 
                        <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm1.png" width="100%"/></span></div></a>
                     </div>
                     <ul class="news1_left_list">
                        <li class="news1_left_list_ts">
                        	<a href="newsdot.html">
                            	<div class="news1_left_tit">
                                    <span>同样是没工作，同样是授权淘宝进行申请，有人能秒下8000元款项...</span>
                                </div>
                                <img src="__IMAGES__/news1_left2.jpg" width="100%"/>
                            </a>
                        </li>
                    	<li style="border-top:0;">
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left1.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>原来贷款信审主要审核这五个方面，助你提升90%获批</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left2.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>贷款账户被冻结 失踪老赖来还款</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left3.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>贷款账户被冻结 失踪老赖来还款</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left4.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>贷款账户被冻结 失踪老赖来还款</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left5.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>贷款账户被冻结 失踪老赖来还款</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left1.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>贷款账户被冻结 失踪老赖来还款</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                        <li>
                        	<a href="newsdot.html">
                        	<div class="news1_left_img">
                            	<img src="__IMAGES__/news1_left2.jpg" width="100%"/>
                            </div>
                            <div class="news1_left_wz">
                            	<h4>有黑名单白名单，你听说过信贷灰名单吗？</h4>
                                <span>查看详情</span>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            	<div class="news1_center">
                	<div class="news1_center1">
                    	<div class="news1_center_top">
                    		<div class="news1_center_list">
                        	<a href="newsdot.html">
                            <img src="__IMAGES__/news_center2.jpg" width="100%"/>
                        	<div class="news1_center_wz">
                            <img src="__IMAGES__/news_center_zz.png" width="100%"/>
                            <div class="news1_center_wz1">
                            	<h4>信贷中的征信“灰名单”是怎么一回事！</h4>
                                <h5>日常生活中，有一类用户并不属于黑名单用户，但也会被拒贷，偷偷告诉你他们在征信灰名单之内？... </h5>
                                <span>查看详情</span>
                            </div>
                            </div>
                            </a>
                        </div>
                        </div>
                        <div class="news1_center_bottom">
                        <div class="news1_center_left">
                            <div class="news1_center_list news1_center_list_ts">
                        	<a href="newsdot.html">
                                <img src="__IMAGES__/news_center4.jpg" width="100%"/>
                                <div class="news1_center_wz">
                                <img src="__IMAGES__/news_center_zz.png" width="100%"/>
                                <div class="news1_center_wz1">
                                    <h4>幸亏有了你系列之：为救重病父亲，退伍老兵欲放弃多年生意</h4>
                                    <span>查看详情</span>
                                </div>
                                </div>
                                </a>
                            </div>
                            <div class="news1_center_list">
                        	<a href="newsdot.html">
                                <img src="__IMAGES__/news_center3.jpg" width="100%"/>
                                <div class="news1_center_wz">
                                <img src="__IMAGES__/news_center_zz.png" width="100%"/>
                                <div class="news1_center_wz1">
                                    <h4>本轮楼市调控潮，谁最受益谁最受伤？</h4>
                                    <span>查看详情</span>
                                </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="news1_center_right">
                            <div class="news1_center_list news1_center_list_ts">
                        	<a href="newsdot.html">
                                <img src="__IMAGES__/news_center1.jpg" width="100%"/>
                                <div class="news1_center_wz">
                                <img src="__IMAGES__/news_center_zz.png" width="100%"/>
                                <div class="news1_center_wz1">
                                    <h4>【口子】身份证贷款5分钟拿钱的小贷口子有哪些？</h4>
                                    <span>查看详情</span>
                                </div>
                                </div>
                                </a>
                            </div>
                            <div class="news1_center_list">
                        	<a href="newsdot.html">
                                <img src="__IMAGES__/news_center5.jpg" width="100%"/>
                                <div class="news1_center_wz">
                                <img src="__IMAGES__/news_center_zz.png" width="100%"/>
                                <div class="news1_center_wz1">
                                    <h4>房价只涨不跌的秘密全在这里了！</h4>
                                    <span>查看详情</span>
                                </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        </div>
                    </div>
                    <div class="news1_center2">
                    	<div class="news1_center2_img">
                        	<img src="__IMAGES__/news_center2_1.jpg" width="100%"/>
                        </div>
                        	<a href="newsdot.html">
                        <div class="news1_center2_wz">
                        	<h4>商住房成高压线，更多人或将离开北京</h4>
                            <h5>3月26日晚间，北京“商住两用”类物业的限购措施横空出世。多位业内人士认为，这一政策的目的可不是抑制房价上涨... </h5>
                            <span>查看详情</span>
                        </div>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="news1_center1">
                    	<div class="news1_center_top">
                    		<div class="news1_center_list">
                        	<a href="newsdot.html">
                        	<img src="__IMAGES__/news_center6.jpg" width="100%"/>
                        	<div class="news1_center_wz">
                            <img src="__IMAGES__/news_center_zz.png" width="100%"/>
                            <div class="news1_center_wz1">
                            	<h4>贷款额度太低怎么办？五招帮你轻松提额</h4>
                                <h5>急用钱贷款，却贷不到想要的额度怎么办？好多有贷款需求的朋友都为这个问题伤透了脑筋... </h5>
                                <span>查看详情</span>
                            </div>
                            </div>
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="news1_center3">
                    	<div class="news1_center3_left">
                        	<div class="news1_center3_list news1_center3_list_ts">
                        	<a href="newsdot.html">
                            	<img src="__IMAGES__/news_center7.jpg" width="100%"/>
                                <div class="news_center3_wz">
                                	<h4>征信“黑名单”2年消除还是5年消除？</h4>
                                    <h5>如果征信报告上有不良记录，基本就跟大多数的贷款无缘了。但，我们和征信系统有... </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                        	<div class="news1_center3_list">
                        	<a href="newsdot.html">
                            	<img src="__IMAGES__/news_center8.jpg" width="100%"/>
                                <div class="news_center3_wz">
                                	<h4>注意！小心这13种最易产生信用污点的行为！</h4>
                                    <h5>这个个人信用越来越重要的今天，个人信用将直接影响到房贷、小额贷款的申请。那... </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="news1_center3_right">
                        	<div class="news1_center3_list news1_center3_list_ts">
                        	<a href="newsdot.html">
                            	<img src="__IMAGES__/news_center9.jpg" width="100%"/>
                                <div class="news_center3_wz">
                                	<h4>身份证黑名单几年解除？六类行为会让你上个人信用黑名单！</h4>
                                    <h5>生活中，贷款逾期，或是信用卡逾期的事情偶有发生，原因多种多样，一旦出现问题... </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                        	<div class="news1_center3_list">
                        	<a href="newsdot.html">
                            	<img src="__IMAGES__/news_center1.jpg" width="100%"/>
                                <div class="news_center3_wz">
                                	<h4>支付宝芝麻信用分更新 你的芝麻分涨了吗？</h4>
                                    <h5>每个月6日，就是支付宝芝麻信用分更新的日子，打开芝麻信用，你的芝麻分今天涨... </h5>
                                    <span>查看详情</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            	<div class="news1_right">
                	<ul class="news1_right_list">
                    	<li class="news1_right_list_first">
                        	<a href="newsdot.html">
                            	<h4>重磅！厦门楼市调控连夜再升级 个税缴3年认房又认贷！</h4>
                                <h5>今天深夜，厦门楼市调控再度升级加码，厦门市国土资源...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京“商改住”限购！在建在售“商办”不得卖个人</h4>
                                <h5>对规划用途为商办类的房屋，中介机构不得以任何方式...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                        <li>
                        	<img src="__IMAGES__/news1_right2.jpg" width="100%"/>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京地区16家银行房贷再收紧 95折成主流</h4>
                                <h5>3月22日，记者发现多家银行在执行3月17日北京楼市调控...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京严审购房资格：非京籍纳税改成连续60个月</h4>
                                <h5>继3.17楼市调控新政发布后，昨天市地税局、市住建委联合...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>多部门表态 限购下楼市何去何从？答案都在这里！</h4>
                                <h5>京出台限购之后，房地产市场上风声鹤唳，电脑前守着...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>部分银行证实放款速度减缓 房贷垫资现抬头迹象</h4>
                                <h5>房贷收紧已在今年1月的二套房贷款期限等方面有所体现...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>限购后该怎么买房？给购房人的三点建议</h4>
                                <h5>3月份真是个政策集中月，上周五北京出台限贷升级政策...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                            	<h4>北京楼市限购政策升级 每月房贷或将多出近千元</h4>
                                <h5>近期，随着限购政策不断加码以及限购城市的增加，关于...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    	<li class="news1_right_list_last">
                        	<a href="newsdot.html">
                            	<h4>买房最容易忽略的三大维权问题 任何一条都让你倾家荡产</h4>
                                <h5>众所周知，买房子作为很多人的终身大事来说，其本身就是...</h5>
                                <span>查看详情</span>
                            </a>
                        </li>
                    </ul>
                    <div class="news1_right2">
                        <h3>房贷资讯</h3>
                        <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm1.png" width="100%"/></span></div></a>
                    </div>
                    <ul class="news1_right3_list">
                    	<li>
                        	<a href="newsdot.html">
                                <h4>在北京买房，不光学历不顶用，经济学常识也不顶用</h4>
                                <div class="news1_right3_list_wz">
                                    <h5>春节刚过，北京学区房的热度再次引起人们的关注...</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="news1_right3_list_img">
                                	<img src="__IMAGES__/news1_right3_1.jpg" />
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                                <h4>楼市调控被挤出的资金 会流向股市吗？</h4>
                                <div class="news1_right3_list_wz">
                                    <h5>101岁高龄的美国银行家、慈善家和总统顾问大卫·洛克菲勒逝世的消息...</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="news1_right3_list_img">
                                	<img src="__IMAGES__/news1_right3_2.jpg" />
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                                <h4>青岛限购升级:认房认贷 新购住房两年内禁止交易</h4>
                                <div class="news1_right3_list_wz">
                                    <h5>青岛市限购加码，自2017年3月31日起，在青岛市范围内（六区四市）购买的新建...</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="news1_right3_list_img">
                                	<img src="__IMAGES__/news1_right3_3.jpg" />
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    	<li>
                        	<a href="newsdot.html">
                                <h4>一天内全国6城出手限购 楼市调控风暴正在持续</h4>
                                <div class="news1_right3_list_wz">
                                    <h5>导读：在北京“10天9策”的带动下，全国多城市均出楼市调控大招，更有部分城市...</h5>
                                    <span>查看详情</span>
                                </div>
                                <div class="news1_right3_list_img">
                                	<img src="__IMAGES__/news1_right3_1.jpg" />
                                </div>
                                <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--news_box1-->
        
    <!--news_box3-->
    <div class="news_box news_box3">
    	<div class="index_container">
        	<div class="news3_box">
                <div class="news3_box_top">
                    <div class="news3_list">
                        <div class="news3_tit">
                            <h4><span class="shuxian_one"></span>理财资讯</h4>
                            <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm2.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_1.jpg" width="100%"/>
                        <ul class="news3_list_wz">
                            <li class="news3_list_first"><a href="newsdot.html">互金整治将迎新时间窗口 平台称整改力度或加大...</a></li>
                            <li><a href="newsdot.html">监管理性考量 互金专项整治期限最长延期...</a></li>
                            <li><a href="newsdot.html">借钱买化妆品女生被逼停学 本金加利息还...</a></li>
                        </ul>
                    </div>
                    <div class="news3_list">
                        <div class="news3_tit news3_tit2">
                            <h4><span class="shuxian_two"></span>车贷资讯</h4>
                             <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm3.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_2.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz2">
                            <li class="news3_list_first"><a href="newsdot.html">成品油价或迎两连跌 机构预测将创年内最大跌幅...</a></li>
                            <li><a href="newsdot.html">想要买车，是选择贷款好还是刷信用卡好?</a></li>
                            <li><a href="newsdot.html">上汽金融汽车贷款审批需要多久，流程怎么走？</a></li>
                        </ul>
                    </div>
                    <div class="news3_list">
                        <div class="news3_tit news3_tit3">
                            <h4><span class="shuxian_three"></span>房贷资讯</h4>
                             <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm4.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_3.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz3">
                            <li class="news3_list_first"><a href="newsdot.html">什么是一类经济适用房和二类经济适用房？</a></li>
                            <li><a href="newsdot.html">除了房价之外，新手买房不要忽视这几点...</a></li>
                            <li><a href="newsdot.html">江西南昌市南昌县限购：有房的不得再买...</a></li>
                        </ul>
                    </div>
                    <div class="news3_list news3_list_ts">
                        <div class="news3_tit news3_tit4">
                            <h4><span class="shuxian_four"></span>信用卡贷款</h4>
                             <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm5.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_4.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz4">
                            <li class="news3_list_first"><a href="newsdot.html">信用卡被封怎么办？交行、工行及中信解封技术！</a></li>
                            <li><a href="newsdot.html">细讲我的招商信用卡如何一年从5000提到60000的...</a></li>
                            <li><a href="newsdot.html">首曝汇丰提额技巧+花旗交行申卡新通道...</a></li>
                        </ul>
                    </div>
                	<div class="clear"></div>
                </div>
                <div class="news3_box_bottom">
                    <div class="news3_list">
                        <div class="news3_tit news3_tit5">
                            <h4><span class="shuxian_five"></span>经营贷款</h4>
                            <a href="newslist.html"> <div class="news_rm">更多<span><img src="__IMAGES__/news_rm6.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_5.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz5">
                            <li class="news3_list_first"><a href="newsdot.html">网络支付用收款码还是付款码?一商户搞混被骗万元...</a></li>
                            <li><a href="newsdot.html">银行不批贷、借呗白条额度低，小微企业信贷如何突围？</a></li>
                            <li><a href="newsdot.html">银行系电商贷低利率抢客 淘宝卖家的春天来了？</a></li>
                        </ul>
                    </div>
                    <div class="news3_list">
                        <div class="news3_tit news3_tit6">
                            <h4><span class="shuxian_six"></span>新手贷款</h4>
                             <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm7.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_6.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz6">
                            <li class="news3_list_first"><a href="newsdot.html">征信，贷款的几大误区，你知道多少？</a></li>
                            <li><a href="newsdot.html">网贷、小贷、网络小贷，这三者到底有什么区别？</a></li>
                            <li><a href="newsdot.html">小额贷款VS信用卡分期，哪个更划算？</a></li>
                        </ul>
                    </div>
                    <div class="news3_list">
                        <div class="news3_tit news3_tit7">
                            <h4><span class="shuxian_seven"></span>抵押贷款</h4>
                             <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm8.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_7.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz7">
                            <li class="news3_list_first"><a href="newsdot.html">招行质押贷款怎么贷？</a></li>
                            <li><a href="newsdot.html">丈夫偷走妻子房产证抵押贷款 法院判银行担责</a></li>
                            <li><a href="newsdot.html">理财产品被质押贷款22万失踪 银行不承担赔偿责任</a></li>
                        </ul>
                    </div>
                    <div class="news3_list news3_list_ts">
                        <div class="news3_tit news3_tit8">
                            <h4><span class="shuxian_eight"></span>无抵押贷款</h4>
                             <a href="newslist.html"><div class="news_rm">更多<span><img src="__IMAGES__/news_rm9.png" width="100%"/></span></div></a>
                        </div>
                        <img src="__IMAGES__/news3_8.jpg" width="100%"/>
                        <ul class="news3_list_wz news3_list_wz8">
                            <li class="news3_list_first"><a href="newsdot.html">哪种还款方式最划算？看过来，教你省点钱！</a></li>
                            <li><a href="newsdot.html">微信支付和支付宝区别是什么？这六点上大有不同！</a></li>
                            <li><a href="newsdot.html">支付宝账号被盗用户冤枉背上贷款 律师：无需还钱</a></li>
                        </ul>
                    </div>
                	<div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!--news_box3-->
    
</div>
<!--  / warpper  -->

<!-- ========================================== -->
<include file="Public:right" />
<include file="Public:footer" />
<!-- ========================================== -->

</body>
<script>

var mySwiper1 = new Swiper('.swiper1',{
        grabCursor: true,
        spaceBetween: 0,
        slidesPerGroup : 1,//设置几个一切换
        slidesPerView : 1,//一行几个
        paginationClickable: true,
        autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
    });
    $('.one_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipePrev();
    });
    $('.two_btn').on('click', function(e){
        e.preventDefault();
        mySwiper1.swipeNext();
    });


var mySwiper2 = new Swiper('.swiper2',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerView : 4,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.fangdai_lt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.fangdai_rt').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
</script>


<script>



$(document).ready(function(){
	$(window).load(function(){
		$(".swiper1").height($(".swiper1 .ban_box ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
		
	})
	$(window).resize(function(){
        $(".swiper1").height($(".swiper1 .ban_box ").height());
		$('.swiper2').height($('.swiper2 img').height()+60)
	});

	
})	


$(window).scroll(function(){
	var scrollT=$(window).scrollTop();
	if(scrollT>100&&scrollT<$('.footer').offset().top-$(window).height()){
		$('.right_nav').css('display','block');
	}else{
		$('.right_nav').css('display','none');
	}

})	
</script>

</html>
