<include file="Public:head"/>
<link href="__CSS__/fx.css" type="text/css"  rel="stylesheet" />


</head>

<body>
<!--head -->


<div class="head_box houtai">
<div class="head_box_left">
<a class="houtui" href="javascript:history.back(-1)"><i class="fa fa-angle-left" style=" line-height:30px;color:#357ce2" ></i></a>
<a href="__HOST__/Index/" class="shouye" style=" line-height:24px; color:#357ce2" >首页</a>
<div class="clear"></div>
</div>
<div class="head_box_right">
<a class="grzx" href="__HOST__/Distribution/fx_my"><img src="__IMAGES__/grzx.png"></a>
</div>
<div class="head_box_center" style=" color:#555; line-height:35px;">代理中心</div>
<div class="clear"></div>

</div>
<!--head --> 

<div class="fx_buy">
	<div class="fx_li">
    	<div class="fx_left">
        	<img src="__IMAGES__/fx_buy.jpg" />
        </div>
        <div class="fx_right">
        	<h3>牛哄哄二级代理商</h3>
            <h4>该资格仅在牛哄哄有效</h4>
            <h5>￥<span>200</span>.00</h5>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="fx_fs">
    	<h5>支付方式</h5>
    	<label>
        	<input type="radio" value="fx_zfb" name="fx_zffs" checked="checked"/>
            <span>
            	<img src="__IMAGES__/zfb.png" />
            </span>
        </label>
    	<label>
        	<input type="radio" value="fx_zfb" name="fx_zffs"/>
            <span>
            	<img src="__IMAGES__/wxzf.png" />
            </span>
        </label>
        <div class="clear"></div>
    </div>
    
    <div class="fx_btn">
    	<label>
    		<input type="radio"/>
            <h5>我已同意并阅读<a href="#">《牛哄哄购买协议》</a></h5>
        </label>
        
        <a href="__HOST__/Distribution/">立即支付</a>
    </div>
</div>

<!--foot-->
<include file="public:footer"/>
<!--foot-->

</body>

</html>
