<include file="Public:head"/>

<!-- end header -->
<style>
    .wxtables td .btn {
        padding: 0px 6px;
    }

    #J_wx_fans {
        vertical-align: -2px;
        margin-top: 5px;
    }

    .select.mini.new {
        width: 140px;
    }

    input.mini.Wdate {
        width: 100px;
    }
</style>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<div class="container">


    <div class="inner clearfix">
        <include file="Public:left" />
        <!-- end content-left -->

        <div class="content-right fl">


            <h1 class="content-right-title">充值</h1>
                    
					<div>
						<img src="{$pic['wx_ewm']}" alt=""><br>
						<br><h1>微信支付</h1><br>
					</div>
            <div>
                <img src="{$pic['alipay_ewm']}" alt=""><br>
                <br><h1>支付宝支付</h1><br>
                <h1>可以直接转账支付宝或者微信，转账后请联系客服</h1>
            </div>
              
            </div>
        </div>
    </div>
</div>
<!-- end container -->

<include file="Public:foot"/>

->