<include file="Public:head"/>
<link rel="stylesheet" href="__CSS__//lists.css">

<div class="container">
<div class="inner clearfix"> <include file="Public:left"/>
  <!-- end content-left -->

  <div class="content-right fl">
    <h1 class="content-right-title">产品列表</h1>
    <a href="{:U('/Supplier/Xgoods/addGoods')}" class="btn btn-success">发布产品</a>
    <form action="" method="post">
      <div class="tables-searchbox newcearchbox">


        <select name="cate_id" class="select small newselect">
          <option value="" selected="">所有分类</option>
          <foreach name="categorylist" item="vo">
            if()
            <option value="{$vo.id}">{$vo.classname}</option>
            <foreach name="vo.cate" item="vo1">
              <option value="{$vo1.id}">&nbsp;&nbsp;&nbsp;|-{$vo1.classname}</option>
            </foreach>
          </foreach>
        </select>


        <input type="text" placeholder="产品名称" class="input" name="name" value="" >
        <input type="text"  name="minprice" id="starttime" value="{$minprice}" placeholder="价格区间" class="input Wdate mini" >
        <span class="mgr5">至</span>
        <input type="text"  name="maxprice" value="{$maxprice}" id="endtime" placeholder="价格区间" class="input Wdate mini" >
        <!-- <input type="text" placeholder="商家编码" class="input" name="goods_no" value="" > -->
        <select name="class" class="select mini">
          <option <eq name="class" value="">selected</eq> value="">请选择</option>
          <option <eq name="class" value="is_new">selected</eq> value="is_new">新品速递</option>
          <option <eq name="class" value="is_jingxuan">selected</eq> value="is_jingxuan">猜你喜欢</option>
          <option <eq name="class" value="is_cuxiao">selected</eq> value="is_cuxiao">热门兑换</option>
          <option <eq name="class" value="is_good">selected</eq> value="is_good">热兑商品</option>
        </select>
        <select name="is_sale" class="select mini">
          <option <eq name="is_sale" value="">selected</eq> value="">请选择上下架</option>
          <option <eq name="is_sale" value="1">selected</eq> value="1">上架</option>
          <option <eq name="is_sale" value="0">selected</eq> value="0">下架</option>
        </select>
        <select name="is_sku" class="select mini">
          <option <eq name="is_sku" value="">selected</eq> value="">请选择sku</option>
          <option <eq name="is_sku" value="1">selected</eq> value="1">是sku</option>
          <option <eq name="is_sku" value="0">selected</eq> value="0">不是</option>
        </select>
        <!-- <input type="text" placeholder="商家编码" class="input" name="goods_no" value="" > -->
        <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
        <!--<a href="/Item/item_export" class="btn btn-warning"><i class="gicon-share white"></i>-->
        <!--产品导出</a>-->
      </div>
      <div class="tabs clearfix mgt10">
      <a href="{:U('/Supplier/Xgoods/goodsList')}" class="<eq name="_GET['is_sale']" value="">active</eq> tabs_a fl">全部({$counts})</a>
      <a href="{:U('/Supplier/Xgoods/goodsList/is_sale/2')}" class="<eq name="_GET['is_sale']" value="2">active</eq> tabs_a fl">出售中({$count1})</a>
       <a href="{:U('/Supplier/Xgoods/goodsList/is_sale/1')}" class="<eq name="_GET['is_sale']" value="1">active</eq> tabs_a fl">仓库中({$count2})</a>
        <!--<a href="{:U('/Supplier/Xgoods/outstock')}" class=" tabs_a fl">已售罄(1)</a>-->
        <!--<a href="{:U('/Supplier/Xgoods/warn')}" class=" tabs_a fl">警戒(0)</a>-->

      </div>
    </form>
    <!-- end tabs -->

    <table class="wxtables mgt10" style="text-align:center;">
      <colgroup>
      <col width="2%">
        <col width="3%">
      <col width="22%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="5%">
      <col width="20%">
      </colgroup>
      <thead>
        <tr class="po_list">
          <td><i class="icon_check"></i></td>
          <td>ID</td>
          <td>产品</td>
          <td>是否上架</td>
          <td>排序</td>
          <td>分类</td>
          <td>销量</td>
          <td>新品速递</td>
          <td>猜你喜欢</td>
          <td>热门兑换</td>
          <td>热兑商品</td>
          <td>sku</td>
          <!--<td>购买限制</td>-->
          <td>操作<span></span></td>
        </tr>
      </thead>
      <tbody>
        <foreach name="cache" item="vo">
          <tr>
            <td><input type="checkbox" class="checkbox table-ckbs" data-id="{$vo['id']}"></td>
            <td>{$vo.id}</td>
            <td><div class="goodswrap"> <a href="javascript:void(0)" class="block" target="_blank" title="{$vo['goods_name']}">
                <div class="table-item-img"> <img src="{$vo['logo_pic']}" alt=""> </div>
                <div class="table-item-info" style="width: 100px">
                  <p style="height:auto">{$vo.goods_name} <br/></p>
                  <span class="oprice">市场价：¥{$vo.oprice}</span><br/>
                  <span class="integral">积分价：¥{$vo.integral}</span><br/>
                   </div>
                </a> </div></td>
            <!-- <td><div class="stockwrap"> <span>{$vo.kucun}</span> </div></td> -->
            <td><if condition="($vo.is_sale eq 1)"> 上架
                <else/>
                下架</if></td>

            <td> {$vo.sort} </td>
            <td class="class_name">
              <span>{$vo.classname}</span>
              <i class="edit-item j-geteditclassName" title="编辑分类" data-id="2151938" data-cid="" style="right:50%;margin-right:-8px;"></i>
            </td>
            <td class="class_name">
              <span>{$vo.sell_nums}</span>
            </td>

            <td>
              <div class="serialwrap">
                <a style='color:#<if condition="($vo.is_new eq 1) ">0C0<else />c00</if>;font-size:20px;text-align:center;cursor:pointer;' class="change-status" data-item="is_new" data-id="{$vo.id}">
                <if condition="($vo.is_new eq 1) ">√<else />×</if>
                </a>
              </div>
            </td>

            <td>
              <div class="serialwrap">
                <a style='color:#<if condition="($vo.is_jingxuan eq 1) ">0C0<else />c00</if>;font-size:20px;text-align:center;cursor:pointer;' class="change-status" data-item="is_jingxuan" data-id="{$vo.id}">
                 <if condition="($vo.is_jingxuan eq 1) ">√<else />×</if>
                </a>
              </div>
            </td>

            <td>
              <div class="serialwrap">
                <a style='color:#<if condition="($vo.is_good eq 1) ">0C0<else />c00</if>;font-size:20px;text-align:center;cursor:pointer;' class="change-status" data-item="is_good" data-id="{$vo.id}">
                 <if condition="($vo.is_good eq 1) ">√<else />×</if>
                </a>
              </div>
            </td>
            <td>
              <div class="serialwrap">
                <a style='color:#<if condition="($vo.is_cuxiao eq 1) ">0C0<else />c00</if>;font-size:20px;text-align:center;cursor:pointer;' class="change-status" data-item="is_cuxiao" data-id="{$vo.id}">
                 <if condition="($vo.is_cuxiao eq 1) ">√<else />×</if>
                </a>
              </div>
            </td>
            <td>
              <div class="serialwrap">
                <a style='color:#<if condition="($vo.is_sku eq 1) ">0C0<else />c00</if>;font-size:20px;text-align:center;cursor:pointer;' class="change-status" data-item="is_sku" data-id="{$vo.id}">
                 <if condition="($vo.is_sku eq 1) ">√<else />×</if>
                </a>
              </div>
            </td>
            <td>
              <a href="{:U('/Supplier/Xgoods/editGoods/id')}/{$vo.id}" class="btn btn-primary j-editClass" title="修改">编辑</a>
              <a href="##" class="btn change-is_sale <eq name="vo['is_sale']" value="0">btn-success<else />btn-danger</eq>" data-id="{$vo.id}"  title="上架"><eq name="vo['is_sale']" value="0">上架<else />下架</eq></a>
              <a href="{:U('/Supplier/Xgoods/setSKU/id')}/{$vo.id}" class="btn btn-success j-editClass" title="修改">sku</a>
              <a href="{:U('/Supplier/Xgoods/commentList/id')}/{$vo.id}" class="btn btn-success j-editClass" title="修改">查看评价</a>
              <a href="{:U('/Supplier/Xgoods/delGoods/id')}/{$vo.id}" onclick="{if(!confirm('确定删除产品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除" data-id="2151938">删除</a>
              </td>
          </tr>
        </foreach>
      </tbody>
    </table>
    <!-- end wxtables -->
    <div class="tables-btmctrl clearfix">
      <div class="fl">
        <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
        <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>
        <a href="javascript:;" data-item="is_sale" class="btn btn-primary change-all-status">上架反选</a>
        <a href="javascript:;" data-item="is_new" class="btn btn-primary change-all-status">新品速递反选</a>
        <a href="javascript:;" data-item="is_jingxuan" class="btn btn-primary change-all-status">猜你喜欢反选</a>
        <a href="javascript:;" data-item="is_good" class="btn btn-primary change-all-status">热门兑换反选</a>
        <a href="javascript:;" data-item="is_cuxiao" class="btn btn-primary change-all-status">热兑商品反选</a>
        <a href="javascript:;" data-item="is_sku" class="btn btn-primary change-all-status">sku反选</a>
        <a href="javascript:;" class="btn btn-primary btn_table_delAll">删除</a>
        <div class="fr">
          <div class="pages"> {$page} </div>
          <!-- end paginate -->
        </div>
      </div>
      <!-- end tables-btmctrl -->

    </div>
    <!-- end content-right -->
  </div>
</div>
<!-- end container -->
<include file="Public:foot"/>
<script>
$(".change-status").click(function (){
  var _this= $(this)
  var id   = $(this).attr("data-id");
  var item = $(this).attr("data-item");
  $.post("{:U('Admin/Xgoods/changeStatus')}", {id:id,item:item}, function(data){
    if(data.status == 1){
      _this.css({color:"#0C0"}).html("√");
    }else if(data.status == 2){
      _this.css({color:"#c00"}).html("×");
    }else{
      alert(data.info);
    }
  }, "json")
})
$(".change-all-status").click(function (){
  if(!confirm("确定改变所有选中产品的状态？")){
    return false;
  }
  var ids = "";
  var item = $(this).attr("data-item");
  $(".table-ckbs:checked").each(function(i){
    ids += $(this).attr("data-id")+"-"
  })
  if(!ids){
    alert("请选择产品！");return false;
  }
  $.post("{:U('Admin/Xgoods/changeAllStatus')}" ,{ids:ids,item:item}, function (data){
    if(data.status){
      window.location.reload();
    }else{
      alert(data.info);
    }
  })
})
$(".change-is_sale").click(function (){
  var id   = $(this).attr("data-id");
  var item = "is_sale";
  $.post("{:U('Admin/Xgoods/changeStatus')}", {id:id,item:item}, function(data){
    if(data.status){
      window.location.reload()
    }else{
      alert(data.info);
    }
  }, "json")
})
$(".btn_table_delAll").click(function(){
  if(!confirm("确定删除所有选中的产品？")){
    return false;
  }
  var ids = "";
  $(".table-ckbs:checked").each(function(i){
    ids += $(this).attr("data-id")+"-"
  })
  if(!ids){
    alert("请选择产品！");return false;
  }
  $.post("{:U('Admin/Xgoods/delGoods')}" ,{ids:ids}, function (data){
    alert(data.info);
    if(data.status){
      window.location.reload();
    }
  })
})
</script>