<include file="Public:head"/>
<style>
    .imgnav{
        max-height: 30px;
        overflow: hidden;
        cursor: pointer;
    }
    .imgwrapper{
        display: block;
        width: 78px;
        height: 78px;
        overflow: hidden;
    }
    .imgwrapper img{
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        border:0;
    }
    .spanpd10{
        margin:10px;
    }
    .wxtables.wxtables-sku.newtable{
        width: 40%;
        margin: 0;
    }
    .img-list li{
        width: 60px;
        height:60px;
    }
    textarea {
        resize: both;
    }
    .formitems .fi-name{width:180px !important;}
    .cst_h3 span{font-weight: normal;}
    #imgdiv img{ max-width:190px; max-height:190px; display:none; margin:5px;}
    .btnimage{width:80px; height:30px; background:white; border:1px solid #d9d9d9;cursor:pointer; position:relative; text-align:center; line-height:31px;}
    .file{ position:absolute; top:0px; left:0; width:80px; height:30px; background:white; border:1px solid #d9d9d9;cursor:pointer; opacity:0}
    #imgdiv2 img{ max-width:88px; max-height:88px; display:none; margin:5px;}
    #xuanze2{ width:60px; height:30px; background:white; border:1px solid #d9d9d9; }
    #xuanze2:hover{ background:#E6E6E6; }
    .huase{display:none; width:86px; height:30px; margin:5px; text-indent:5px;}

    </style>
<script type="text/javascript" src="__LHG__/lhgcore.min.js"></script>
<script type="text/javascript" src="__LHG__/lhgcalendar.min.js"></script>
<script type="text/javascript" src="__JS__/datepicker/WdatePicker.js"></script>
<div class="container">
  <div class="inner clearfix"> <include file="Public:left"/> 
    <!-- end content-left -->
    
    <div class="content-right fl">
      <h1 class="content-right-title">积分管理</h1>
      <form aciton="{:U('/Supplier/Xgoods/editGoods')}" enctype="multipart/form-data" method="post" id="add_step2" onsubmit="return toVaild()">
      <input type="hidden" name="id" value="{$cache['id']}">
        <div class="panel-single panel-single-light mgt20">
          <h3 class="cst_h3 mgb20">基本信息</h3>

		<div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>购买商品返还积分百分比：</label>
            <div class="form-controls">
                <input type="text" class="input tage" value="{$res.tage}"  name="tage" placeholder="购买商品返还积分百分比"/>
                <input type="hidden" value="{$res.id}" class="id"/>
                      <span style="color: #aaafff">(单位：%) 直接输入整数即可</span> 
                </div>
            </div>
        
        <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>市场价换算成积分百分比：</label>
            <div class="form-controls">
                <input type="text" class="input rate" value="{$res.rate}"  name="rate" placeholder="市场价换算成积分百分比"/>
                      <span style="color: #aaafff">直接输入整数即可</span> 
                </div>
            </div>
            
        <!-- end 详情及其它 -->
        <div class="panel-single panel-single-light mgt20 txtCenter"> 
          <a href="javascript:history.back();" class="btn">取消</a>
          <a id="submit" class="btn btn-primary" >保存</a>
        </div>
      </form>
    </div>
    <!-- end content-right --> 
  </div>
</div>
<!-- end container --> 

<include file="Public:foot"/>

<!--<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/uploadPreview.min.js"></script> -->

<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript">
    $(function () { 
        var percent = $('.xuanze_percent'); 
        var progress = $('.xuanze_percent');
        $("#xuanze").wrap("<form id='myupload1' action='{:U('/Supplier/Index/addImage')}' method='post' enctype='multipart/form-data'></form>"); 
        $("#xuanze").change(function(){ //选择文件 
            $("#myupload1").ajaxSubmit({ 
                dataType:  'json', //数据格式为json 
                beforeSend: function() { //开始上传 
                    progress.show(); //显示进度条
                    var percentVal = '0%';
                    percent.html(percentVal);   
                }, 
                uploadProgress: function(event, position, total, percentComplete) { 
                    var percentVal = percentComplete + '%'; //获得进度 
                    percent.html(percentVal); //显示上传进度百分比 
                }, 
                success: function(data) { //成功 
                    var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" width="300" ><input type="hidden" name="logo_pic" id="pic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
                    $('.xuanze_showimge').html(img);
                    progress.hide();
                }, 
                error:function(xhr){ //上传失败 
                    //console.log(xhr.status)
                } 
            }); 
        }); 
    });

$("#submit").click(function (){
    var post = {};
    post.tage         = $.trim($(".tage").val());
    post.rate         = $.trim($(".rate").val());
	post.id 		  = $.trim($(".id").val());

    if(!post.tage){
        alert("购买商品返还积分百分比不能为空！");return false;
    }
    if(!post.rate){
        alert("积分换算成余额百分比不能为空！");return false;
    }
    $.post("{:U('Admin/Xgoods/integral')}", post, function (data){
        alert(data.info);
        if(data.status == 1){
            window.location.reload();
        }
    }, "json")
    return false;
})
</script>
<!--上传图片-end->


